@font-face {
  font-family: "bebas-neue";
  src:  url("/wfiles/fonts/extras/bebas-neue.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/wfiles/fonts/extras/bebas-neue.woff") format("woff"), /* Modern Browsers */
        url("/wfiles/fonts/extras/bebas-neue.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}