@font-face {
    font-family: 'brockscript';
    src: url('/wfiles/fonts/brockscript.woff2') format('woff2'),
         url('/wfiles/fonts/brockscript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}