@font-face {
    font-family: 'chopinscript';
    src: url('/wfiles/fonts/extras/chopinscript.woff2') format('woff2'),
         url('/wfiles/fonts/extras/chopinscript.woff') format('woff'),
         url('/wfiles/fonts/extras/chopinscript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}