@font-face {
  font-family: "Fengardo Neue";
  src:  url("/fonts/extras/fengardo-neue.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/fonts/extras/fengardo-neue.woff") format("woff"), /* Modern Browsers */
        url("/fonts/extras/fengardo-neue.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}