@font-face {
  font-family: "great-vibes";
  src:  url("/wfiles/fonts/extras/great-vibes.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/wfiles/fonts/extras/great-vibes.woff") format("woff"), /* Modern Browsers */
        url("/wfiles/fonts/extras/great-vibes.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}