@font-face {
  font-family: "montserrat";
  src:  url("/wfiles/fonts/extras/montserrat.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/wfiles/fonts/extras/montserrat.woff") format("woff"), /* Modern Browsers */
        url("/wfiles/fonts/extras/montserrat.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-weight: normal;
  font-style: normal;
}