@font-face {
  font-family: "open-sans";
  src:  url("/wfiles/fonts/extras/open-sans.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/wfiles/fonts/extras/open-sans.woff") format("woff"), /* Modern Browsers */
        url("/wfiles/fonts/extras/open-sans.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}