@font-face {
    font-family: 'parisienne';
    src: url('/wfiles/fonts/extras/parisienne.woff2') format('woff2'),
         url('/wfiles/fonts/extras/parisienne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}