@font-face {
  font-family: "quicksand";
  src:  url("/wfiles/fonts/extras/quicksand.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/wfiles/fonts/extras/quicksand.woff") format("woff"), /* Modern Browsers */
        url("/wfiles/fonts/extras/quicksand.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-weight: normal;
  font-style: normal;
}