@font-face {
  font-family: "Quicksand";
  src:  url("/fonts/extras/quicksand.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/fonts/extras/quicksand.woff") format("woff"), /* Modern Browsers */
        url("/fonts/extras/quicksand.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-weight: normal;
  font-style: normal;
}