@font-face {
  font-family: 'wasql_icons';
  src:  url('/wfiles/fonts/wasql_icons.eot?jtlqa9');
  src:  url('/wfiles/fonts/wasql_icons.eot?jtlqa9#iefix') format('embedded-opentype'),
    url('/wfiles/fonts/wasql_icons.ttf?jtlqa9') format('truetype'),
    url('/wfiles/fonts/wasql_icons.woff?jtlqa9') format('woff'),
    url('/wfiles/fonts/wasql_icons.svg?jtlqa9#wasql_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wasql_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort-up:before {
  content: "\e900";
}
.icon-spin1:before {
  content: "\e901";
}
.icon-spin2:before {
  content: "\e902";
}
.icon-spin3:before {
  content: "\e903";
}
.icon-spin4:before {
  content: "\e904";
}
.icon-spin5:before {
  content: "\e905";
}
.icon-spin6:before {
  content: "\e906";
}
.icon-spin7:before {
  content: "\e907";
}
.icon-spin8:before {
  content: "\e908";
}
.icon-sql:before {
  content: "\e909";
}
.icon-square:before {
  content: "\e90a";
}
.icon-square-check:before {
  content: "\e90b";
}
.icon-square-minus:before {
  content: "\e90c";
}
.icon-square-plus:before {
  content: "\e90d";
}
.icon-square-x:before {
  content: "\e90e";
}
.icon-stairs .path1:before {
  content: "\e90f";
  color: rgb(253, 253, 253);
}
.icon-stairs .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-star:before {
  content: "\e911";
  color: #ffca2f;
}
.icon-star-empty:before {
  content: "\e912";
  color: #ffca2f;
}
.icon-star-half:before {
  content: "\e913";
  color: #ffca2f;
}
.icon-star-half-empty:before {
  content: "\e914";
  color: #ffca2f;
}
.icon-stopwatch:before {
  content: "\e915";
}
.icon-stretch:before {
  content: "\e916";
}
.icon-strikethrough:before {
  content: "\e917";
}
.icon-subscript:before {
  content: "\e918";
}
.icon-suitcase:before {
  content: "\e919";
}
.icon-sun:before {
  content: "\e91a";
  color: #ffdf22;
}
.icon-sun2:before {
  content: "\e91b";
  color: #ffdf22;
}
.icon-superscript:before {
  content: "\e91c";
}
.icon-support:before {
  content: "\e91d";
}
.icon-sword:before {
  content: "\e91e";
}
.icon-swords:before {
  content: "\e91f";
}
.icon-sync:before {
  content: "\e920";
}
.icon-sync-diff:before {
  content: "\e921";
}
.icon-sync-pull:before {
  content: "\e922";
}
.icon-sync-push:before {
  content: "\e923";
}
.icon-table:before {
  content: "\e924";
}
.icon-table-add:before {
  content: "\e925";
}
.icon-table-remove:before {
  content: "\e926";
}
.icon-tablet:before {
  content: "\e927";
}
.icon-tag:before {
  content: "\e928";
}
.icon-tags:before {
  content: "\e929";
}
.icon-target:before {
  content: "\e92a";
}
.icon-teacher:before {
  content: "\e92b";
}
.icon-th:before {
  content: "\e92c";
}
.icon-thermometer:before {
  content: "\e92d";
  color: #a00;
}
.icon-th-list:before {
  content: "\e92e";
}
.icon-th-thumb:before {
  content: "\e92f";
}
.icon-th-thumb-empty:before {
  content: "\e930";
}
.icon-thumbs-down:before {
  content: "\e931";
}
.icon-thumbs-up:before {
  content: "\e932";
}
.icon-ticket:before {
  content: "\e933";
}
.icon-timezone:before {
  content: "\e934";
}
.icon-toggle-on:before {
  content: "\e935";
}
.icon-tools:before {
  content: "\e936";
}
.icon-traffic-cone:before {
  content: "\e937";
  color: #f60;
}
.icon-transfer:before {
  content: "\e938";
}
.icon-trash:before {
  content: "\e939";
}
.icon-trash-full:before {
  content: "\e93a";
}
.icon-tree:before {
  content: "\e93b";
}
.icon-triangle:before {
  content: "\e93c";
}
.icon-triangle-empty:before {
  content: "\e93d";
}
.icon-truck:before {
  content: "\e93e";
}
.icon-t-shirt:before {
  content: "\e93f";
}
.icon-tv:before {
  content: "\e940";
}
.icon-underline:before {
  content: "\e941";
}
.icon-undo:before {
  content: "\e942";
}
.icon-up:before {
  content: "\e943";
}
.icon-upload:before {
  content: "\e944";
}
.icon-usb:before {
  content: "\e945";
}
.icon-usb-flash:before {
  content: "\e946";
}
.icon-user:before {
  content: "\e947";
}
.icon-user2:before {
  content: "\e948";
}
.icon-user2-add:before {
  content: "\e949";
}
.icon-user-add:before {
  content: "\e94a";
}
.icon-user-admin:before {
  content: "\e94b";
}
.icon-user-child:before {
  content: "\e94c";
}
.icon-user-female:before {
  content: "\e94d";
}
.icon-user-male:before {
  content: "\e94e";
}
.icon-user-remove:before {
  content: "\e94f";
}
.icon-users:before {
  content: "\e950";
}
.icon-users2:before {
  content: "\e951";
}
.icon-user-student:before {
  content: "\e952";
}
.icon-video:before {
  content: "\e953";
}
.icon-videocam:before {
  content: "\e954";
}
.icon-volume-high:before {
  content: "\e955";
}
.icon-volume-low:before {
  content: "\e956";
}
.icon-volume-medium:before {
  content: "\e957";
}
.icon-w3c:before {
  content: "\e958";
  color: #005a9c;
}
.icon-wallet:before {
  content: "\e959";
}
.icon-warning:before {
  content: "\e95a";
  color: #f6c02a;
}
.icon-warning-empty:before {
  content: "\e95b";
  color: #f6c02a;
}
.icon-water:before {
  content: "\e95c";
  color: #74bbfb;
}
.icon-website:before {
  content: "\e95d";
}
.icon-wifi:before {
  content: "\e95e";
}
.icon-window:before {
  content: "\e95f";
}
.icon-windows:before {
  content: "\e960";
}
.icon-world:before {
  content: "\e961";
}
.icon-wrench:before {
  content: "\e962";
}
.icon-0:before {
  content: "\e963";
}
.icon-1:before {
  content: "\e964";
}
.icon-2:before {
  content: "\e965";
}
.icon-3:before {
  content: "\e966";
}
.icon-4:before {
  content: "\e967";
}
.icon-5:before {
  content: "\e968";
}
.icon-6:before {
  content: "\e969";
}
.icon-7:before {
  content: "\e96a";
}
.icon-8:before {
  content: "\e96b";
}
.icon-9:before {
  content: "\e96c";
}
.icon-adjust:before {
  content: "\e96d";
}
.icon-anchor:before {
  content: "\e96e";
}
.icon-application-excel:before {
  content: "\e96f";
  color: #217346;
}
.icon-application-outlook:before {
  content: "\e970";
  color: #0072c6;
}
.icon-application-powerpoint:before {
  content: "\e971";
  color: #d24726;
}
.icon-application-word:before {
  content: "\e972";
  color: #2b579a;
}
.icon-archive:before {
  content: "\e973";
}
.icon-arrow-combo:before {
  content: "\e974";
}
.icon-arrow-down:before {
  content: "\e975";
}
.icon-arrow-left:before {
  content: "\e976";
}
.icon-arrow-right:before {
  content: "\e977";
}
.icon-arrow-up:before {
  content: "\e978";
}
.icon-article:before {
  content: "\e979";
}
.icon-at:before {
  content: "\e97a";
}
.icon-attach:before {
  content: "\e97b";
}
.icon-award:before {
  content: "\e97c";
}
.icon-award-filled:before {
  content: "\e97d";
}
.icon-backward:before {
  content: "\e97e";
}
.icon-banknote:before {
  content: "\e97f";
}
.icon-barcode:before {
  content: "\e980";
}
.icon-bathroom:before {
  content: "\e981";
}
.icon-bell:before {
  content: "\e982";
}
.icon-bell-empty:before {
  content: "\e983";
}
.icon-blank:before {
  content: "\e984";
}
.icon-block:before {
  content: "\e985";
}
.icon-blog:before {
  content: "\e986";
}
.icon-bluetooth:before {
  content: "\e987";
}
.icon-bold:before {
  content: "\e988";
}
.icon-book:before {
  content: "\e989";
}
.icon-bookmark:before {
  content: "\e98a";
}
.icon-box:before {
  content: "\e98b";
}
.icon-briefcase:before {
  content: "\e98c";
}
.icon-browser:before {
  content: "\e98d";
}
.icon-browser-chrome:before {
  content: "\e98e";
  color: #4db649;
}
.icon-browser-firefox:before {
  content: "\e98f";
  color: #e76100;
}
.icon-browser-ie:before {
  content: "\e990";
  color: #00a0d8;
}
.icon-bug:before {
  content: "\e991";
}
.icon-building:before {
  content: "\e992";
}
.icon-calculator:before {
  content: "\e993";
}
.icon-calendar:before {
  content: "\e994";
}
.icon-calendar-add:before {
  content: "\e995";
}
.icon-calendar-check:before {
  content: "\e996";
}
.icon-calendar-minus:before {
  content: "\e997";
}
.icon-calendar-x:before {
  content: "\e998";
}
.icon-camera:before {
  content: "\e999";
}
.icon-cancel:before {
  content: "\e99a";
}
.icon-cancel-circled:before {
  content: "\e99b";
}
.icon-cancel-squared:before {
  content: "\e99c";
}
.icon-car:before {
  content: "\e99d";
}
.icon-cart:before {
  content: "\e99e";
}
.icon-cart-full:before {
  content: "\e99f";
}
.icon-cc:before {
  content: "\e9a0";
}
.icon-cc-amex:before {
  content: "\e9a1";
  color: #3498d8;
}
.icon-cc-discover:before {
  content: "\e9a2";
  color: #f27300;
}
.icon-cc-mastercard:before {
  content: "\e9a3";
  color: #c00;
}
.icon-cc-paypal:before {
  content: "\e9a4";
  color: #006492;
}
.icon-cc-stripe:before {
  content: "\e9a5";
  color: #2c97de;
}
.icon-cc-visa:before {
  content: "\e9a6";
  color: #0023a0;
}
.icon-chair:before {
  content: "\e9a7";
}
.icon-chart-area:before {
  content: "\e9a8";
}
.icon-chart-area-add:before {
  content: "\e9a9";
}
.icon-chart-bar:before {
  content: "\e9aa";
}
.icon-chart-bar2:before {
  content: "\e9ab";
}
.icon-chart-bar2-add:before {
  content: "\e9ac";
}
.icon-chart-bar3:before {
  content: "\e9ad";
}
.icon-chart-bar-add:before {
  content: "\e9ae";
}
.icon-chart-line:before {
  content: "\e9af";
}
.icon-chart-line-add:before {
  content: "\e9b0";
}
.icon-chart-pie:before {
  content: "\e9b1";
}
.icon-chart-pie-add:before {
  content: "\e9b2";
}
.icon-chat:before {
  content: "\e9b3";
}
.icon-checkbox:before {
  content: "\e9b4";
}
.icon-checkbox-add:before {
  content: "\e9b5";
}
.icon-checkbox-delete:before {
  content: "\e9b6";
}
.icon-checkbox-empty:before {
  content: "\e9b7";
}
.icon-circle:before {
  content: "\e9b8";
}
.icon-circle-empty:before {
  content: "\e9b9";
}
.icon-clipboard:before {
  content: "\e9ba";
}
.icon-clipboard-edit:before {
  content: "\e9bb";
}
.icon-clipboard-list:before {
  content: "\e9bc";
}
.icon-clock:before {
  content: "\e9bd";
}
.icon-clone:before {
  content: "\e9be";
}
.icon-close:before {
  content: "\e9bf";
}
.icon-cloud:before {
  content: "\e9c0";
}
.icon-code:before {
  content: "\e9c1";
}
.icon-code2:before {
  content: "\e9c2";
}
.icon-color-adjust:before {
  content: "\e9c3";
}
.icon-comment:before {
  content: "\e9c4";
}
.icon-comment-add:before {
  content: "\e9c5";
}
.icon-comment-dots:before {
  content: "\e9c6";
}
.icon-comment-dots-empty:before {
  content: "\e9c7";
}
.icon-comment-empty:before {
  content: "\e9c8";
}
.icon-compare:before {
  content: "\e9c9";
}
.icon-compass:before {
  content: "\e9ca";
}
.icon-connect:before {
  content: "\e9cb";
}
.icon-copyright:before {
  content: "\e9cc";
}
.icon-coupon:before {
  content: "\e9cd";
}
.icon-cron:before {
  content: "\e9ce";
}
.icon-cronlog:before {
  content: "\e9cf";
}
.icon-css:before {
  content: "\e9d0";
}
.icon-css3:before {
  content: "\e9d1";
  color: #118ed1;
}
.icon-cube:before {
  content: "\e9d2";
}
.icon-cubicle-bot-left:before {
  content: "\e9d3";
}
.icon-cubicle-bot-right:before {
  content: "\e9d4";
}
.icon-cubicle-open-bot:before {
  content: "\e9d5";
}
.icon-cubicle-open-top:before {
  content: "\e9d6";
}
.icon-cubicle-top-left:before {
  content: "\e9d7";
}
.icon-cubicle-top-right:before {
  content: "\e9d8";
}
.icon-currency-dollar:before {
  content: "\e9d9";
}
.icon-currency-euro:before {
  content: "\e9da";
}
.icon-currency-pound:before {
  content: "\e9db";
}
.icon-cursor:before {
  content: "\e9dc";
}
.icon-database:before {
  content: "\e9dd";
}
.icon-database-empty:before {
  content: "\e9de";
}
.icon-desktop:before {
  content: "\e9df";
}
.icon-diamond:before {
  content: "\e9e0";
}
.icon-dir-down:before {
  content: "\e9e1";
}
.icon-direction:before {
  content: "\e9e2";
}
.icon-dir-left:before {
  content: "\e9e3";
}
.icon-dir-right:before {
  content: "\e9e4";
}
.icon-dir-up:before {
  content: "\e9e5";
}
.icon-disconnect:before {
  content: "\e9e6";
}
.icon-dns:before {
  content: "\e9e7";
}
.icon-doc-edit:before {
  content: "\e9e8";
}
.icon-dots:before {
  content: "\e9e9";
}
.icon-dots-vertical:before {
  content: "\e9ea";
}
.icon-down:before {
  content: "\e9eb";
}
.icon-download:before {
  content: "\e9ec";
}
.icon-droplet:before {
  content: "\e9ed";
  color: #74bbfb;
}
.icon-earth:before {
  content: "\e9ee";
}
.icon-edit:before {
  content: "\e9ef";
}
.icon-emo-happy:before {
  content: "\e9f0";
}
.icon-emo-unhappy:before {
  content: "\e9f1";
}
.icon-encoding:before {
  content: "\e9f2";
}
.icon-erase:before {
  content: "\e9f3";
}
.icon-exchange:before {
  content: "\e9f4";
}
.icon-export:before {
  content: "\e9f5";
}
.icon-export-squared:before {
  content: "\e9f6";
}
.icon-eye:before {
  content: "\e9f7";
}
.icon-family:before {
  content: "\e9f8";
}
.icon-familyhistory:before {
  content: "\e9f9";
}
.icon-feather:before {
  content: "\e9fa";
}
.icon-feed:before {
  content: "\e9fb";
}
.icon-female:before {
  content: "\e9fc";
}
.icon-file-audio:before {
  content: "\e9fd";
}
.icon-file-code:before {
  content: "\e9fe";
}
.icon-file-doc:before {
  content: "\e9ff";
}
.icon-file-docs:before {
  content: "\ea00";
}
.icon-file-excel:before {
  content: "\ea01";
}
.icon-file-image:before {
  content: "\ea02";
}
.icon-file-pdf:before {
  content: "\ea03";
}
.icon-file-pdf2:before {
  content: "\ea04";
}
.icon-file-txt:before {
  content: "\ea05";
}
.icon-file-video:before {
  content: "\ea06";
}
.icon-file-word:before {
  content: "\ea07";
}
.icon-file-write:before {
  content: "\ea08";
}
.icon-file-zip:before {
  content: "\ea09";
}
.icon-film:before {
  content: "\ea0a";
}
.icon-filter:before {
  content: "\ea0b";
}
.icon-filter-add:before {
  content: "\ea0c";
}
.icon-fire:before {
  content: "\ea0d";
}
.icon-first:before {
  content: "\ea0e";
}
.icon-first-aid:before {
  content: "\ea0f";
  color: #8a0707;
}
.icon-flag:before {
  content: "\ea10";
}
.icon-flag2:before {
  content: "\ea11";
}
.icon-flow:before {
  content: "\ea12";
}
.icon-folder:before {
  content: "\ea13";
}
.icon-folder-add:before {
  content: "\ea14";
}
.icon-folder-remove:before {
  content: "\ea15";
}
.icon-font:before {
  content: "\ea16";
}
.icon-fontsize:before {
  content: "\ea17";
}
.icon-food:before {
  content: "\ea18";
}
.icon-forward:before {
  content: "\ea19";
}
.icon-gear:before {
  content: "\ea1a";
}
.icon-gears:before {
  content: "\ea1b";
}
.icon-gift:before {
  content: "\ea1c";
}
.icon-git:before {
  content: "\ea1d";
}
.icon-git-add:before {
  content: "\ea1e";
}
.icon-git-commit:before {
  content: "\ea1f";
}
.icon-git-pull:before {
  content: "\ea20";
}
.icon-git-push:before {
  content: "\ea21";
}
.icon-git-push-commit:before {
  content: "\ea22";
}
.icon-git-remove:before {
  content: "\ea23";
}
.icon-globe:before {
  content: "\ea24";
}
.icon-graduate:before {
  content: "\ea25";
}
.icon-group:before {
  content: "\ea26";
}
.icon-handshake:before {
  content: "\ea27";
}
.icon-hash:before {
  content: "\ea28";
}
.icon-hashtag:before {
  content: "\ea29";
}
.icon-heart:before {
  content: "\ea2a";
}
.icon-heart-empty:before {
  content: "\ea2b";
}
.icon-heart-minus:before {
  content: "\ea2c";
}
.icon-heart-plus:before {
  content: "\ea2d";
}
.icon-help:before {
  content: "\ea2e";
}
.icon-help-circled:before {
  content: "\ea2f";
}
.icon-history:before {
  content: "\ea30";
}
.icon-home:before {
  content: "\ea31";
}
.icon-home2:before {
  content: "\ea32";
}
.icon-html5:before {
  content: "\ea33";
  color: #e44d26;
}
.icon-image:before {
  content: "\ea34";
}
.icon-import:before {
  content: "\ea35";
}
.icon-indent-decrease:before {
  content: "\ea36";
}
.icon-indent-increase:before {
  content: "\ea37";
}
.icon-info-circled:before {
  content: "\ea38";
}
.icon-italic:before {
  content: "\ea39";
}
.icon-journal:before {
  content: "\ea3a";
}
.icon-json:before {
  content: "\ea3b";
}
.icon-key:before {
  content: "\ea3c";
}
.icon-laptop:before {
  content: "\ea3d";
}
.icon-last:before {
  content: "\ea3e";
}
.icon-leaf:before {
  content: "\ea3f";
}
.icon-left:before {
  content: "\ea40";
}
.icon-lightbulb:before {
  content: "\ea41";
}
.icon-link:before {
  content: "\ea42";
}
.icon-link-ext:before {
  content: "\ea43";
}
.icon-list:before {
  content: "\ea44";
}
.icon-list-add:before {
  content: "\ea45";
}
.icon-list-numbered:before {
  content: "\ea46";
}
.icon-list-ol:before {
  content: "\ea47";
}
.icon-list-small:before {
  content: "\ea48";
}
.icon-list-ul:before {
  content: "\ea49";
}
.icon-lock:before {
  content: "\ea4a";
}
.icon-lock-open:before {
  content: "\ea4b";
}
.icon-login:before {
  content: "\ea4c";
}
.icon-logout:before {
  content: "\ea4d";
}
.icon-mail:before {
  content: "\ea4e";
}
.icon-mail-squared:before {
  content: "\ea4f";
}
.icon-male:before {
  content: "\ea50";
}
.icon-Man-and-woman-icon-alt .path1:before {
  content: "\ea51";
  color: rgb(255, 255, 255);
}
.icon-Man-and-woman-icon-alt .path2:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Man-and-woman-icon-alt .path3:before {
  content: "\ea53";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-man-woman:before {
  content: "\ea54";
}
.icon-map-fold:before {
  content: "\ea55";
}
.icon-map-fold-solid:before {
  content: "\ea56";
}
.icon-map-marker:before {
  content: "\ea57";
}
.icon-mark:before {
  content: "\ea58";
}
.icon-maximize:before {
  content: "\ea59";
}
.icon-medal:before {
  content: "\ea5a";
}
.icon-medal-filled:before {
  content: "\ea5b";
}
.icon-menu:before {
  content: "\ea5c";
}
.icon-mic:before {
  content: "\ea5d";
}
.icon-minimize:before {
  content: "\ea5e";
}
.icon-minus:before {
  content: "\ea5f";
}
.icon-minus-squared:before {
  content: "\ea60";
}
.icon-minus-squared-empty:before {
  content: "\ea61";
}
.icon-mobile:before {
  content: "\ea62";
}
.icon-monitor:before {
  content: "\ea63";
}
.icon-move:before {
  content: "\ea64";
}
.icon-music:before {
  content: "\ea65";
}
.icon-mysql:before {
  content: "\ea66";
  color: #4479a1;
}
.icon-network:before {
  content: "\ea67";
}
.icon-newspaper:before {
  content: "\ea68";
}
.icon-new-tab:before {
  content: "\ea69";
}
.icon-notebook:before {
  content: "\ea6a";
}
.icon-optimize:before {
  content: "\ea6b";
}
.icon-os-android:before {
  content: "\ea6c";
  color: #a4c639;
}
.icon-os-apple:before {
  content: "\ea6d";
  color: #8e8e8e;
}
.icon-os-linux:before {
  content: "\ea6e";
}
.icon-os-ubuntu:before {
  content: "\ea6f";
  color: #ff6d0e;
}
.icon-os-windows:before {
  content: "\ea70";
  color: #03a9f4;
}
.icon-package:before {
  content: "\ea71";
}
.icon-paragraph-center:before {
  content: "\ea72";
}
.icon-paragraph-justify:before {
  content: "\ea73";
}
.icon-paragraph-left:before {
  content: "\ea74";
}
.icon-paragraph-right:before {
  content: "\ea75";
}
.icon-paypal:before {
  content: "\ea76";
  color: #006492;
}
.icon-pen:before {
  content: "\ea77";
}
.icon-pencil:before {
  content: "\ea78";
}
.icon-phone:before {
  content: "\ea79";
}
.icon-php:before {
  content: "\ea7a";
  color: #777bb3;
}
.icon-pin:before {
  content: "\ea7b";
}
.icon-play:before {
  content: "\ea7c";
}
.icon-plug:before {
  content: "\ea7d";
}
.icon-plus:before {
  content: "\ea7e";
}
.icon-plus-squared:before {
  content: "\ea7f";
}
.icon-plus-squared-empty:before {
  content: "\ea80";
}
.icon-popup:before {
  content: "\ea81";
}
.icon-postedit:before {
  content: "\ea82";
}
.icon-power:before {
  content: "\ea83";
}
.icon-print:before {
  content: "\ea84";
}
.icon-prompt:before {
  content: "\ea85";
}
.icon-properties:before {
  content: "\ea86";
}
.icon-qrcode:before {
  content: "\ea87";
}
.icon-quill:before {
  content: "\ea88";
}
.icon-rain:before {
  content: "\ea89";
  color: #74bbfb;
}
.icon-raspberrypi:before {
  content: "\ea8a";
  color: #c7053d;
}
.icon-redo:before {
  content: "\ea8b";
}
.icon-refresh:before {
  content: "\ea8c";
}
.icon-refund:before {
  content: "\ea8d";
}
.icon-reply:before {
  content: "\ea8e";
}
.icon-reply-all:before {
  content: "\ea8f";
}
.icon-reset:before {
  content: "\ea90";
}
.icon-resize:before {
  content: "\ea91";
}
.icon-right:before {
  content: "\ea92";
}
.icon-rocket:before {
  content: "\ea93";
}
.icon-rss:before {
  content: "\ea94";
}
.icon-save:before {
  content: "\ea95";
}
.icon-scissors:before {
  content: "\ea96";
}
.icon-sdcard:before {
  content: "\ea97";
}
.icon-search:before {
  content: "\ea98";
}
.icon-server:before {
  content: "\ea99";
}
.icon-share:before {
  content: "\ea9a";
}
.icon-shrink:before {
  content: "\ea9b";
}
.icon-signal:before {
  content: "\ea9c";
}
.icon-site-amazon:before {
  content: "\ea9d";
  color: #f90;
}
.icon-site-bing:before {
  content: "\ea9e";
  color: #ffb900;
}
.icon-site-blogger-squared:before {
  content: "\ea9f";
  color: #f57d00;
}
.icon-site-dropbox:before {
  content: "\eaa0";
  color: #007ee5;
}
.icon-site-ebay:before {
  content: "\eaa1";
  color: #e53238;
}
.icon-site-facebook:before {
  content: "\eaa2";
  color: #3b5998;
}
.icon-site-facebook-squared:before {
  content: "\eaa3";
  color: #3b5998;
}
.icon-site-git:before {
  content: "\eaa4";
}
.icon-site-github:before {
  content: "\eaa5";
  color: #4078c0;
}
.icon-site-google:before {
  content: "\eaa6";
  color: #4285f4;
}
.icon-site-gplus:before {
  content: "\eaa7";
  color: #dd4b39;
}
.icon-site-gplus-squared:before {
  content: "\eaa8";
  color: #dd4b39;
}
.icon-site-hulu:before {
  content: "\eaa9";
  color: #6a3;
}
.icon-site-instagram:before {
  content: "\eaaa";
  color: #405de6;
}
.icon-site-linkedin:before {
  content: "\eaab";
  color: #0077b5;
}
.icon-site-linkedin-squared:before {
  content: "\eaac";
  color: #0077b5;
}
.icon-sitemap:before {
  content: "\eaad";
}
.icon-site-outlook:before {
  content: "\eaae";
  color: #0072c6;
}
.icon-site-pinterest:before {
  content: "\eaaf";
  color: #bd081c;
}
.icon-site-pinterest-squared:before {
  content: "\eab0";
  color: #bd081c;
}
.icon-site-sharethis:before {
  content: "\eab1";
}
.icon-site-skype:before {
  content: "\eab2";
  color: #00aff0;
}
.icon-site-snapchat:before {
  content: "\eab3";
  color: #fffc00;
}
.icon-site-stumbleupon:before {
  content: "\eab4";
  color: #eb4924;
}
.icon-site-tumblr:before {
  content: "\eab5";
  color: #35465c;
}
.icon-site-tumblr-squared:before {
  content: "\eab6";
  color: #35465c;
}
.icon-site-twitter:before {
  content: "\eab7";
  color: #1da1f2;
}
.icon-site-twitter-bird:before {
  content: "\eab8";
  color: #1da1f2;
}
.icon-site-whatsapp:before {
  content: "\eab9";
  color: #075e54;
}
.icon-site-wikipedia:before {
  content: "\eaba";
}
.icon-site-wordpress:before {
  content: "\eabb";
  color: #21759b;
}
.icon-site-yahoo:before {
  content: "\eabc";
  color: #410093;
}
.icon-site-youtube:before {
  content: "\eabd";
  color: #f00;
}
.icon-site-youtube-play:before {
  content: "\eabe";
  color: #f00;
}
.icon-sliders:before {
  content: "\eabf";
}
.icon-slideshow:before {
  content: "\eac0";
}
.icon-snow:before {
  content: "\eac1";
}
.icon-sort-down:before {
  content: "\eac2";
}
.icon-sort-name-down:before {
  content: "\eac3";
}
.icon-sort-name-up:before {
  content: "\eac4";
}
