@font-face {
  font-family: 'wasql_icons';
  src:  url('/wfiles/fonts/wasql_icons.eot?csy2x4');
  src:  url('/wfiles/fonts/wasql_icons.eot?csy2x4#iefix') format('embedded-opentype'),
    url('/wfiles/fonts/wasql_icons.ttf?csy2x4') format('truetype'),
    url('/wfiles/fonts/wasql_icons.woff?csy2x4') format('woff'),
    url('/wfiles/fonts/wasql_icons.svg?csy2x4#wasql_icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wasql_icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-database-firebird:before {
  content: "\e900";
  color: #f44b0c;
}
.icon-database-gigya:before {
  content: "\e901";
  color: #21489d;
}
.icon-database-hana:before {
  content: "\e902";
  color: #ef8f1d;
}
.icon-database-mariadb:before {
  content: "\e903";
  color: #1a4a5f;
}
.icon-database-mongodb:before {
  content: "\e904";
  color: #47a248;
}
.icon-database-msaccess:before {
  content: "\e905";
  color: #ba141a;
}
.icon-database-mssql:before {
  content: "\e906";
}
.icon-database-mysql:before {
  content: "\e907";
  color: #19829f;
}
.icon-database-oracle:before {
  content: "\e908";
  color: #f80000;
}
.icon-database-postgresql:before {
  content: "\e909";
  color: #336791;
}
.icon-database-redis:before {
  content: "\e90a";
  color: #d82c20;
}
.icon-database-snowflake:before {
  content: "\e90b";
  color: #29b5e8;
}
.icon-database-splunk:before {
  content: "\e90c";
  color: #73c936;
}
.icon-database-sqlite:before {
  content: "\e90d";
  color: #044a5f;
}
.icon-database-teradata:before {
  content: "\e90e";
  color: #f37440;
}
.icon-delete:before {
  content: "\e90f";
}
.icon-desktop:before {
  content: "\e910";
}
.icon-diamond:before {
  content: "\e911";
}
.icon-dir-down:before {
  content: "\e912";
}
.icon-direction:before {
  content: "\e913";
}
.icon-dir-left:before {
  content: "\e914";
}
.icon-dir-right:before {
  content: "\e915";
}
.icon-dir-up:before {
  content: "\e916";
}
.icon-disconnect:before {
  content: "\e917";
}
.icon-dns:before {
  content: "\e918";
}
.icon-doc-edit:before {
  content: "\e919";
}
.icon-dots:before {
  content: "\e91a";
}
.icon-dots-vertical:before {
  content: "\e91b";
}
.icon-down:before {
  content: "\e91c";
}
.icon-download:before {
  content: "\e91d";
}
.icon-droplet:before {
  content: "\e91e";
  color: #74bbfb;
}
.icon-earth:before {
  content: "\e91f";
}
.icon-edit:before {
  content: "\e920";
}
.icon-emo-happy:before {
  content: "\e921";
}
.icon-emo-unhappy:before {
  content: "\e922";
}
.icon-encoding:before {
  content: "\e923";
}
.icon-erase:before {
  content: "\e924";
}
.icon-exchange:before {
  content: "\e925";
}
.icon-export:before {
  content: "\e926";
}
.icon-export-squared:before {
  content: "\e927";
}
.icon-eye:before {
  content: "\e928";
}
.icon-family:before {
  content: "\e929";
}
.icon-familyhistory:before {
  content: "\e92a";
}
.icon-feather:before {
  content: "\e92b";
}
.icon-feed:before {
  content: "\e92c";
}
.icon-female:before {
  content: "\e92d";
}
.icon-file-audio:before {
  content: "\e92e";
}
.icon-file-code:before {
  content: "\e92f";
}
.icon-file-doc:before {
  content: "\e930";
}
.icon-file-docs:before {
  content: "\e931";
}
.icon-file-excel:before {
  content: "\e932";
}
.icon-file-image:before {
  content: "\e933";
}
.icon-file-pdf:before {
  content: "\e934";
}
.icon-file-pdf2:before {
  content: "\e935";
}
.icon-file-txt:before {
  content: "\e936";
}
.icon-file-video:before {
  content: "\e937";
}
.icon-file-word:before {
  content: "\e938";
  color: #2b579a;
}
.icon-file-write:before {
  content: "\e939";
}
.icon-file-zip:before {
  content: "\e93a";
}
.icon-film:before {
  content: "\e93b";
}
.icon-filter:before {
  content: "\e93c";
}
.icon-filter-add:before {
  content: "\e93d";
}
.icon-fire:before {
  content: "\e93e";
}
.icon-first:before {
  content: "\e93f";
}
.icon-first-aid:before {
  content: "\e940";
  color: #8a0707;
}
.icon-flag:before {
  content: "\e941";
}
.icon-flag2:before {
  content: "\e942";
}
.icon-flag-wave:before {
  content: "\e943";
}
.icon-flow:before {
  content: "\e944";
}
.icon-folder:before {
  content: "\e945";
}
.icon-folder-add:before {
  content: "\e946";
}
.icon-folder-remove:before {
  content: "\e947";
}
.icon-font:before {
  content: "\e948";
}
.icon-fontsize:before {
  content: "\e949";
}
.icon-food:before {
  content: "\e94a";
}
.icon-forward:before {
  content: "\e94b";
}
.icon-frequency:before {
  content: "\e94c";
  color: #808080;
}
.icon-gear:before {
  content: "\e94d";
}
.icon-gears:before {
  content: "\e94e";
}
.icon-gift:before {
  content: "\e94f";
}
.icon-git:before {
  content: "\e950";
}
.icon-git-add:before {
  content: "\e951";
}
.icon-git-commit:before {
  content: "\e952";
}
.icon-git-pull:before {
  content: "\e953";
}
.icon-git-push:before {
  content: "\e954";
}
.icon-git-push-commit:before {
  content: "\e955";
}
.icon-git-remove:before {
  content: "\e956";
}
.icon-globe:before {
  content: "\e957";
}
.icon-graduate:before {
  content: "\e958";
}
.icon-group:before {
  content: "\e959";
}
.icon-handshake:before {
  content: "\e95a";
}
.icon-hardware-amd:before {
  content: "\e95b";
  color: #ed1c24;
}
.icon-hardware-cpu:before {
  content: "\e95c";
}
.icon-hardware-drive:before {
  content: "\e95d";
}
.icon-hardware-intel:before {
  content: "\e95e";
  color: #0071c5;
}
.icon-hardware-keyboard:before {
  content: "\e95f";
}
.icon-hardware-memory:before {
  content: "\e960";
}
.icon-hardware-mouse:before {
  content: "\e961";
}
.icon-hardware-sdcard:before {
  content: "\e962";
}
.icon-hash:before {
  content: "\e963";
}
.icon-hashtag:before {
  content: "\e964";
}
.icon-heart:before {
  content: "\e965";
}
.icon-heart-empty:before {
  content: "\e966";
}
.icon-heart-minus:before {
  content: "\e967";
}
.icon-heart-plus:before {
  content: "\e968";
}
.icon-help:before {
  content: "\e969";
}
.icon-help-circled:before {
  content: "\e96a";
}
.icon-history:before {
  content: "\e96b";
}
.icon-home:before {
  content: "\e96c";
}
.icon-home2:before {
  content: "\e96d";
}
.icon-html5:before {
  content: "\e96e";
  color: #e44d26;
}
.icon-icon-oracle:before {
  content: "\e96f";
  color: #f00;
}
.icon-image:before {
  content: "\e970";
}
.icon-import:before {
  content: "\e971";
}
.icon-indent:before {
  content: "\e972";
}
.icon-indent-decrease:before {
  content: "\e973";
}
.icon-info-circled:before {
  content: "\e974";
}
.icon-insert:before {
  content: "\e975";
}
.icon-italic:before {
  content: "\e976";
}
.icon-journal:before {
  content: "\e977";
}
.icon-json:before {
  content: "\e978";
}
.icon-json-pretty:before {
  content: "\e979";
}
.icon-justify-center:before {
  content: "\e97a";
}
.icon-justify-full:before {
  content: "\e97b";
}
.icon-justify-left:before {
  content: "\e97c";
}
.icon-justify-right:before {
  content: "\e97d";
}
.icon-key:before {
  content: "\e97e";
}
.icon-language:before {
  content: "\e97f";
}
.icon-laptop:before {
  content: "\e980";
}
.icon-last:before {
  content: "\e981";
}
.icon-ldap:before {
  content: "\e982";
}
.icon-leaf:before {
  content: "\e983";
}
.icon-left:before {
  content: "\e984";
}
.icon-lightbulb:before {
  content: "\e985";
}
.icon-lightning:before {
  content: "\e986";
}
.icon-link:before {
  content: "\e987";
}
.icon-link-ext:before {
  content: "\e988";
}
.icon-list:before {
  content: "\e989";
}
.icon-list-add:before {
  content: "\e98a";
}
.icon-list-numbered:before {
  content: "\e98b";
}
.icon-list-ol:before {
  content: "\e98c";
}
.icon-list-small:before {
  content: "\e98d";
}
.icon-list-ul:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-lock-open:before {
  content: "\e990";
}
.icon-login:before {
  content: "\e991";
}
.icon-logout:before {
  content: "\e992";
}
.icon-mail:before {
  content: "\e993";
}
.icon-mail-squared:before {
  content: "\e994";
}
.icon-male:before {
  content: "\e995";
}
.icon-man-woman:before {
  content: "\e996";
}
.icon-map-fold:before {
  content: "\e997";
}
.icon-map-fold-solid:before {
  content: "\e998";
}
.icon-map-marker:before {
  content: "\e999";
}
.icon-mark:before {
  content: "\e99a";
}
.icon-marker:before {
  content: "\e99b";
}
.icon-maximize:before {
  content: "\e99c";
}
.icon-medal:before {
  content: "\e99d";
}
.icon-medal-filled:before {
  content: "\e99e";
}
.icon-menu:before {
  content: "\e99f";
}
.icon-mic:before {
  content: "\e9a0";
}
.icon-minimize:before {
  content: "\e9a1";
}
.icon-minus:before {
  content: "\e9a2";
}
.icon-minus-squared:before {
  content: "\e9a3";
}
.icon-minus-squared-empty:before {
  content: "\e9a4";
}
.icon-mobile:before {
  content: "\e9a5";
}
.icon-monitor:before {
  content: "\e9a6";
}
.icon-moon-quarter:before {
  content: "\e9a7";
}
.icon-move:before {
  content: "\e9a8";
}
.icon-music:before {
  content: "\e9a9";
}
.icon-nav-first:before {
  content: "\e9aa";
}
.icon-nav-last:before {
  content: "\e9ab";
}
.icon-nav-next:before {
  content: "\e9ac";
}
.icon-nav-prev:before {
  content: "\e9ad";
}
.icon-network:before {
  content: "\e9ae";
}
.icon-newspaper:before {
  content: "\e9af";
}
.icon-new-tab:before {
  content: "\e9b0";
}
.icon-notebook:before {
  content: "\e9b1";
}
.icon-number-eight:before {
  content: "\e9b2";
}
.icon-number-five:before {
  content: "\e9b3";
}
.icon-number-four:before {
  content: "\e9b4";
}
.icon-number-nine:before {
  content: "\e9b5";
}
.icon-number-one:before {
  content: "\e9b6";
}
.icon-number-seven:before {
  content: "\e9b7";
}
.icon-number-six:before {
  content: "\e9b8";
}
.icon-number-three:before {
  content: "\e9b9";
}
.icon-number-two:before {
  content: "\e9ba";
}
.icon-number-zero:before {
  content: "\e9bb";
}
.icon-octagon:before {
  content: "\e9bc";
}
.icon-optimize:before {
  content: "\e9bd";
}
.icon-os-android:before {
  content: "\e9be";
  color: #a4c639;
}
.icon-os-apple:before {
  content: "\e9bf";
  color: #8e8e8e;
}
.icon-os-linux:before {
  content: "\e9c0";
  color: #fcc624;
}
.icon-os-microsoft:before {
  content: "\e9c1";
  color: #666;
}
.icon-os-redhat:before {
  content: "\e9c2";
  color: #e00;
}
.icon-os-ubuntu:before {
  content: "\e9c3";
  color: #ff6d0e;
}
.icon-os-windows:before {
  content: "\e9c4";
  color: #0078d6;
}
.icon-outdent:before {
  content: "\e9c5";
}
.icon-package:before {
  content: "\e9c6";
}
.icon-paragraph-center:before {
  content: "\e9c7";
}
.icon-paragraph-justify:before {
  content: "\e9c8";
}
.icon-paragraph-left:before {
  content: "\e9c9";
}
.icon-paragraph-right:before {
  content: "\e9ca";
}
.icon-paste:before {
  content: "\e9cb";
}
.icon-pause:before {
  content: "\e9cc";
}
.icon-payment-alipay:before {
  content: "\e9cd";
  color: #00a1e9;
}
.icon-payment-amex:before {
  content: "\e9ce";
  color: #2e77bc;
}
.icon-payment-applepay:before {
  content: "\e9cf";
}
.icon-payment-cashapp:before {
  content: "\e9d0";
  color: #00c244;
}
.icon-payment-google:before {
  content: "\e9d1";
  color: #4285f4;
}
.icon-payment-mastercard:before {
  content: "\e9d2";
  color: #eb001b;
}
.icon-payment-paypal:before {
  content: "\e9d3";
  color: #00457c;
}
.icon-payment-sofort:before {
  content: "\e9d4";
}
.icon-payment-venmo:before {
  content: "\e9d5";
  color: #3396cd;
}
.icon-payment-visa:before {
  content: "\e9d6";
  color: #142787;
}
.icon-payment-wechat:before {
  content: "\e9d7";
  color: #1aad19;
}
.icon-paypal:before {
  content: "\e9d8";
  color: #006492;
}
.icon-pen:before {
  content: "\e9d9";
}
.icon-pencil:before {
  content: "\e9da";
}
.icon-phone:before {
  content: "\e9db";
}
.icon-php:before {
  content: "\e9dc";
  color: #777bb3;
}
.icon-pin:before {
  content: "\e9dd";
}
.icon-play:before {
  content: "\e9de";
}
.icon-plug:before {
  content: "\e9df";
}
.icon-plus:before {
  content: "\e9e0";
}
.icon-plus-squared:before {
  content: "\e9e1";
}
.icon-plus-squared-empty:before {
  content: "\e9e2";
}
.icon-popup:before {
  content: "\e9e3";
}
.icon-postedit:before {
  content: "\e9e4";
}
.icon-power:before {
  content: "\e9e5";
}
.icon-print:before {
  content: "\e9e6";
}
.icon-program-apache:before {
  content: "\e9e7";
  color: #d22128;
}
.icon-program-java:before {
  content: "\e9e8";
  color: #007396;
}
.icon-program-javascript:before {
  content: "\e9e9";
  color: #f7df1e;
}
.icon-program-lua:before {
  content: "\e9ea";
  color: #2c2d72;
}
.icon-program-nodejs:before {
  content: "\e9eb";
  color: #393;
}
.icon-program-perl:before {
  content: "\e9ec";
}
.icon-program-php:before {
  content: "\e9ed";
  color: #777bb4;
}
.icon-program-python:before {
  content: "\e9ee";
  color: #3776ab;
}
.icon-program-r:before {
  content: "\e9ef";
}
.icon-program-ruby:before {
  content: "\e9f0";
  color: #cc342d;
}
.icon-program-tcl:before {
  content: "\e9f1";
  color: #1e5cb3;
}
.icon-prompt:before {
  content: "\e9f2";
}
.icon-properties:before {
  content: "\e9f3";
}
.icon-qrcode:before {
  content: "\e9f4";
}
.icon-quill:before {
  content: "\e9f5";
}
.icon-radio-button:before {
  content: "\e9f6";
}
.icon-rain:before {
  content: "\e9f7";
  color: #74bbfb;
}
.icon-raspberrypi:before {
  content: "\e9f8";
  color: #c7053d;
}
.icon-redo:before {
  content: "\e9f9";
}
.icon-refresh:before {
  content: "\e9fa";
}
.icon-refund:before {
  content: "\e9fb";
}
.icon-reply:before {
  content: "\e9fc";
}
.icon-reply-all:before {
  content: "\e9fd";
}
.icon-reset:before {
  content: "\e9fe";
}
.icon-resize:before {
  content: "\e9ff";
}
.icon-right:before {
  content: "\ea00";
}
.icon-rocket:before {
  content: "\ea01";
}
.icon-rss:before {
  content: "\ea02";
  color: #ffa500;
}
.icon-run:before {
  content: "\ea03";
}
.icon-save:before {
  content: "\ea04";
}
.icon-scissors:before {
  content: "\ea05";
}
.icon-search:before {
  content: "\ea06";
}
.icon-select-all:before {
  content: "\ea07";
}
.icon-server:before {
  content: "\ea08";
}
.icon-share:before {
  content: "\ea09";
}
.icon-shrink:before {
  content: "\ea0a";
}
.icon-signal:before {
  content: "\ea0b";
}
.icon-signature:before {
  content: "\ea0c";
}
.icon-site-amazon:before {
  content: "\ea0d";
  color: #f90;
}
.icon-site-apple:before {
  content: "\ea0e";
  color: #999;
}
.icon-site-bing:before {
  content: "\ea0f";
  color: #008373;
}
.icon-site-blogger:before {
  content: "\ea10";
  color: #ff5722;
}
.icon-site-blogger-squared:before {
  content: "\ea11";
  color: #f57d00;
}
.icon-site-dropbox:before {
  content: "\ea12";
  color: #0061ff;
}
.icon-site-duckduckgo:before {
  content: "\ea13";
  color: #de5833;
}
.icon-site-ebay:before {
  content: "\ea14";
  color: #e53238;
}
.icon-site-facebook:before {
  content: "\ea15";
  color: #3b5998;
}
.icon-site-facebook-squared:before {
  content: "\ea16";
  color: #3b5998;
}
.icon-site-git:before {
  content: "\ea17";
}
.icon-site-github:before {
  content: "\ea18";
}
.icon-site-gitlab:before {
  content: "\ea19";
  color: #e24329;
}
.icon-site-google:before {
  content: "\ea1a";
  color: #4285f4;
}
.icon-site-google-drive:before {
  content: "\ea1b";
  color: #4285f4;
}
.icon-site-gplus:before {
  content: "\ea1c";
  color: #dd4b39;
}
.icon-site-gplus-squared:before {
  content: "\ea1d";
  color: #dd4b39;
}
.icon-site-hulu:before {
  content: "\ea1e";
  color: #6a3;
}
.icon-site-instagram:before {
  content: "\ea1f";
  color: #405de6;
}
.icon-site-letsencrypt:before {
  content: "\ea20";
  color: #003a70;
}
.icon-site-linkedin:before {
  content: "\ea21";
  color: #0077b5;
}
.icon-site-linkedin-squared:before {
  content: "\ea22";
  color: #0077b5;
}
.icon-sitemap:before {
  content: "\ea23";
}
.icon-site-outlook:before {
  content: "\ea24";
  color: #0072c6;
}
.icon-site-paypal:before {
  content: "\ea25";
  color: #006492;
}
.icon-site-pinterest:before {
  content: "\ea26";
  color: #bd081c;
}
.icon-site-pinterest-squared:before {
  content: "\ea27";
  color: #bd081c;
}
.icon-site-plex:before {
  content: "\ea28";
  color: #e5a00d;
}
.icon-site-postman:before {
  content: "\ea29";
  color: #ff6c37;
}
.icon-site-salesforce:before {
  content: "\ea2a";
  color: #00a1e0;
}
.icon-site-sharethis:before {
  content: "\ea2b";
}
.icon-site-skype:before {
  content: "\ea2c";
  color: #00aff0;
}
.icon-site-snapchat:before {
  content: "\ea2d";
  color: #fffc00;
}
.icon-site-stackoverflow:before {
  content: "\ea2e";
  color: #fe7a16;
}
.icon-site-stumbleupon:before {
  content: "\ea2f";
  color: #eb4924;
}
.icon-site-tiktok:before {
  content: "\ea30";
}
.icon-site-tumblr:before {
  content: "\ea31";
  color: #35465c;
}
.icon-site-tumblr-squared:before {
  content: "\ea32";
  color: #35465c;
}
.icon-site-twitter:before {
  content: "\ea33";
  color: #1da1f2;
}
.icon-site-twitter-bird:before {
  content: "\ea34";
  color: #1da1f2;
}
.icon-site-venmo:before {
  content: "\ea35";
  color: #3d95ce;
}
.icon-site-vimeo:before {
  content: "\ea36";
  color: #1ab7ea;
}
.icon-site-whatsapp:before {
  content: "\ea37";
  color: #075e54;
}
.icon-site-wikipedia:before {
  content: "\ea38";
}
.icon-site-wordpress:before {
  content: "\ea39";
  color: #21759b;
}
.icon-site-workfront:before {
  content: "\ea3a";
  color: #f38221;
}
.icon-site-yahoo:before {
  content: "\ea3b";
  color: #410093;
}
.icon-site-youtube:before {
  content: "\ea3c";
  color: #f00;
}
.icon-site-youtube-play:before {
  content: "\ea3d";
  color: #f00;
}
.icon-sliders:before {
  content: "\ea3e";
}
.icon-slideshow:before {
  content: "\ea3f";
}
.icon-smiley-angel:before {
  content: "\ea40";
}
.icon-snow:before {
  content: "\ea41";
}
.icon-sort-down:before {
  content: "\ea42";
}
.icon-sort-name-down:before {
  content: "\ea43";
}
.icon-sort-name-up:before {
  content: "\ea44";
}
.icon-sort-up:before {
  content: "\ea45";
}
.icon-spin1:before {
  content: "\ea46";
}
.icon-spin2:before {
  content: "\ea47";
}
.icon-spin3:before {
  content: "\ea48";
}
.icon-spin4:before {
  content: "\ea49";
}
.icon-spin5:before {
  content: "\ea4a";
}
.icon-spin6:before {
  content: "\ea4b";
}
.icon-spin7:before {
  content: "\ea4c";
}
.icon-spin8:before {
  content: "\ea4d";
}
.icon-sql:before {
  content: "\ea4e";
}
.icon-square:before {
  content: "\ea4f";
}
.icon-square-check:before {
  content: "\ea50";
}
.icon-square-minus:before {
  content: "\ea51";
}
.icon-square-plus:before {
  content: "\ea52";
}
.icon-square-x:before {
  content: "\ea53";
}
.icon-star:before {
  content: "\ea54";
  color: #ffca2f;
}
.icon-star-empty:before {
  content: "\ea55";
  color: #ffca2f;
}
.icon-star-half:before {
  content: "\ea56";
  color: #ffca2f;
}
.icon-star-half-empty:before {
  content: "\ea57";
  color: #ffca2f;
}
.icon-stopwatch:before {
  content: "\ea58";
}
.icon-stretch:before {
  content: "\ea59";
}
.icon-strikethrough:before {
  content: "\ea5a";
}
.icon-subscript:before {
  content: "\ea5b";
}
.icon-suitcase:before {
  content: "\ea5c";
}
.icon-sun:before {
  content: "\ea5d";
  color: #ffdf22;
}
.icon-sun2:before {
  content: "\ea5e";
  color: #ffdf22;
}
.icon-superscript:before {
  content: "\ea5f";
}
.icon-support:before {
  content: "\ea60";
}
.icon-sword:before {
  content: "\ea61";
}
.icon-swords:before {
  content: "\ea62";
}
.icon-sync:before {
  content: "\ea63";
}
.icon-sync-diff:before {
  content: "\ea64";
}
.icon-sync-pull:before {
  content: "\ea65";
}
.icon-sync-push:before {
  content: "\ea66";
}
.icon-tab:before {
  content: "\ea67";
}
.icon-table:before {
  content: "\ea68";
}
.icon-table-add:before {
  content: "\ea69";
}
.icon-tableau:before {
  content: "\ea6a";
  color: #e97627;
}
.icon-table-remove:before {
  content: "\ea6b";
}
.icon-tablet:before {
  content: "\ea6c";
}
.icon-tag:before {
  content: "\ea6d";
}
.icon-tags:before {
  content: "\ea6e";
}
.icon-target:before {
  content: "\ea6f";
}
.icon-teacher:before {
  content: "\ea70";
}
.icon-text:before {
  content: "\ea71";
}
.icon-textarea:before {
  content: "\ea72";
}
.icon-textcolor:before {
  content: "\ea73";
}
.icon-textsize:before {
  content: "\ea74";
}
.icon-th:before {
  content: "\ea75";
}
.icon-thermometer:before {
  content: "\ea76";
  color: #a00;
}
.icon-th-list:before {
  content: "\ea77";
}
.icon-th-thumb:before {
  content: "\ea78";
}
.icon-th-thumb-empty:before {
  content: "\ea79";
}
.icon-thumbs-down:before {
  content: "\ea7a";
}
.icon-thumbs-up:before {
  content: "\ea7b";
}
.icon-ticket:before {
  content: "\ea7c";
}
.icon-timezone:before {
  content: "\ea7d";
}
.icon-toggle-on:before {
  content: "\ea7e";
}
.icon-tools:before {
  content: "\ea7f";
}
.icon-top:before {
  content: "\ea80";
}
.icon-traffic-cone:before {
  content: "\ea81";
  color: #f60;
}
.icon-transfer:before {
  content: "\ea82";
}
.icon-translate:before {
  content: "\ea83";
}
.icon-trash:before {
  content: "\ea84";
}
.icon-trash-full:before {
  content: "\ea85";
}
.icon-tree:before {
  content: "\ea86";
}
.icon-triangle:before {
  content: "\ea87";
}
.icon-triangle-empty:before {
  content: "\ea88";
}
.icon-truck:before {
  content: "\ea89";
}
.icon-t-shirt:before {
  content: "\ea8a";
}
.icon-tv:before {
  content: "\ea8b";
}
.icon-underline:before {
  content: "\ea8c";
}
.icon-undo:before {
  content: "\ea8d";
}
.icon-up:before {
  content: "\ea8e";
}
.icon-upload:before {
  content: "\ea8f";
}
.icon-usb:before {
  content: "\ea90";
}
.icon-usb-flash:before {
  content: "\ea91";
}
.icon-user:before {
  content: "\ea92";
}
.icon-user2:before {
  content: "\ea93";
}
.icon-user2-add:before {
  content: "\ea94";
}
.icon-user-add:before {
  content: "\ea95";
}
.icon-user-admin:before {
  content: "\ea96";
}
.icon-user-child:before {
  content: "\ea97";
}
.icon-user-female:before {
  content: "\ea98";
}
.icon-user-male:before {
  content: "\ea99";
}
.icon-user-portal:before {
  content: "\ea9a";
}
.icon-user-remove:before {
  content: "\ea9b";
}
.icon-users:before {
  content: "\ea9c";
}
.icon-users2:before {
  content: "\ea9d";
}
.icon-user-student:before {
  content: "\ea9e";
}
.icon-video:before {
  content: "\ea9f";
}
.icon-videocam:before {
  content: "\eaa0";
}
.icon-volume-high:before {
  content: "\eaa1";
}
.icon-volume-low:before {
  content: "\eaa2";
}
.icon-volume-medium:before {
  content: "\eaa3";
}
.icon-w3c:before {
  content: "\eaa4";
  color: #005a9c;
}
.icon-wallet:before {
  content: "\eaa5";
}
.icon-warning:before {
  content: "\eaa6";
  color: #f6c02a;
}
.icon-warning-empty:before {
  content: "\eaa7";
  color: #f6c02a;
}
.icon-wasql:before {
  content: "\eaa8";
}
.icon-water:before {
  content: "\eaa9";
  color: #74bbfb;
}
.icon-website:before {
  content: "\eaaa";
}
.icon-wifi:before {
  content: "\eaab";
}
.icon-window:before {
  content: "\eaac";
}
.icon-windows:before {
  content: "\eaad";
}
.icon-world:before {
  content: "\eaae";
}
.icon-wrench:before {
  content: "\eaaf";
}
.icon-adjust:before {
  content: "\eab0";
}
.icon-anchor:before {
  content: "\eab1";
}
.icon-apachekafka:before {
  content: "\eab2";
}
.icon-api:before {
  content: "\eab3";
}
.icon-api-postgrest:before {
  content: "\eab4";
  color: #2c6b97;
}
.icon-application-apache:before {
  content: "\eab5";
  color: #d22128;
}
.icon-application-excel:before {
  content: "\eab6";
  color: #217346;
}
.icon-application-outlook:before {
  content: "\eab7";
  color: #0072c6;
}
.icon-application-powerpoint:before {
  content: "\eab8";
  color: #d24726;
}
.icon-application-tableau:before {
  content: "\eab9";
  color: #e97627;
}
.icon-application-word:before {
  content: "\eaba";
  color: #2b579a;
}
.icon-archive:before {
  content: "\eabb";
}
.icon-arrow-combo:before {
  content: "\eabc";
}
.icon-arrow-down:before {
  content: "\eabd";
}
.icon-arrow-left:before {
  content: "\eabe";
}
.icon-arrow-right:before {
  content: "\eabf";
}
.icon-arrow-up:before {
  content: "\eac0";
}
.icon-article:before {
  content: "\eac1";
}
.icon-at:before {
  content: "\eac2";
}
.icon-attach:before {
  content: "\eac3";
}
.icon-award:before {
  content: "\eac4";
}
.icon-award-filled:before {
  content: "\eac5";
}
.icon-backward:before {
  content: "\eac6";
}
.icon-banknote:before {
  content: "\eac7";
}
.icon-barcode:before {
  content: "\eac8";
}
.icon-bathroom:before {
  content: "\eac9";
}
.icon-bell:before {
  content: "\eaca";
}
.icon-bell-empty:before {
  content: "\eacb";
}
.icon-blank:before {
  content: "\eacc";
}
.icon-block:before {
  content: "\eacd";
}
.icon-blog:before {
  content: "\eace";
}
.icon-bluetooth:before {
  content: "\eacf";
}
.icon-bold:before {
  content: "\ead0";
}
.icon-book:before {
  content: "\ead1";
}
.icon-bookmark:before {
  content: "\ead2";
}
.icon-bottom:before {
  content: "\ead3";
}
.icon-box:before {
  content: "\ead4";
}
.icon-brand-amazonalexa:before {
  content: "\ead5";
  color: #00caff;
}
.icon-brand-amazonaws:before {
  content: "\ead6";
}
.icon-brand-apache:before {
  content: "\ead7";
  color: #d22128;
}
.icon-brand-apachekafka:before {
  content: "\ead8";
}
.icon-brand-apple:before {
  content: "\ead9";
  color: #999;
}
.icon-brand-salesforce:before {
  content: "\eada";
  color: #00a1e0;
}
.icon-briefcase:before {
  content: "\eadb";
}
.icon-browser:before {
  content: "\eadc";
}
.icon-browser-chrome:before {
  content: "\eadd";
  color: #4db649;
}
.icon-browser-firefox:before {
  content: "\eade";
  color: #ff9400;
}
.icon-browser-ie:before {
  content: "\eadf";
  color: #0076d6;
}
.icon-browser-opera:before {
  content: "\eae0";
  color: #ff1b2d;
}
.icon-browser-safari:before {
  content: "\eae1";
}
.icon-bug:before {
  content: "\eae2";
}
.icon-building:before {
  content: "\eae3";
}
.icon-calculator:before {
  content: "\eae4";
}
.icon-calendar:before {
  content: "\eae5";
}
.icon-calendar-add:before {
  content: "\eae6";
}
.icon-calendar-check:before {
  content: "\eae7";
}
.icon-calendar-minus:before {
  content: "\eae8";
}
.icon-calendar-x:before {
  content: "\eae9";
}
.icon-camera:before {
  content: "\eaea";
}
.icon-cancel:before {
  content: "\eaeb";
}
.icon-cancel-circled:before {
  content: "\eaec";
}
.icon-cancel-squared:before {
  content: "\eaed";
}
.icon-car:before {
  content: "\eaee";
}
.icon-cart:before {
  content: "\eaef";
}
.icon-cart-full:before {
  content: "\eaf0";
}
.icon-cc:before {
  content: "\eaf1";
}
.icon-cc-amex:before {
  content: "\eaf2";
  color: #3498d8;
}
.icon-cc-discover:before {
  content: "\eaf3";
  color: #f27300;
}
.icon-cc-mastercard:before {
  content: "\eaf4";
  color: #c00;
}
.icon-cc-paypal:before {
  content: "\eaf5";
  color: #006492;
}
.icon-cc-stripe:before {
  content: "\eaf6";
  color: #2c97de;
}
.icon-cc-visa:before {
  content: "\eaf7";
  color: #0023a0;
}
.icon-chair:before {
  content: "\eaf8";
}
.icon-chart-area:before {
  content: "\eaf9";
}
.icon-chart-area-add:before {
  content: "\eafa";
}
.icon-chart-bar:before {
  content: "\eafb";
}
.icon-chart-bar2:before {
  content: "\eafc";
}
.icon-chart-bar2-add:before {
  content: "\eafd";
}
.icon-chart-bar3:before {
  content: "\eafe";
}
.icon-chart-bar-add:before {
  content: "\eaff";
}
.icon-chart-line:before {
  content: "\eb00";
}
.icon-chart-line-add:before {
  content: "\eb01";
}
.icon-chart-pie:before {
  content: "\eb02";
}
.icon-chart-pie-add:before {
  content: "\eb03";
}
.icon-chat:before {
  content: "\eb04";
}
.icon-checkbox:before {
  content: "\eb05";
}
.icon-checkbox-add:before {
  content: "\eb06";
}
.icon-checkbox-delete:before {
  content: "\eb07";
}
.icon-checkbox-empty:before {
  content: "\eb08";
}
.icon-circle:before {
  content: "\eb09";
}
.icon-circle-empty:before {
  content: "\eb0a";
}
.icon-clipboard:before {
  content: "\eb0b";
}
.icon-clipboard-edit:before {
  content: "\eb0c";
}
.icon-clipboard-list:before {
  content: "\eb0d";
}
.icon-clock:before {
  content: "\eb0e";
}
.icon-clone:before {
  content: "\eb0f";
}
.icon-close:before {
  content: "\eb10";
}
.icon-cloud:before {
  content: "\eb11";
}
.icon-code:before {
  content: "\eb12";
}
.icon-code2:before {
  content: "\eb13";
}
.icon-color-adjust:before {
  content: "\eb14";
}
.icon-comment:before {
  content: "\eb15";
}
.icon-comment-add:before {
  content: "\eb16";
}
.icon-comment-dots:before {
  content: "\eb17";
}
.icon-comment-dots-empty:before {
  content: "\eb18";
}
.icon-comment-empty:before {
  content: "\eb19";
}
.icon-compare:before {
  content: "\eb1a";
}
.icon-compass:before {
  content: "\eb1b";
}
.icon-connect:before {
  content: "\eb1c";
}
.icon-copy:before {
  content: "\eb1d";
}
.icon-copyright:before {
  content: "\eb1e";
}
.icon-coupon:before {
  content: "\eb1f";
}
.icon-cron:before {
  content: "\eb20";
}
.icon-cronlog:before {
  content: "\eb21";
}
.icon-css:before {
  content: "\eb22";
}
.icon-css3:before {
  content: "\eb23";
  color: #118ed1;
}
.icon-cube:before {
  content: "\eb24";
}
.icon-currency-dollar:before {
  content: "\eb25";
}
.icon-currency-euro:before {
  content: "\eb26";
}
.icon-currency-pound:before {
  content: "\eb27";
}
.icon-cursor:before {
  content: "\eb28";
}
.icon-database:before {
  content: "\eb29";
}
.icon-database-cassandra:before {
  content: "\eb2a";
  color: #1287b1;
}
.icon-database-cubrid:before {
  content: "\eb2b";
  color: #ffae00;
}
.icon-database-db2:before {
  content: "\eb2c";
  color: #09af05;
}
.icon-database-duckdb:before {
  content: "\eb2d";
  color: #fff100;
}
.icon-database-elasticsearch:before {
  content: "\eb2e";
  color: #005571;
}
.icon-database-empty:before {
  content: "\eb2f";
}
.icon-database-faircom:before {
  content: "\eb30";
  color: #005d95;
}
.icon-database-firebase:before {
  content: "\eb31";
  color: #ffca28;
}
