@font-face {
    font-family: 'wasql_icons';
    src:    url('/wfiles/fonts/wasql_icons.eot?5ld8c9');
    src:    url('/wfiles/fonts/wasql_icons.eot?5ld8c9#iefix') format('embedded-opentype'),
        url('/wfiles/fonts/wasql_icons.ttf?5ld8c9') format('truetype'),
        url('/wfiles/fonts/wasql_icons.woff?5ld8c9') format('woff'),
        url('/wfiles/fonts/wasql_icons.svg?5ld8c9#wasql_icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wasql_icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cc:before {
    content: "\e900";
}
.icon-cc-amex:before {
    content: "\e901";
}
.icon-cc-discover:before {
    content: "\e902";
}
.icon-cc-mastercard:before {
    content: "\e903";
}
.icon-cc-visa:before {
    content: "\e904";
}
.icon-chair:before {
    content: "\e905";
}
.icon-chart-area:before {
    content: "\e906";
}
.icon-chart-bar:before {
    content: "\e907";
}
.icon-chart-bar2:before {
    content: "\e908";
}
.icon-chart-bar3:before {
    content: "\e909";
}
.icon-chart-line:before {
    content: "\e90a";
}
.icon-chart-pie:before {
    content: "\e90b";
}
.icon-chat:before {
    content: "\e90c";
}
.icon-checkbox:before {
    content: "\e90d";
}
.icon-checkbox-empty:before {
    content: "\e90e";
}
.icon-circle:before {
    content: "\e90f";
}
.icon-circle-empty:before {
    content: "\e910";
}
.icon-clipboard:before {
    content: "\e911";
}
.icon-clipboard-edit:before {
    content: "\e912";
}
.icon-clipboard-list:before {
    content: "\e913";
}
.icon-clock:before {
    content: "\e914";
}
.icon-clone:before {
    content: "\e915";
}
.icon-close:before {
    content: "\e916";
}
.icon-cloud:before {
    content: "\e917";
}
.icon-code:before {
    content: "\e918";
}
.icon-code2:before {
    content: "\e919";
}
.icon-color-adjust:before {
    content: "\e91a";
}
.icon-comment:before {
    content: "\e91b";
}
.icon-comment-empty:before {
    content: "\e91c";
}
.icon-compare:before {
    content: "\e91d";
}
.icon-copyright:before {
    content: "\e91e";
}
.icon-coupon:before {
    content: "\e91f";
}
.icon-cron:before {
    content: "\e920";
}
.icon-cronlog:before {
    content: "\e921";
}
.icon-css:before {
    content: "\e922";
}
.icon-css3:before {
    content: "\e923";
}
.icon-cube:before {
    content: "\e924";
}
.icon-currency-dollar:before {
    content: "\e925";
}
.icon-currency-euro:before {
    content: "\e926";
}
.icon-currency-pound:before {
    content: "\e927";
}
.icon-cursor:before {
    content: "\e928";
}
.icon-database:before {
    content: "\e929";
}
.icon-database-empty:before {
    content: "\e92a";
}
.icon-desktop:before {
    content: "\e92b";
}
.icon-dir-down:before {
    content: "\e92c";
}
.icon-direction:before {
    content: "\e92d";
}
.icon-dir-left:before {
    content: "\e92e";
}
.icon-dir-right:before {
    content: "\e92f";
}
.icon-dir-up:before {
    content: "\e930";
}
.icon-doc-edit:before {
    content: "\e931";
}
.icon-dots:before {
    content: "\e932";
}
.icon-dots-vertical:before {
    content: "\e933";
}
.icon-down:before {
    content: "\e934";
}
.icon-download:before {
    content: "\e935";
}
.icon-droplet:before {
    content: "\e936";
}
.icon-edit:before {
    content: "\e937";
}
.icon-emo-happy:before {
    content: "\e938";
}
.icon-emo-unhappy:before {
    content: "\e939";
}
.icon-encoding:before {
    content: "\e93a";
}
.icon-erase:before {
    content: "\e93b";
}
.icon-exchange:before {
    content: "\e93c";
}
.icon-export:before {
    content: "\e93d";
}
.icon-export-squared:before {
    content: "\e93e";
}
.icon-eye:before {
    content: "\e93f";
}
.icon-feather:before {
    content: "\e940";
}
.icon-female:before {
    content: "\e941";
}
.icon-file-audio:before {
    content: "\e942";
}
.icon-file-code:before {
    content: "\e943";
}
.icon-file-doc:before {
    content: "\e944";
}
.icon-file-docs:before {
    content: "\e945";
}
.icon-file-excel:before {
    content: "\e946";
}
.icon-file-image:before {
    content: "\e947";
}
.icon-file-pdf:before {
    content: "\e948";
}
.icon-file-pdf2:before {
    content: "\e949";
}
.icon-file-txt:before {
    content: "\e94a";
}
.icon-file-video:before {
    content: "\e94b";
}
.icon-file-word:before {
    content: "\e94c";
}
.icon-file-zip:before {
    content: "\e94d";
}
.icon-filter:before {
    content: "\e94e";
}
.icon-filter-add:before {
    content: "\e94f";
}
.icon-fire:before {
    content: "\e950";
}
.icon-first:before {
    content: "\e951";
}
.icon-flag:before {
    content: "\e952";
}
.icon-flag2:before {
    content: "\e953";
}
.icon-flow:before {
    content: "\e954";
}
.icon-folder:before {
    content: "\e955";
}
.icon-folder-add:before {
    content: "\e956";
}
.icon-folder-remove:before {
    content: "\e957";
}
.icon-font:before {
    content: "\e958";
}
.icon-fontsize:before {
    content: "\e959";
}
.icon-food:before {
    content: "\e95a";
}
.icon-forward:before {
    content: "\e95b";
}
.icon-gear:before {
    content: "\e95c";
}
.icon-gears:before {
    content: "\e95d";
}
.icon-gift:before {
    content: "\e95e";
}
.icon-git:before {
    content: "\e95f";
}
.icon-git-add:before {
    content: "\e960";
}
.icon-git-commit:before {
    content: "\e961";
}
.icon-git-pull:before {
    content: "\e962";
}
.icon-git-push:before {
    content: "\e963";
}
.icon-git-push-commit:before {
    content: "\e964";
}
.icon-git-remove:before {
    content: "\e965";
}
.icon-globe:before {
    content: "\e966";
}
.icon-graduate:before {
    content: "\e967";
}
.icon-group:before {
    content: "\e968";
}
.icon-hash:before {
    content: "\e969";
}
.icon-hashtag:before {
    content: "\e96a";
}
.icon-heart:before {
    content: "\e96b";
}
.icon-heart-empty:before {
    content: "\e96c";
}
.icon-heart-minus:before {
    content: "\e96d";
}
.icon-heart-plus:before {
    content: "\e96e";
}
.icon-help:before {
    content: "\e96f";
}
.icon-help-circled:before {
    content: "\e970";
}
.icon-history:before {
    content: "\e971";
}
.icon-home:before {
    content: "\e972";
}
.icon-home2:before {
    content: "\e973";
}
.icon-html5:before {
    content: "\e974";
}
.icon-import:before {
    content: "\e975";
}
.icon-info-circled:before {
    content: "\e976";
}
.icon-json:before {
    content: "\e977";
}
.icon-key:before {
    content: "\e978";
}
.icon-laptop:before {
    content: "\e979";
}
.icon-last:before {
    content: "\e97a";
}
.icon-left:before {
    content: "\e97b";
}
.icon-lightbulb:before {
    content: "\e97c";
}
.icon-link:before {
    content: "\e97d";
}
.icon-link-ext:before {
    content: "\e97e";
}
.icon-list:before {
    content: "\e97f";
}
.icon-list-add:before {
    content: "\e980";
}
.icon-list-ol:before {
    content: "\e981";
}
.icon-list-small:before {
    content: "\e982";
}
.icon-list-ul:before {
    content: "\e983";
}
.icon-lock:before {
    content: "\e984";
}
.icon-lock-open:before {
    content: "\e985";
}
.icon-login:before {
    content: "\e986";
}
.icon-logout:before {
    content: "\e987";
}
.icon-mail:before {
    content: "\e988";
}
.icon-mail-squared:before {
    content: "\e989";
}
.icon-male:before {
    content: "\e98a";
}
.icon-map-marker:before {
    content: "\e98b";
}
.icon-mark:before {
    content: "\e98c";
}
.icon-maximize:before {
    content: "\e98d";
}
.icon-medal:before {
    content: "\e98e";
}
.icon-medal-filled:before {
    content: "\e98f";
}
.icon-menu:before {
    content: "\e990";
}
.icon-mic:before {
    content: "\e991";
}
.icon-minimize:before {
    content: "\e992";
}
.icon-minus:before {
    content: "\e993";
}
.icon-minus-squared:before {
    content: "\e994";
}
.icon-minus-squared-empty:before {
    content: "\e995";
}
.icon-mobile:before {
    content: "\e996";
}
.icon-monitor:before {
    content: "\e997";
}
.icon-move:before {
    content: "\e998";
}
.icon-network:before {
    content: "\e999";
}
.icon-newspaper:before {
    content: "\e99a";
}
.icon-notebook:before {
    content: "\e99b";
}
.icon-optimize:before {
    content: "\e99c";
}
.icon-os-android:before {
    content: "\e99d";
}
.icon-os-apple:before {
    content: "\e99e";
}
.icon-os-linux:before {
    content: "\e99f";
}
.icon-os-ubuntu:before {
    content: "\e9a0";
}
.icon-os-windows:before {
    content: "\e9a1";
}
.icon-package:before {
    content: "\e9a2";
}
.icon-paypal:before {
    content: "\e9a3";
}
.icon-pen:before {
    content: "\e9a4";
}
.icon-pencil:before {
    content: "\e9a5";
}
.icon-phone:before {
    content: "\e9a6";
}
.icon-pin:before {
    content: "\e9a7";
}
.icon-play:before {
    content: "\e9a8";
}
.icon-plus:before {
    content: "\e9a9";
}
.icon-plus-squared:before {
    content: "\e9aa";
}
.icon-plus-squared-empty:before {
    content: "\e9ab";
}
.icon-popup:before {
    content: "\e9ac";
}
.icon-postedit:before {
    content: "\e9ad";
}
.icon-power:before {
    content: "\e9ae";
}
.icon-print:before {
    content: "\e9af";
}
.icon-prompt:before {
    content: "\e9b0";
}
.icon-properties:before {
    content: "\e9b1";
}
.icon-qrcode:before {
    content: "\e9b2";
}
.icon-rain:before {
    content: "\e9b3";
}
.icon-refresh:before {
    content: "\e9b4";
}
.icon-rename:before {
    content: "\e9b5";
}
.icon-reply:before {
    content: "\e9b6";
}
.icon-reply-all:before {
    content: "\e9b7";
}
.icon-reset:before {
    content: "\e9b8";
}
.icon-resize:before {
    content: "\e9b9";
}
.icon-right:before {
    content: "\e9ba";
}
.icon-rss:before {
    content: "\e9bb";
}
.icon-save:before {
    content: "\e9bc";
}
.icon-search:before {
    content: "\e9bd";
}
.icon-server:before {
    content: "\e9be";
}
.icon-share:before {
    content: "\e9bf";
}
.icon-shrink:before {
    content: "\e9c0";
}
.icon-signal:before {
    content: "\e9c1";
}
.icon-site-amazon:before {
    content: "\e9c2";
}
.icon-site-bing:before {
    content: "\e9c3";
}
.icon-site-dropbox:before {
    content: "\e9c4";
}
.icon-site-ebay:before {
    content: "\e9c5";
}
.icon-site-facebook:before {
    content: "\e9c6";
}
.icon-site-facebook-squared:before {
    content: "\e9c7";
}
.icon-site-git:before {
    content: "\e9c8";
}
.icon-site-github:before {
    content: "\e9c9";
}
.icon-site-google:before {
    content: "\e9ca";
}
.icon-site-gplus:before {
    content: "\e9cb";
}
.icon-site-gplus-squared:before {
    content: "\e9cc";
}
.icon-site-hulu:before {
    content: "\e9cd";
}
.icon-site-instagram:before {
    content: "\e9ce";
}
.icon-site-linkedin:before {
    content: "\e9cf";
}
.icon-site-linkedin-squared:before {
    content: "\e9d0";
}
.icon-sitemap:before {
    content: "\e9d1";
}
.icon-site-outlook:before {
    content: "\e9d2";
}
.icon-site-pinterest:before {
    content: "\e9d3";
}
.icon-site-pinterest-squared:before {
    content: "\e9d4";
}
.icon-site-sharethis:before {
    content: "\e9d5";
}
.icon-site-site-blogger-squared:before {
    content: "\e9d6";
}
.icon-site-skype:before {
    content: "\e9d7";
}
.icon-site-stumbleupon:before {
    content: "\e9d8";
}
.icon-site-tumblr:before {
    content: "\e9d9";
}
.icon-site-tumblr-squared:before {
    content: "\e9da";
}
.icon-site-twitter:before {
    content: "\e9db";
}
.icon-site-twitter-bird:before {
    content: "\e9dc";
}
.icon-site-wikipedia:before {
    content: "\e9dd";
}
.icon-site-wordpress:before {
    content: "\e9de";
}
.icon-site-yahoo:before {
    content: "\e9df";
}
.icon-site-youtube:before {
    content: "\e9e0";
}
.icon-site-youtube-play:before {
    content: "\e9e1";
}
.icon-sliders:before {
    content: "\e9e2";
}
.icon-slideshow:before {
    content: "\e9e3";
}
.icon-snow:before {
    content: "\e9e4";
}
.icon-sort-down:before {
    content: "\e9e5";
}
.icon-sort-name-down:before {
    content: "\e9e6";
}
.icon-sort-name-up:before {
    content: "\e9e7";
}
.icon-sort-up:before {
    content: "\e9e8";
}
.icon-spin1:before {
    content: "\e9e9";
}
.icon-spin2:before {
    content: "\e9ea";
}
.icon-spin3:before {
    content: "\e9eb";
}
.icon-spin4:before {
    content: "\e9ec";
}
.icon-spin5:before {
    content: "\e9ed";
}
.icon-spin6:before {
    content: "\e9ee";
}
.icon-spin7:before {
    content: "\e9ef";
}
.icon-spin8:before {
    content: "\e9f0";
}
.icon-square:before {
    content: "\e9f1";
}
.icon-square-check:before {
    content: "\e9f2";
}
.icon-square-minus:before {
    content: "\e9f3";
}
.icon-square-plus:before {
    content: "\e9f4";
}
.icon-square-x:before {
    content: "\e9f5";
}
.icon-star:before {
    content: "\e9f6";
}
.icon-star-empty:before {
    content: "\e9f7";
}
.icon-star-half:before {
    content: "\e9f8";
}
.icon-star-half-empty:before {
    content: "\e9f9";
}
.icon-stopwatch:before {
    content: "\e9fa";
}
.icon-stretch:before {
    content: "\e9fb";
}
.icon-suitcase:before {
    content: "\e9fc";
}
.icon-sun:before {
    content: "\e9fd";
}
.icon-sun2:before {
    content: "\e9fe";
}
.icon-support:before {
    content: "\e9ff";
}
.icon-sync:before {
    content: "\ea00";
}
.icon-sync-diff:before {
    content: "\ea01";
}
.icon-sync-pull:before {
    content: "\ea02";
}
.icon-sync-push:before {
    content: "\ea03";
}
.icon-table:before {
    content: "\ea04";
}
.icon-table-add:before {
    content: "\ea05";
}
.icon-table-remove:before {
    content: "\ea06";
}
.icon-tablet:before {
    content: "\ea07";
}
.icon-tag:before {
    content: "\ea08";
}
.icon-tags:before {
    content: "\ea09";
}
.icon-target:before {
    content: "\ea0a";
}
.icon-teacher:before {
    content: "\ea0b";
}
.icon-th:before {
    content: "\ea0c";
}
.icon-th-list:before {
    content: "\ea0d";
}
.icon-th-thumb:before {
    content: "\ea0e";
}
.icon-th-thumb-empty:before {
    content: "\ea0f";
}
.icon-thumbs-down:before {
    content: "\ea10";
}
.icon-thumbs-up:before {
    content: "\ea11";
}
.icon-ticket:before {
    content: "\ea12";
}
.icon-toggle-on:before {
    content: "\ea13";
}
.icon-tools:before {
    content: "\ea14";
}
.icon-traffic-cone:before {
    content: "\ea15";
}
.icon-transfer:before {
    content: "\ea16";
}
.icon-trash:before {
    content: "\ea17";
}
.icon-trash-full:before {
    content: "\ea18";
}
.icon-truck:before {
    content: "\ea19";
}
.icon-t-shirt:before {
    content: "\ea1a";
}
.icon-undo:before {
    content: "\ea1b";
}
.icon-up:before {
    content: "\ea1c";
}
.icon-upload:before {
    content: "\ea1d";
}
.icon-user:before {
    content: "\ea1e";
}
.icon-user2:before {
    content: "\ea1f";
}
.icon-user2-add:before {
    content: "\ea20";
}
.icon-user-add:before {
    content: "\ea21";
}
.icon-user-admin:before {
    content: "\ea22";
}
.icon-user-child:before {
    content: "\ea23";
}
.icon-user-female:before {
    content: "\ea24";
}
.icon-user-male:before {
    content: "\ea25";
}
.icon-user-remove:before {
    content: "\ea26";
}
.icon-users:before {
    content: "\ea27";
}
.icon-users2:before {
    content: "\ea28";
}
.icon-user-student:before {
    content: "\ea29";
}
.icon-video:before {
    content: "\ea2a";
}
.icon-videocam:before {
    content: "\ea2b";
}
.icon-w3c:before {
    content: "\ea2c";
}
.icon-warning:before {
    content: "\ea2d";
}
.icon-warning-empty:before {
    content: "\ea2e";
}
.icon-water:before {
    content: "\ea2f";
}
.icon-website:before {
    content: "\ea30";
}
.icon-wifi:before {
    content: "\ea31";
}
.icon-window:before {
    content: "\ea32";
}
.icon-windows:before {
    content: "\ea33";
}
.icon-wrench:before {
    content: "\ea34";
}
.icon-0:before {
    content: "\ea35";
}
.icon-1:before {
    content: "\ea36";
}
.icon-2:before {
    content: "\ea37";
}
.icon-3:before {
    content: "\ea38";
}
.icon-4:before {
    content: "\ea39";
}
.icon-5:before {
    content: "\ea3a";
}
.icon-6:before {
    content: "\ea3b";
}
.icon-7:before {
    content: "\ea3c";
}
.icon-8:before {
    content: "\ea3d";
}
.icon-9:before {
    content: "\ea3e";
}
.icon-adjust:before {
    content: "\ea3f";
}
.icon-anchor:before {
    content: "\ea40";
}
.icon-archive:before {
    content: "\ea41";
}
.icon-arrow-combo:before {
    content: "\ea42";
}
.icon-arrow-down:before {
    content: "\ea43";
}
.icon-arrow-left:before {
    content: "\ea44";
}
.icon-arrow-right:before {
    content: "\ea45";
}
.icon-arrow-up:before {
    content: "\ea46";
}
.icon-article:before {
    content: "\ea47";
}
.icon-at:before {
    content: "\ea48";
}
.icon-attach:before {
    content: "\ea49";
}
.icon-award:before {
    content: "\ea4a";
}
.icon-award-filled:before {
    content: "\ea4b";
}
.icon-backward:before {
    content: "\ea4c";
}
.icon-barcode:before {
    content: "\ea4d";
}
.icon-bell:before {
    content: "\ea4e";
}
.icon-bell-empty:before {
    content: "\ea4f";
}
.icon-blank:before {
    content: "\ea50";
}
.icon-block:before {
    content: "\ea51";
}
.icon-book:before {
    content: "\ea52";
}
.icon-bookmark:before {
    content: "\ea53";
}
.icon-box:before {
    content: "\ea54";
}
.icon-briefcase:before {
    content: "\ea55";
}
.icon-browser:before {
    content: "\ea56";
}
.icon-browser-chrome:before {
    content: "\ea57";
}
.icon-browser-firefox:before {
    content: "\ea58";
}
.icon-browser-ie:before {
    content: "\ea59";
}
.icon-bug:before {
    content: "\ea5a";
}
.icon-building:before {
    content: "\ea5b";
}
.icon-calendar:before {
    content: "\ea5c";
}
.icon-cancel:before {
    content: "\ea5d";
}
.icon-cancel-circled:before {
    content: "\ea5e";
}
.icon-cancel-squared:before {
    content: "\ea5f";
}
.icon-cart:before {
    content: "\ea60";
}
.icon-cart-full:before {
    content: "\ea61";
}

