<hosts>
	<!--
		Valid Fields:
			name - HTTP_HOST to base filter on
			dbhost - Database host
			dbname - Database name
			dbuser - Database username
			dbpass - Database password
			dbtype - Database type (mysql,sqlite,mssql)
			paging - default paging limit
			showtables - show all tables, including WaSQL tables
			missing_msg - Message to show if page is missing. if msg is a url it will redirect.
			missing_template - template to use on missing pages
			missing_page - Page to view if current page is missing (use instead of missing_msg and missing_template)
			backup_cmd - run this command when going to backup
			authhost - authenticate and replicate this user profile
			load_modules - loads additional php files found in the PHP directory.. i.e load_modules="fedex,authnet"
			maintanence - displays maintenance message instead of template or page
			rsync - adds requests to a rsync table for later submission - request, timestamp,user auth
			minify_{NAME} - adds or replaces minify groups for css and js minify scripting
			default_{FIELD} - default field to use when creating the default user when a database is first created
			mobile_index - if set and client is a mobile device, use this as the homepage
			dbauth - a value to pass in to switch databases for this session - set in dbhost you are switching to.  ?dbhost=test&dbauth=swpassword
			codereview - setting this to 1 will require a code reviewer to also verify any synchronize changes before they are submitted
			minify_css boolean - use minified versions of css files when avail.  Looks for .min.css
			minify_js boolean - use minified versions of js files when avail.  Looks for .min.js
			markdown boolean - if a textarea field has a corresponding {field}_mdml field then convert the field into markdown on add/edit
	-->
	<!-- allhost sets global settings unless overridden by the host entry -->
	<allhost
		dbhost="localhost"
		paging="30"
		dbtype="mysqli"
        dbuser="root"
        dbpass="ste88llo"
        email_from="slloyd@timequest.org"
        smtp="mail.timequest.org"
        smtpuser="slloyd@timequest.org"
        smtppass="ste88llo"
        default_username="slloyd"
		default_password="~!qMudi4m4waQ=^-"
		default_email="slloyd@timequest.org"
		default_firstname="Steven"
		default_lastname="Lloyd"
		mobile_index="mobile"
		maintenance="Undergoing maintenance"
		maintenance_datetime="March 31st 1:00pm|March 31th 2012 3:26pm"
		gzip="1"
		preload="preload"
		logo="/wfiles/images/logo.png"
		pageview_comments="1"
	/>
	<!-- create a host entry for each domain and subdomain -->
	<host
		name="localhost"
		dbname="wtest"
		access="all"
		xminify_css="1"
		minify_js="0"
        markdown="1"
        database_sessions="1"
        facebook_appid="310603262440465"
        facebook_login="Login using Facebook"

	/>
	<host
		name="dnsserver"
		log_days="90"
		xip_address="192.168.1.3"
		sameas="localhost"
		debug="1"
	/>
	<host
		name="b.com"
		sameas="localhost"
	/>
	<host
		name="a.b.com"
		sameas="localhost"
	/>
	<host
		name="f.a.b.com"
		sameas="localhost"
	/>
</hosts>

