#README
#DaSQL: DOS Access to SQL -  config file. Note: global is the only reserved ini section name
#[global]
#authkey=
#base_url=
#output_format=csv,json,xml,table or html
#db=
#query=

[global]
authkey={YOUR WaSQL Auth KEY} ~found under the profile menu in the WaSQL admin portal
base_url={WaSQL Server}
output_format=csv

[t2]
db=db_t2
query=select id,name from people limit 10

[t2x]
db=db_t2

[t1]
db=db_t1
query=select id,amount,sku from orderitems order by 1 desc limit 5






