#README
#This file is for use with query.py and sets the up shortcuts. global is applied to all shortcuts first
#[global]
#authkey=
#base_url=
#output_format=csv or json
#db=
#query=

[global]
authkey={YOUR WaSQL Auth KEY}
base_url={WaSQL Server}
output_format=csv

[t2]
db=db_t2
query=select id,name from people limit 10

[t2x]
db=db_t2

[t1]
db=db_t1
query=select id,amount,sku from orderitems order by 1 desc limit 5






