#README
#DaSQL: DOS Access to SQL -  config file. Note: global is the only reserved ini section name
#[global]
#base_url=
#output_format=dos,csv,json,xml,table or html
#db=
#query=
#DaSQL supports all 6 WaSQL authentications methods
#	authkey 	
#	tauthkey  	(temporary authkey)
#	apikey,username
#	username,password
#	email,password
#	phone,password
#There are three ways you can call dasql.py
#	>python3 dasql.py msa
#	>python3 dasql.py msa select name from table
#	>python3 dasql.py c:\temp\msa.sql
#If you are using sublime 3 as your editor you can create a custom build file so you run SQL and see the results right in sublime
#	The filename has to match a [section] in your ini
#DaSQL.sublime-build
#{
#	"shell_cmd": "python3 dasql.py \"$file\"",
#	"working_dir":"c:\\wasql",
#	"quiet":true,
#	"save_untitled_files":true
#}

[global]
authkey={YOUR WaSQL Auth KEY} ~found under the profile menu in the WaSQL admin portal
base_url={WaSQL Server}
output_format=csv

[t2]
db=db_t2
query=select id,name from people limit 10

[t2x]
db=db_t2

[t1]
db=db_t1
query=select id,amount,sku from orderitems order by 1 desc limit 5






