/*
*
*    Author:    Michael Raffaele <michael@mraffaele.com>
*    Date:    25th October 2011
*    Info:     http://www.mraffaele.com/blog/2011/10/25/css-accordion-no-javascript/
*
*/

/* Shared for all accordion types */
.accordion {
    margin:0 auto;
}
.accordion ul {
    list-style:none;
    margin:0;
    padding:0;    
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    cursor:pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}
.accordion .content {
    padding:0 10px;
    overflow:hidden;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}

.accordion ul li {
    overflow:hidden;
    margin:0 0 1px;
}

.accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    border-bottom:0;
}

.accordion ul li .content {
    height:0px;
}
.accordion [type=radio]:checked ~ label ~ .content, .accordion [type=checkbox]:checked ~ label ~ .content {
    height:300px;
}