@font-face {
  font-family: 'brands';
  src:  url('/wfiles/fonts/brands.eot?6nwwkt');
  src:  url('/wfiles/fonts/brands.eot?6nwwkt#iefix') format('embedded-opentype'),
    url('/wfiles/fonts/brands.ttf?6nwwkt') format('truetype'),
    url('/wfiles/fonts/brands.woff?6nwwkt') format('woff'),
    url('/wfiles/fonts/brands.svg?6nwwkt#brands') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="brand-"], [class*=" brand-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brands' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand-1password:before {
  content: "\e900";
  color: #0094f5;
}
.brand-500px:before {
  content: "\e901";
  color: #0099e5;
}
.brand-abbrobotstudio:before {
  content: "\e902";
  color: #ff9e0f;
}
.brand-about-dot-me:before {
  content: "\e903";
  color: #00a98f;
}
.brand-abstract:before {
  content: "\e904";
}
.brand-academia:before {
  content: "\e905";
}
.brand-accusoft:before {
  content: "\e906";
  color: #ff7e4a;
}
.brand-acm:before {
  content: "\e907";
  color: #0085ca;
}
.brand-addthis:before {
  content: "\e908";
  color: #ff6550;
}
.brand-adguard:before {
  content: "\e909";
  color: #66b574;
}
.brand-adobe:before {
  content: "\e90a";
  color: #f00;
}
.brand-adobeacrobatreader:before {
  content: "\e90b";
  color: #ee3f24;
}
.brand-adobeaftereffects:before {
  content: "\e90c";
  color: #d291ff;
}
.brand-adobeaudition:before {
  content: "\e90d";
  color: #00e4bb;
}
.brand-adobecreativecloud:before {
  content: "\e90e";
  color: #d41818;
}
.brand-adobedreamweaver:before {
  content: "\e90f";
  color: #35fa00;
}
.brand-adobeillustrator:before {
  content: "\e910";
  color: #ff7c00;
}
.brand-adobeindesign:before {
  content: "\e911";
  color: #fd3f93;
}
.brand-adobelightroomcc:before {
  content: "\e912";
  color: #3df0f0;
}
.brand-adobelightroomclassic:before {
  content: "\e913";
  color: #add5ec;
}
.brand-adobephotoshop:before {
  content: "\e914";
  color: #00c8ff;
}
.brand-adobepremiere:before {
  content: "\e915";
  color: #ea77ff;
}
.brand-adobetypekit:before {
  content: "\e916";
  color: #87ec00;
}
.brand-adobexd:before {
  content: "\e917";
  color: #ff2bc2;
}
.brand-airbnb:before {
  content: "\e918";
  color: #ff5a5f;
}
.brand-airplayaudio:before {
  content: "\e919";
}
.brand-airplayvideo:before {
  content: "\e91a";
}
.brand-algolia:before {
  content: "\e91b";
  color: #5468ff;
}
.brand-alliedmodders:before {
  content: "\e91c";
  color: #1578d3;
}
.brand-amazon:before {
  content: "\e91d";
  color: #f90;
}
.brand-amazonalexa:before {
  content: "\e91e";
  color: #00caff;
}
.brand-amazonaws:before {
  content: "\e91f";
}
.brand-amd:before {
  content: "\e920";
  color: #ed1c24;
}
.brand-americanexpress:before {
  content: "\e921";
  color: #2e77bc;
}
.brand-anaconda:before {
  content: "\e922";
  color: #42b029;
}
.brand-analogue:before {
  content: "\e923";
}
.brand-anchor:before {
  content: "\e924";
  color: #8940fa;
}
.brand-android:before {
  content: "\e925";
  color: #3ddc84;
}
.brand-angellist:before {
  content: "\e926";
}
.brand-angular:before {
  content: "\e927";
  color: #dd0031;
}
.brand-angularuniversal:before {
  content: "\e928";
  color: #00acc1;
}
.brand-ansible:before {
  content: "\e929";
  color: #e00;
}
.brand-apache:before {
  content: "\e92a";
  color: #d22128;
}
.brand-apacheairflow:before {
  content: "\e92b";
  color: #007a88;
}
.brand-apachecordova:before {
  content: "\e92c";
  color: #e8e8e8;
}
.brand-apacheflink:before {
  content: "\e92d";
  color: #e6526f;
}
.brand-apachekafka:before {
  content: "\e92e";
}
.brand-apachenetbeanside:before {
  content: "\e92f";
  color: #1b6ac6;
}
.brand-apacheopenoffice:before {
  content: "\e930";
  color: #0e85cd;
}
.brand-apacherocketmq:before {
  content: "\e931";
  color: #d77310;
}
.brand-apachespark:before {
  content: "\e932";
  color: #e25a1c;
}
.brand-apple:before {
  content: "\e933";
  color: #999;
}
.brand-applemusic:before {
  content: "\e934";
}
.brand-applepay:before {
  content: "\e935";
}
.brand-applepodcasts:before {
  content: "\e936";
  color: #93c;
}
.brand-appveyor:before {
  content: "\e937";
  color: #00b3e0;
}
.brand-aral:before {
  content: "\e938";
  color: #0063cb;
}
.brand-archiveofourown:before {
  content: "\e939";
  color: #900;
}
.brand-archlinux:before {
  content: "\e93a";
  color: #1793d1;
}
.brand-arduino:before {
  content: "\e93b";
  color: #00979d;
}
.brand-artstation:before {
  content: "\e93c";
  color: #13aff0;
}
.brand-arxiv:before {
  content: "\e93d";
  color: #b31b1b;
}
.brand-asana:before {
  content: "\e93e";
}
.brand-asciidoctor:before {
  content: "\e93f";
  color: #e40046;
}
.brand-at-and-t:before {
  content: "\e940";
  color: #00a8e0;
}
.brand-atlassian:before {
  content: "\e941";
  color: #0052cc;
}
.brand-atom:before {
  content: "\e942";
  color: #66595c;
}
.brand-audi:before {
  content: "\e943";
  color: #bb0a30;
}
.brand-audible:before {
  content: "\e944";
  color: #f8991c;
}
.brand-aurelia:before {
  content: "\e945";
  color: #ed2b88;
}
.brand-auth0:before {
  content: "\e946";
  color: #eb5424;
}
.brand-automatic:before {
  content: "\e947";
  color: #7d8084;
}
.brand-autotask:before {
  content: "\e948";
  color: #e51937;
}
.brand-aventrix:before {
  content: "\e949";
  color: #09d;
}
.brand-awesomewm:before {
  content: "\e94a";
  color: #535d6c;
}
.brand-azureartifacts:before {
  content: "\e94b";
  color: #cb2e6d;
}
.brand-azuredevops:before {
  content: "\e94c";
  color: #0078d7;
}
.brand-azurepipelines:before {
  content: "\e94d";
  color: #2560e0;
}
.brand-babel:before {
  content: "\e94e";
  color: #f9dc3e;
}
.brand-baidu:before {
  content: "\e94f";
  color: #2319dc;
}
.brand-bamboo:before {
  content: "\e950";
  color: #0052cc;
}
.brand-bancontact:before {
  content: "\e951";
  color: #005498;
}
.brand-bandcamp:before {
  content: "\e952";
  color: #408294;
}
.brand-bandlab:before {
  content: "\e953";
  color: #dc3710;
}
.brand-basecamp:before {
  content: "\e954";
  color: #5ecc62;
}
.brand-bathasu:before {
  content: "\e955";
  color: #00a3e0;
}
.brand-beats:before {
  content: "\e956";
  color: #005571;
}
.brand-beatsbydre:before {
  content: "\e957";
  color: #e01f3d;
}
.brand-behance:before {
  content: "\e958";
  color: #1769ff;
}
.brand-bigcartel:before {
  content: "\e959";
}
.brand-bing:before {
  content: "\e95a";
  color: #008373;
}
.brand-bit:before {
  content: "\e95b";
  color: #73398d;
}
.brand-bitbucket:before {
  content: "\e95c";
  color: #0052cc;
}
.brand-bitcoin:before {
  content: "\e95d";
  color: #f7931a;
}
.brand-bitdefender:before {
  content: "\e95e";
  color: #ed1c24;
}
.brand-bitly:before {
  content: "\e95f";
  color: #ee6123;
}
.brand-bitrise:before {
  content: "\e960";
  color: #683d87;
}
.brand-blackberry:before {
  content: "\e961";
}
.brand-blender:before {
  content: "\e962";
  color: #f5792a;
}
.brand-blogger:before {
  content: "\e963";
  color: #ff5722;
}
.brand-bmcsoftware:before {
  content: "\e964";
  color: #fe5000;
}
.brand-boeing:before {
  content: "\e965";
  color: #1d439c;
}
.brand-boost:before {
  content: "\e966";
  color: #f69220;
}
.brand-bootstrap:before {
  content: "\e967";
  color: #563d7c;
}
.brand-bower:before {
  content: "\e968";
  color: #ef5734;
}
.brand-box:before {
  content: "\e969";
  color: #0061d5;
}
.brand-brand-dot-ai:before {
  content: "\e96a";
  color: #0aa0ff;
}
.brand-brandfolder:before {
  content: "\e96b";
  color: #40d1f5;
}
.brand-brave:before {
  content: "\e96c";
  color: #fb542b;
}
.brand-breaker:before {
  content: "\e96d";
  color: #003dad;
}
.brand-broadcom:before {
  content: "\e96e";
  color: #cc092f;
}
.brand-buddy:before {
  content: "\e96f";
  color: #1a86fd;
}
.brand-buffer:before {
  content: "\e970";
  color: #168eea;
}
.brand-buymeacoffee:before {
  content: "\e971";
  color: #ff813f;
}
.brand-buzzfeed:before {
  content: "\e972";
  color: #e32;
}
.brand-c:before {
  content: "\e973";
  color: #a8b9cc;
}
.brand-cakephp:before {
  content: "\e974";
  color: #d33c43;
}
.brand-campaignmonitor:before {
  content: "\e975";
  color: #509cf6;
}
.brand-canva:before {
  content: "\e976";
  color: #00c4cc;
}
.brand-cashapp:before {
  content: "\e977";
  color: #00c244;
}
.brand-cassandra:before {
  content: "\e978";
  color: #1287b1;
}
.brand-castorama:before {
  content: "\e979";
  color: #0078d7;
}
.brand-castro:before {
  content: "\e97a";
  color: #00b265;
}
.brand-centos:before {
  content: "\e97b";
  color: #262577;
}
.brand-cevo:before {
  content: "\e97c";
  color: #1eabe2;
}
.brand-chase:before {
  content: "\e97d";
  color: #117aca;
}
.brand-chef:before {
  content: "\e97e";
  color: #f09820;
}
.brand-circle:before {
  content: "\e97f";
  color: #8669ae;
}
.brand-circleci:before {
  content: "\e980";
}
.brand-cirrusci:before {
  content: "\e981";
}
.brand-cisco:before {
  content: "\e982";
  color: #1ba0d7;
}
.brand-civicrm:before {
  content: "\e983";
  color: #81c459;
}
.brand-clockify:before {
  content: "\e984";
  color: #03a9f4;
}
.brand-clojure:before {
  content: "\e985";
  color: #5881d8;
}
.brand-cloudbees:before {
  content: "\e986";
  color: #1997b5;
}
.brand-cloudflare:before {
  content: "\e987";
  color: #f38020;
}
.brand-cmake:before {
  content: "\e988";
  color: #064f8c;
}
.brand-co-op:before {
  content: "\e989";
  color: #00b1e7;
}
.brand-codacy:before {
  content: "\e98a";
}
.brand-codecademy:before {
  content: "\e98b";
  color: #1f4056;
}
.brand-codechef:before {
  content: "\e98c";
  color: #5b4638;
}
.brand-codeclimate:before {
  content: "\e98d";
}
.brand-codecov:before {
  content: "\e98e";
  color: #f01f7a;
}
.brand-codefactor:before {
  content: "\e98f";
  color: #f44a6a;
}
.brand-codeforces:before {
  content: "\e990";
  color: #1f8acb;
}
.brand-codeigniter:before {
  content: "\e991";
  color: #ee4623;
}
.brand-codepen:before {
  content: "\e992";
}
.brand-coderwall:before {
  content: "\e993";
  color: #3e8dcc;
}
.brand-codesandbox:before {
  content: "\e994";
}
.brand-codeship:before {
  content: "\e995";
  color: #3c4858;
}
.brand-codewars:before {
  content: "\e996";
  color: #ad2c27;
}
.brand-codio:before {
  content: "\e997";
  color: #4574e0;
}
.brand-coffeescript:before {
  content: "\e998";
}
.brand-coinbase:before {
  content: "\e999";
  color: #0667d0;
}
.brand-commonworkflowlanguage:before {
  content: "\e99a";
  color: #b5314c;
}
.brand-composer:before {
  content: "\e99b";
  color: #885630;
}
.brand-compropago:before {
  content: "\e99c";
  color: #00aaef;
}
.brand-conda-forge:before {
  content: "\e99d";
}
.brand-conekta:before {
  content: "\e99e";
  color: #414959;
}
.brand-confluence:before {
  content: "\e99f";
}
.brand-coronarenderer:before {
  content: "\e9a0";
  color: #e6502a;
}
.brand-coursera:before {
  content: "\e9a1";
  color: #2a73cc;
}
.brand-coveralls:before {
  content: "\e9a2";
  color: #3f5767;
}
.brand-cpanel:before {
  content: "\e9a3";
  color: #ff6c2c;
}
.brand-cplusplus:before {
  content: "\e9a4";
  color: #00599c;
}
.brand-creativecommons:before {
  content: "\e9a5";
  color: #ef9421;
}
.brand-crehana:before {
  content: "\e9a6";
  color: #4b22f4;
}
.brand-crunchbase:before {
  content: "\e9a7";
  color: #0288d1;
}
.brand-crunchyroll:before {
  content: "\e9a8";
  color: #f47521;
}
.brand-cryengine:before {
  content: "\e9a9";
}
.brand-csharp:before {
  content: "\e9aa";
  color: #239120;
}
.brand-css3:before {
  content: "\e9ab";
  color: #1572b6;
}
.brand-csswizardry:before {
  content: "\e9ac";
  color: #f43059;
}
.brand-curl:before {
  content: "\e9ad";
}
.brand-d3-dot-js:before {
  content: "\e9ae";
  color: #f9a03c;
}
.brand-dailymotion:before {
  content: "\e9af";
  color: #0066dc;
}
.brand-dart:before {
  content: "\e9b0";
  color: #0175c2;
}
.brand-dashlane:before {
  content: "\e9b1";
  color: #007c97;
}
.brand-datacamp:before {
  content: "\e9b2";
  color: #3ac;
}
.brand-dazn:before {
  content: "\e9b3";
  color: #f8f8f5;
}
.brand-dblp:before {
  content: "\e9b4";
  color: #004f9f;
}
.brand-debian:before {
  content: "\e9b5";
  color: #a81d33;
}
.brand-deepin:before {
  content: "\e9b6";
  color: #007cff;
}
.brand-deezer:before {
  content: "\e9b7";
  color: #feaa2d;
}
.brand-delicious:before {
  content: "\e9b8";
  color: #39f;
}
.brand-deliveroo:before {
  content: "\e9b9";
  color: #00ccbc;
}
.brand-dell:before {
  content: "\e9ba";
  color: #007db8;
}
.brand-deno:before {
  content: "\e9bb";
}
.brand-dependabot:before {
  content: "\e9bc";
  color: #025e8c;
}
.brand-designernews:before {
  content: "\e9bd";
  color: #2d72d9;
}
.brand-dev-dot-to:before {
  content: "\e9be";
}
.brand-deviantart:before {
  content: "\e9bf";
  color: #05cc47;
}
.brand-devrant:before {
  content: "\e9c0";
  color: #f99a66;
}
.brand-diaspora:before {
  content: "\e9c1";
}
.brand-digg:before {
  content: "\e9c2";
}
.brand-digitalocean:before {
  content: "\e9c3";
  color: #0080ff;
}
.brand-directus:before {
  content: "\e9c4";
}
.brand-discord:before {
  content: "\e9c5";
  color: #7289da;
}
.brand-discourse:before {
  content: "\e9c6";
}
.brand-discover:before {
  content: "\e9c7";
  color: #ff6000;
}
.brand-disqus:before {
  content: "\e9c8";
  color: #2e9fff;
}
.brand-disroot:before {
  content: "\e9c9";
  color: #50162d;
}
.brand-django:before {
  content: "\e9ca";
}
.brand-dlna:before {
  content: "\e9cb";
  color: #48a842;
}
.brand-docker:before {
  content: "\e9cc";
  color: #1488c6;
}
.brand-docusign:before {
  content: "\e9cd";
  color: #fc2;
}
.brand-dolby:before {
  content: "\e9ce";
}
.brand-dot-net:before {
  content: "\e9cf";
  color: #5c2d91;
}
.brand-draugiem-dot-lv:before {
  content: "\e9d0";
  color: #f60;
}
.brand-dribbble:before {
  content: "\e9d1";
  color: #ea4c89;
}
.brand-drone:before {
  content: "\e9d2";
}
.brand-dropbox:before {
  content: "\e9d3";
  color: #0061ff;
}
.brand-drupal:before {
  content: "\e9d4";
  color: #0678be;
}
.brand-dtube:before {
  content: "\e9d5";
  color: #f00;
}
.brand-duckduckgo:before {
  content: "\e9d6";
  color: #de5833;
}
.brand-dunked:before {
  content: "\e9d7";
  color: #2da9d7;
}
.brand-duolingo:before {
  content: "\e9d8";
  color: #58cc02;
}
.brand-dynatrace:before {
  content: "\e9d9";
  color: #1496ff;
}
.brand-ebay:before {
  content: "\e9da";
  color: #e53238;
}
.brand-eclipseide:before {
  content: "\e9db";
  color: #2c2255;
}
.brand-elastic:before {
  content: "\e9dc";
  color: #005571;
}
.brand-elasticcloud:before {
  content: "\e9dd";
  color: #005571;
}
.brand-elasticsearch:before {
  content: "\e9de";
  color: #005571;
}
.brand-elasticstack:before {
  content: "\e9df";
  color: #005571;
}
.brand-electron:before {
  content: "\e9e0";
  color: #47848f;
}
.brand-elementary:before {
  content: "\e9e1";
  color: #64baff;
}
.brand-eleventy:before {
  content: "\e9e2";
}
.brand-ello:before {
  content: "\e9e3";
}
.brand-elsevier:before {
  content: "\e9e4";
  color: #ff6c00;
}
.brand-ember-dot-js:before {
  content: "\e9e5";
  color: #e04e39;
}
.brand-emlakjet:before {
  content: "\e9e6";
  color: #0ae524;
}
.brand-empirekred:before {
  content: "\e9e7";
  color: #72be50;
}
.brand-envato:before {
  content: "\e9e8";
  color: #81b441;
}
.brand-epel:before {
  content: "\e9e9";
  color: #fc0000;
}
.brand-epicgames:before {
  content: "\e9ea";
}
.brand-epson:before {
  content: "\e9eb";
  color: #039;
}
.brand-esea:before {
  content: "\e9ec";
  color: #0e9648;
}
.brand-eslint:before {
  content: "\e9ed";
  color: #4b32c3;
}
.brand-ethereum:before {
  content: "\e9ee";
}
.brand-etsy:before {
  content: "\e9ef";
  color: #f16521;
}
.brand-eventbrite:before {
  content: "\e9f0";
  color: #f05537;
}
.brand-eventstore:before {
  content: "\e9f1";
  color: #5ab552;
}
.brand-evernote:before {
  content: "\e9f2";
  color: #00a82d;
}
.brand-everplaces:before {
  content: "\e9f3";
  color: #fa4b32;
}
.brand-evry:before {
  content: "\e9f4";
  color: #063a54;
}
.brand-exercism:before {
  content: "\e9f5";
  color: #009cab;
}
.brand-expertsexchange:before {
  content: "\e9f6";
  color: #00aae7;
}
.brand-expo:before {
  content: "\e9f7";
}
.brand-eyeem:before {
  content: "\e9f8";
}
.brand-f-droid:before {
  content: "\e9f9";
  color: #1976d2;
}
.brand-f-secure:before {
  content: "\e9fa";
  color: #00baff;
}
.brand-facebook:before {
  content: "\e9fb";
  color: #1877f2;
}
.brand-faceit:before {
  content: "\e9fc";
  color: #f50;
}
.brand-fandango:before {
  content: "\e9fd";
  color: #ff7300;
}
.brand-favro:before {
  content: "\e9fe";
  color: #512da8;
}
.brand-feathub:before {
  content: "\e9ff";
  color: #9b9b9b;
}
.brand-fedora:before {
  content: "\ea00";
  color: #294172;
}
.brand-feedly:before {
  content: "\ea01";
  color: #2bb24c;
}
.brand-fidoalliance:before {
  content: "\ea02";
  color: #ffbf3b;
}
.brand-figma:before {
  content: "\ea03";
  color: #f24e1e;
}
.brand-filezilla:before {
  content: "\ea04";
  color: #bf0000;
}
.brand-firebase:before {
  content: "\ea05";
  color: #ffca28;
}
.brand-fitbit:before {
  content: "\ea06";
  color: #00b0b9;
}
.brand-fiverr:before {
  content: "\ea07";
  color: #1dbf73;
}
.brand-flask:before {
  content: "\ea08";
}
.brand-flattr:before {
  content: "\ea09";
}
.brand-flickr:before {
  content: "\ea0a";
  color: #0063dc;
}
.brand-flipboard:before {
  content: "\ea0b";
  color: #e12828;
}
.brand-floatplane:before {
  content: "\ea0c";
  color: #00aeef;
}
.brand-flutter:before {
  content: "\ea0d";
  color: #02569b;
}
.brand-fnac:before {
  content: "\ea0e";
  color: #e1a925;
}
.brand-formstack:before {
  content: "\ea0f";
  color: #21b573;
}
.brand-fossa:before {
  content: "\ea10";
  color: #90a1b8;
}
.brand-fossilscm:before {
  content: "\ea11";
  color: #548294;
}
.brand-foursquare:before {
  content: "\ea12";
  color: #f94877;
}
.brand-framer:before {
  content: "\ea13";
  color: #05f;
}
.brand-freebsd:before {
  content: "\ea14";
  color: #ab2b28;
}
.brand-freecodecamp:before {
  content: "\ea15";
  color: #006400;
}
.brand-fujifilm:before {
  content: "\ea16";
  color: #ed1a3a;
}
.brand-fujitsu:before {
  content: "\ea17";
  color: #f00;
}
.brand-furaffinity:before {
  content: "\ea18";
  color: #faaf3a;
}
.brand-furrynetwork:before {
  content: "\ea19";
  color: #2e75b4;
}
.brand-garmin:before {
  content: "\ea1a";
  color: #007cc3;
}
.brand-gatsby:before {
  content: "\ea1b";
  color: #639;
}
.brand-gauges:before {
  content: "\ea1c";
  color: #2fa66a;
}
.brand-genius:before {
  content: "\ea1d";
  color: #ffff64;
}
.brand-gentoo:before {
  content: "\ea1e";
  color: #54487a;
}
.brand-geocaching:before {
  content: "\ea1f";
  color: #00874d;
}
.brand-gerrit:before {
  content: "\ea20";
  color: #eee;
}
.brand-ghost:before {
  content: "\ea21";
  color: #738a94;
}
.brand-gimp:before {
  content: "\ea22";
  color: #5c5543;
}
.brand-git:before {
  content: "\ea23";
  color: #f05032;
}
.brand-gitea:before {
  content: "\ea24";
  color: #609926;
}
.brand-github:before {
  content: "\ea25";
}
.brand-gitlab:before {
  content: "\ea26";
  color: #fca121;
}
.brand-gitpod:before {
  content: "\ea27";
  color: #1aa6e4;
}
.brand-gitter:before {
  content: "\ea28";
  color: #ed1965;
}
.brand-glassdoor:before {
  content: "\ea29";
  color: #0caa41;
}
.brand-glitch:before {
  content: "\ea2a";
  color: #33f;
}
.brand-gmail:before {
  content: "\ea2b";
  color: #d14836;
}
.brand-gnome:before {
  content: "\ea2c";
  color: #4a86cf;
}
.brand-gnu:before {
  content: "\ea2d";
  color: #a42e2b;
}
.brand-gnuicecat:before {
  content: "\ea2e";
  color: #002f5b;
}
.brand-gnuprivacyguard:before {
  content: "\ea2f";
  color: #0093dd;
}
.brand-gnusocial:before {
  content: "\ea30";
  color: #a22430;
}
.brand-go:before {
  content: "\ea31";
  color: #00add8;
}
.brand-godotengine:before {
  content: "\ea32";
  color: #478cbf;
}
.brand-gog-dot-com:before {
  content: "\ea33";
  color: #86328a;
}
.brand-goldenline:before {
  content: "\ea34";
  color: #f1b92b;
}
.brand-goodreads:before {
  content: "\ea35";
  color: #630;
}
.brand-google:before {
  content: "\ea36";
  color: #4285f4;
}
.brand-googleads:before {
  content: "\ea37";
  color: #4285f4;
}
.brand-googleanalytics:before {
  content: "\ea38";
  color: #ffc107;
}
.brand-googlechrome:before {
  content: "\ea39";
  color: #4285f4;
}
.brand-googlecloud:before {
  content: "\ea3a";
  color: #4285f4;
}
.brand-googledrive:before {
  content: "\ea3b";
  color: #4285f4;
}
.brand-googlehangouts:before {
  content: "\ea3c";
  color: #0c9d58;
}
.brand-googlehangoutschat:before {
  content: "\ea3d";
  color: #00897b;
}
.brand-googlekeep:before {
  content: "\ea3e";
  color: #fb0;
}
.brand-googlepay:before {
  content: "\ea3f";
  color: #5f6368;
}
.brand-googleplay:before {
  content: "\ea40";
  color: #607d8b;
}
.brand-googlepodcasts:before {
  content: "\ea41";
  color: #4285f4;
}
.brand-googlescholar:before {
  content: "\ea42";
  color: #4885ed;
}
.brand-googlesearchconsole:before {
  content: "\ea43";
  color: #458cf5;
}
.brand-gov-dot-uk:before {
  content: "\ea44";
  color: #005ea5;
}
.brand-gradle:before {
  content: "\ea45";
}
.brand-grafana:before {
  content: "\ea46";
  color: #f46800;
}
.brand-graphcool:before {
  content: "\ea47";
  color: #27ae60;
}
.brand-graphql:before {
  content: "\ea48";
  color: #e10098;
}
.brand-grav:before {
  content: "\ea49";
}
.brand-gravatar:before {
  content: "\ea4a";
  color: #1e8cbe;
}
.brand-greenkeeper:before {
  content: "\ea4b";
  color: #00c775;
}
.brand-greensock:before {
  content: "\ea4c";
  color: #88ce02;
}
.brand-groovy:before {
  content: "\ea4d";
  color: #4298b8;
}
.brand-groupon:before {
  content: "\ea4e";
  color: #53a318;
}
.brand-gulp:before {
  content: "\ea4f";
  color: #da4648;
}
.brand-gumroad:before {
  content: "\ea50";
  color: #36a9ae;
}
.brand-gumtree:before {
  content: "\ea51";
  color: #72ef36;
}
.brand-gutenberg:before {
  content: "\ea52";
}
.brand-habr:before {
  content: "\ea53";
  color: #77a2b6;
}
.brand-hackaday:before {
  content: "\ea54";
}
.brand-hackerearth:before {
  content: "\ea55";
  color: #323754;
}
.brand-hackerone:before {
  content: "\ea56";
  color: #494649;
}
.brand-hackerrank:before {
  content: "\ea57";
  color: #2ec866;
}
.brand-hackhands:before {
  content: "\ea58";
  color: #00acbd;
}
.brand-hackster:before {
  content: "\ea59";
  color: #1bacf7;
}
.brand-happycow:before {
  content: "\ea5a";
  color: #7c4ec4;
}
.brand-hashnode:before {
  content: "\ea5b";
  color: #2962ff;
}
.brand-haskell:before {
  content: "\ea5c";
  color: #5d4f85;
}
.brand-hatenabookmark:before {
  content: "\ea5d";
  color: #00a4de;
}
.brand-haxe:before {
  content: "\ea5e";
  color: #ea8220;
}
.brand-helm:before {
  content: "\ea5f";
  color: #277a9f;
}
.brand-here:before {
  content: "\ea60";
  color: #48dad0;
}
.brand-heroku:before {
  content: "\ea61";
  color: #430098;
}
.brand-hexo:before {
  content: "\ea62";
  color: #0e83cd;
}
.brand-highly:before {
  content: "\ea63";
  color: #ff3c00;
}
.brand-hipchat:before {
  content: "\ea64";
  color: #0052cc;
}
.brand-hitachi:before {
  content: "\ea65";
  color: #e60027;
}
.brand-hockeyapp:before {
  content: "\ea66";
  color: #009ee1;
}
.brand-homeassistant:before {
  content: "\ea67";
  color: #41bdf5;
}
.brand-homify:before {
  content: "\ea68";
  color: #7dcda3;
}
.brand-hootsuite:before {
  content: "\ea69";
}
.brand-houzz:before {
  content: "\ea6a";
  color: #4dbc15;
}
.brand-hp:before {
  content: "\ea6b";
  color: #0096d6;
}
.brand-html5:before {
  content: "\ea6c";
  color: #e34f26;
}
.brand-htmlacademy:before {
  content: "\ea6d";
  color: #302683;
}
.brand-huawei:before {
  content: "\ea6e";
  color: #f00;
}
.brand-hubspot:before {
  content: "\ea6f";
  color: #ff7a59;
}
.brand-hulu:before {
  content: "\ea70";
  color: #3dbb3d;
}
.brand-humblebundle:before {
  content: "\ea71";
  color: #cc2929;
}
.brand-hurriyetemlak:before {
  content: "\ea72";
  color: #e02826;
}
.brand-hypothesis:before {
  content: "\ea73";
  color: #bd1c2b;
}
.brand-iata:before {
  content: "\ea74";
  color: #004e81;
}
.brand-ibm:before {
  content: "\ea75";
  color: #054ada;
}
.brand-icloud:before {
  content: "\ea76";
  color: #3693f3;
}
.brand-brands:before {
  content: "\ea77";
  color: #825794;
}
.brand-icon:before {
  content: "\ea78";
  color: #31b8bb;
}
.brand-iconjar:before {
  content: "\ea79";
  color: #16a5f3;
}
.brand-icq:before {
  content: "\ea7a";
  color: #7ebd00;
}
.brand-ideal:before {
  content: "\ea7b";
  color: #c06;
}
.brand-ifixit:before {
  content: "\ea7c";
  color: #0071ce;
}
.brand-imdb:before {
  content: "\ea7d";
  color: #e6b91e;
}
.brand-imgur:before {
  content: "\ea7e";
  color: #1bb76e;
}
.brand-indeed:before {
  content: "\ea7f";
  color: #2164f3;
}
.brand-influxdb:before {
  content: "\ea80";
  color: #22adf6;
}
.brand-inkscape:before {
  content: "\ea81";
}
.brand-instacart:before {
  content: "\ea82";
  color: #43b02a;
}
.brand-instagram:before {
  content: "\ea83";
  color: #e4405f;
}
.brand-instapaper:before {
  content: "\ea84";
}
.brand-intel:before {
  content: "\ea85";
  color: #0071c5;
}
.brand-intellijidea:before {
  content: "\ea86";
}
.brand-intercom:before {
  content: "\ea87";
  color: #1f8ded;
}
.brand-internetarchive:before {
  content: "\ea88";
}
.brand-internetexplorer:before {
  content: "\ea89";
  color: #0076d6;
}
.brand-invision:before {
  content: "\ea8a";
  color: #f36;
}
.brand-invoiceninja:before {
  content: "\ea8b";
}
.brand-ionic:before {
  content: "\ea8c";
  color: #3880ff;
}
.brand-ios:before {
  content: "\ea8d";
}
.brand-ipfs:before {
  content: "\ea8e";
  color: #65c2cb;
}
.brand-issuu:before {
  content: "\ea8f";
  color: #f36d5d;
}
.brand-itch-dot-io:before {
  content: "\ea90";
  color: #fa5c5c;
}
.brand-itunes:before {
  content: "\ea91";
  color: #fb5bc5;
}
.brand-jabber:before {
  content: "\ea92";
  color: #c00;
}
.brand-java:before {
  content: "\ea93";
  color: #007396;
}
.brand-javascript:before {
  content: "\ea94";
  color: #f7df1e;
}
.brand-jekyll:before {
  content: "\ea95";
  color: #c00;
}
.brand-jenkins:before {
  content: "\ea96";
  color: #d24939;
}
.brand-jest:before {
  content: "\ea97";
  color: #c21325;
}
.brand-jet:before {
  content: "\ea98";
  color: #fbba00;
}
.brand-jetbrains:before {
  content: "\ea99";
}
.brand-jinja:before {
  content: "\ea9a";
  color: #b41717;
}
.brand-jira:before {
  content: "\ea9b";
}
.brand-joomla:before {
  content: "\ea9c";
  color: #5091cd;
}
.brand-jquery:before {
  content: "\ea9d";
  color: #0769ad;
}
.brand-jsdelivr:before {
  content: "\ea9e";
  color: #e84d3d;
}
.brand-jsfiddle:before {
  content: "\ea9f";
  color: #4679a4;
}
.brand-json:before {
  content: "\eaa0";
}
.brand-jupyter:before {
  content: "\eaa1";
  color: #f37626;
}
.brand-justgiving:before {
  content: "\eaa2";
  color: #ad29b6;
}
.brand-kaggle:before {
  content: "\eaa3";
  color: #20beff;
}
.brand-kaios:before {
  content: "\eaa4";
  color: #6f02b5;
}
.brand-kaspersky:before {
  content: "\eaa5";
  color: #009982;
}
.brand-kentico:before {
  content: "\eaa6";
  color: #f05a22;
}
.brand-keras:before {
  content: "\eaa7";
  color: #d00000;
}
.brand-keybase:before {
  content: "\eaa8";
  color: #33a0ff;
}
.brand-keycdn:before {
  content: "\eaa9";
  color: #3686be;
}
.brand-khanacademy:before {
  content: "\eaaa";
  color: #14bf96;
}
.brand-kibana:before {
  content: "\eaab";
  color: #005571;
}
.brand-kickstarter:before {
  content: "\eaac";
  color: #2bde73;
}
.brand-kik:before {
  content: "\eaad";
  color: #82bc23;
}
.brand-kirby:before {
  content: "\eaae";
  color: #ff0100;
}
.brand-klout:before {
  content: "\eaaf";
  color: #e44600;
}
.brand-known:before {
  content: "\eab0";
}
.brand-ko-fi:before {
  content: "\eab1";
  color: #f16061;
}
.brand-kodi:before {
  content: "\eab2";
  color: #17b2e7;
}
.brand-koding:before {
  content: "\eab3";
  color: #00b057;
}
.brand-kotlin:before {
  content: "\eab4";
  color: #0095d5;
}
.brand-krita:before {
  content: "\eab5";
  color: #3babff;
}
.brand-kubernetes:before {
  content: "\eab6";
  color: #326ce5;
}
.brand-laravel:before {
  content: "\eab7";
  color: #ff2d20;
}
.brand-laravelhorizon:before {
  content: "\eab8";
  color: #405263;
}
.brand-laravelnova:before {
  content: "\eab9";
}
.brand-last-dot-fm:before {
  content: "\eaba";
  color: #d51007;
}
.brand-lastpass:before {
  content: "\eabb";
  color: #d32d27;
}
.brand-latex:before {
  content: "\eabc";
  color: #008080;
}
.brand-launchpad:before {
  content: "\eabd";
  color: #f8c300;
}
.brand-leetcode:before {
  content: "\eabe";
  color: #f89f1b;
}
.brand-lenovo:before {
  content: "\eabf";
  color: #e2231a;
}
.brand-letsencrypt:before {
  content: "\eac0";
  color: #003a70;
}
.brand-letterboxd:before {
  content: "\eac1";
  color: #00d735;
}
.brand-lgtm:before {
  content: "\eac2";
  color: #fff;
}
.brand-liberapay:before {
  content: "\eac3";
  color: #f6c915;
}
.brand-librarything:before {
  content: "\eac4";
}
.brand-libreoffice:before {
  content: "\eac5";
  color: #18a303;
}
.brand-line:before {
  content: "\eac6";
  color: #00c300;
}
.brand-linewebtoon:before {
  content: "\eac7";
  color: #00d564;
}
.brand-linkedin:before {
  content: "\eac8";
  color: #0077b5;
}
.brand-linode:before {
  content: "\eac9";
  color: #00a95c;
}
.brand-linux:before {
  content: "\eaca";
  color: #fcc624;
}
.brand-linuxfoundation:before {
  content: "\eacb";
  color: #009bee;
}
.brand-linuxmint:before {
  content: "\eacc";
  color: #87cf3e;
}
.brand-livejournal:before {
  content: "\eacd";
  color: #00b0ea;
}
.brand-livestream:before {
  content: "\eace";
  color: #cf202e;
}
.brand-llvm:before {
  content: "\eacf";
}
.brand-logstash:before {
  content: "\ead0";
  color: #005571;
}
.brand-loop:before {
  content: "\ead1";
  color: #f29400;
}
.brand-lua:before {
  content: "\ead2";
  color: #2c2d72;
}
.brand-lufthansa:before {
  content: "\ead3";
  color: #05164d;
}
.brand-lumen:before {
  content: "\ead4";
  color: #e74430;
}
.brand-lyft:before {
  content: "\ead5";
  color: #ff00bf;
}
.brand-macys:before {
  content: "\ead6";
  color: #e21a2c;
}
.brand-magento:before {
  content: "\ead7";
  color: #ee672f;
}
.brand-magisk:before {
  content: "\ead8";
  color: #00af9c;
}
.brand-mail-dot-ru:before {
  content: "\ead9";
  color: #168de2;
}
.brand-mailchimp:before {
  content: "\eada";
  color: #ffe01b;
}
.brand-makerbot:before {
  content: "\eadb";
  color: #ff1e0d;
}
.brand-manageiq:before {
  content: "\eadc";
  color: #ef2929;
}
.brand-manjaro:before {
  content: "\eadd";
  color: #35bf5c;
}
.brand-mapbox:before {
  content: "\eade";
}
.brand-markdown:before {
  content: "\eadf";
}
.brand-marketo:before {
  content: "\eae0";
  color: #5c4c9f;
}
.brand-mastercard:before {
  content: "\eae1";
  color: #eb001b;
}
.brand-mastodon:before {
  content: "\eae2";
  color: #3088d4;
}
.brand-materialdesign:before {
  content: "\eae3";
  color: #757575;
}
.brand-mathworks:before {
  content: "\eae4";
  color: #0076a8;
}
.brand-matrix:before {
  content: "\eae5";
}
.brand-mattermost:before {
  content: "\eae6";
  color: #0072c6;
}
.brand-matternet:before {
  content: "\eae7";
}
.brand-mcafee:before {
  content: "\eae8";
  color: #c01818;
}
.brand-mdnwebdocs:before {
  content: "\eae9";
}
.brand-mediafire:before {
  content: "\eaea";
  color: #1299f3;
}
.brand-mediatemple:before {
  content: "\eaeb";
}
.brand-medium:before {
  content: "\eaec";
}
.brand-meetup:before {
  content: "\eaed";
  color: #ed1c40;
}
.brand-mega:before {
  content: "\eaee";
  color: #d9272e;
}
.brand-mendeley:before {
  content: "\eaef";
  color: #9d1620;
}
.brand-mercedes:before {
  content: "\eaf0";
}
.brand-messenger:before {
  content: "\eaf1";
  color: #00b2ff;
}
.brand-meteor:before {
  content: "\eaf2";
  color: #de4f4f;
}
.brand-micro-dot-blog:before {
  content: "\eaf3";
  color: #fd8308;
}
.brand-microgenetics:before {
  content: "\eaf4";
  color: #f00;
}
.brand-microsoft:before {
  content: "\eaf5";
  color: #666;
}
.brand-microsoftaccess:before {
  content: "\eaf6";
  color: #ba141a;
}
.brand-microsoftazure:before {
  content: "\eaf7";
  color: #0089d6;
}
.brand-microsoftedge:before {
  content: "\eaf8";
  color: #0078d7;
}
.brand-microsoftexcel:before {
  content: "\eaf9";
  color: #217346;
}
.brand-microsoftoffice:before {
  content: "\eafa";
  color: #e74025;
}
.brand-microsoftonedrive:before {
  content: "\eafb";
  color: #094ab2;
}
.brand-microsoftonenote:before {
  content: "\eafc";
  color: #80397b;
}
.brand-microsoftoutlook:before {
  content: "\eafd";
  color: #0072c6;
}
.brand-microsoftpowerpoint:before {
  content: "\eafe";
  color: #d24726;
}
.brand-microsoftteams:before {
  content: "\eaff";
  color: #6264a7;
}
.brand-microsoftword:before {
  content: "\eb00";
  color: #2b579a;
}
.brand-microstrategy:before {
  content: "\eb01";
  color: #d9232e;
}
.brand-minds:before {
  content: "\eb02";
  color: #fed12f;
}
.brand-minetest:before {
  content: "\eb03";
  color: #53ac56;
}
.brand-minutemailer:before {
  content: "\eb04";
  color: #3abfe6;
}
.brand-mix:before {
  content: "\eb05";
  color: #ff8126;
}
.brand-mixcloud:before {
  content: "\eb06";
  color: #314359;
}
.brand-mixer:before {
  content: "\eb07";
  color: #002050;
}
.brand-mojang:before {
  content: "\eb08";
  color: #db1f29;
}
.brand-monero:before {
  content: "\eb09";
  color: #f60;
}
.brand-mongodb:before {
  content: "\eb0a";
  color: #47a248;
}
.brand-monkeytie:before {
  content: "\eb0b";
  color: #ffc619;
}
.brand-monogram:before {
  content: "\eb0c";
  color: #fdb22a;
}
.brand-monster:before {
  content: "\eb0d";
  color: #6e46ae;
}
.brand-monzo:before {
  content: "\eb0e";
}
.brand-moo:before {
  content: "\eb0f";
  color: #00945e;
}
.brand-mozilla:before {
  content: "\eb10";
}
.brand-mozillafirefox:before {
  content: "\eb11";
  color: #ff7139;
}
.brand-musescore:before {
  content: "\eb12";
  color: #1a70b8;
}
.brand-mxlinux:before {
  content: "\eb13";
}
.brand-myspace:before {
  content: "\eb14";
}
.brand-mysql:before {
  content: "\eb15";
  color: #4479a1;
}
.brand-nativescript:before {
  content: "\eb16";
  color: #3655ff;
}
.brand-nec:before {
  content: "\eb17";
  color: #1414a0;
}
.brand-neo4j:before {
  content: "\eb18";
  color: #008cc1;
}
.brand-netflix:before {
  content: "\eb19";
  color: #e50914;
}
.brand-netlify:before {
  content: "\eb1a";
  color: #00c7b7;
}
.brand-next-dot-js:before {
  content: "\eb1b";
}
.brand-nextcloud:before {
  content: "\eb1c";
  color: #0082c9;
}
.brand-nextdoor:before {
  content: "\eb1d";
  color: #00b246;
}
.brand-nginx:before {
  content: "\eb1e";
  color: #269539;
}
.brand-nim:before {
  content: "\eb1f";
  color: #ffe953;
}
.brand-nintendo:before {
  content: "\eb20";
  color: #8f8f8f;
}
.brand-nintendo3ds:before {
  content: "\eb21";
  color: #d12228;
}
.brand-nintendogamecube:before {
  content: "\eb22";
  color: #6a5fbb;
}
.brand-nintendoswitch:before {
  content: "\eb23";
  color: #e60012;
}
.brand-node-dot-js:before {
  content: "\eb24";
  color: #393;
}
.brand-node-red:before {
  content: "\eb25";
  color: #8f0000;
}
.brand-nodemon:before {
  content: "\eb26";
  color: #76d04b;
}
.brand-nokia:before {
  content: "\eb27";
  color: #124191;
}
.brand-notion:before {
  content: "\eb28";
}
.brand-notist:before {
  content: "\eb29";
}
.brand-npm:before {
  content: "\eb2a";
  color: #cb3837;
}
.brand-nucleo:before {
  content: "\eb2b";
  color: #766dcc;
}
.brand-nuget:before {
  content: "\eb2c";
  color: #004880;
}
.brand-nutanix:before {
  content: "\eb2d";
  color: #024da1;
}
.brand-nuxt-dot-js:before {
  content: "\eb2e";
  color: #00c58e;
}
.brand-nvidia:before {
  content: "\eb2f";
  color: #76b900;
}
.brand-obsstudio:before {
  content: "\eb30";
}
.brand-ocaml:before {
  content: "\eb31";
  color: #ec6813;
}
.brand-octave:before {
  content: "\eb32";
  color: #0790c0;
}
.brand-octopusdeploy:before {
  content: "\eb33";
  color: #2f93e0;
}
.brand-oculus:before {
  content: "\eb34";
}
.brand-odnoklassniki:before {
  content: "\eb35";
  color: #f4731c;
}
.brand-openaccess:before {
  content: "\eb36";
  color: #f68212;
}
.brand-openapiinitiative:before {
  content: "\eb37";
  color: #6ba539;
}
.brand-opencollective:before {
  content: "\eb38";
  color: #7fadf2;
}
.brand-openid:before {
  content: "\eb39";
  color: #f78c40;
}
.brand-opensourceinitiative:before {
  content: "\eb3a";
  color: #3da639;
}
.brand-openssl:before {
  content: "\eb3b";
  color: #721412;
}
.brand-openstreetmap:before {
  content: "\eb3c";
  color: #7ebc6f;
}
.brand-opensuse:before {
  content: "\eb3d";
  color: #73ba25;
}
.brand-openvpn:before {
  content: "\eb3e";
  color: #ea7e20;
}
.brand-opera:before {
  content: "\eb3f";
  color: #ff1b2d;
}
.brand-opsgenie:before {
  content: "\eb40";
}
.brand-oracle:before {
  content: "\eb41";
  color: #f80000;
}
.brand-orcid:before {
  content: "\eb42";
  color: #a6ce39;
}
.brand-origin:before {
  content: "\eb43";
  color: #f56c2d;
}
.brand-osmc:before {
  content: "\eb44";
}
.brand-overcast:before {
  content: "\eb45";
  color: #fc7e0f;
}
.brand-overleaf:before {
  content: "\eb46";
  color: #47a141;
}
.brand-ovh:before {
  content: "\eb47";
  color: #123f6d;
}
.brand-pagekit:before {
  content: "\eb48";
}
.brand-palantir:before {
  content: "\eb49";
}
.brand-paloaltosoftware:before {
  content: "\eb4a";
  color: #83da77;
}
.brand-pandora:before {
  content: "\eb4b";
  color: #005483;
}
.brand-pantheon:before {
  content: "\eb4c";
  color: #efd01b;
}
.brand-parse-dot-ly:before {
  content: "\eb4d";
  color: #5ba745;
}
.brand-pastebin:before {
  content: "\eb4e";
  color: #02456c;
}
.brand-patreon:before {
  content: "\eb4f";
  color: #f96854;
}
.brand-paypal:before {
  content: "\eb50";
  color: #00457c;
}
.brand-peertube:before {
  content: "\eb51";
  color: #f1680d;
}
.brand-periscope:before {
  content: "\eb52";
  color: #40a4c4;
}
.brand-php:before {
  content: "\eb53";
  color: #777bb4;
}
.brand-pi-hole:before {
  content: "\eb54";
  color: #f60d1a;
}
.brand-picarto-dot-tv:before {
  content: "\eb55";
  color: #1da456;
}
.brand-pinboard:before {
  content: "\eb56";
  color: #00f;
}
.brand-pingdom:before {
  content: "\eb57";
  color: #fff000;
}
.brand-pingup:before {
  content: "\eb58";
  color: #00b1ab;
}
.brand-pinterest:before {
  content: "\eb59";
  color: #bd081c;
}
.brand-pivotaltracker:before {
  content: "\eb5a";
  color: #517a9e;
}
.brand-pjsip:before {
  content: "\eb5b";
  color: #f86001;
}
.brand-plangrid:before {
  content: "\eb5c";
  color: #0085de;
}
.brand-player-dot-me:before {
  content: "\eb5d";
  color: #c0379a;
}
.brand-playerfm:before {
  content: "\eb5e";
  color: #c8122a;
}
.brand-playstation:before {
  content: "\eb5f";
  color: #003791;
}
.brand-playstation3:before {
  content: "\eb60";
  color: #003791;
}
.brand-playstation4:before {
  content: "\eb61";
  color: #003791;
}
.brand-plesk:before {
  content: "\eb62";
  color: #52bbe6;
}
.brand-plex:before {
  content: "\eb63";
  color: #e5a00d;
}
.brand-pluralsight:before {
  content: "\eb64";
  color: #f15b2a;
}
.brand-plurk:before {
  content: "\eb65";
  color: #ff574d;
}
.brand-pocket:before {
  content: "\eb66";
  color: #ef3f56;
}
.brand-pocketcasts:before {
  content: "\eb67";
  color: #f43e37;
}
.brand-postgresql:before {
  content: "\eb68";
  color: #336791;
}
.brand-postman:before {
  content: "\eb69";
  color: #ff6c37;
}
.brand-postwoman:before {
  content: "\eb6a";
  color: #50fa7b;
}
.brand-powershell:before {
  content: "\eb6b";
  color: #5391fe;
}
.brand-prestashop:before {
  content: "\eb6c";
  color: #df0067;
}
.brand-prettier:before {
  content: "\eb6d";
  color: #f7b93e;
}
.brand-prismic:before {
  content: "\eb6e";
  color: #484a7a;
}
.brand-probot:before {
  content: "\eb6f";
  color: #00b0d8;
}
.brand-processwire:before {
  content: "\eb70";
  color: #ef145f;
}
.brand-producthunt:before {
  content: "\eb71";
  color: #da552f;
}
.brand-prometheus:before {
  content: "\eb72";
  color: #e6522c;
}
.brand-proto-dot-io:before {
  content: "\eb73";
  color: #34a7c1;
}
.brand-protonmail:before {
  content: "\eb74";
  color: #8b89cc;
}
.brand-proxmox:before {
  content: "\eb75";
  color: #e57000;
}
.brand-publons:before {
  content: "\eb76";
  color: #369;
}
.brand-purescript:before {
  content: "\eb77";
}
.brand-pypi:before {
  content: "\eb78";
  color: #3775a9;
}
.brand-python:before {
  content: "\eb79";
  color: #3776ab;
}
.brand-pytorch:before {
  content: "\eb7a";
  color: #ee4c2c;
}
.brand-pyup:before {
  content: "\eb7b";
  color: #9f55ff;
}
.brand-qemu:before {
  content: "\eb7c";
  color: #f60;
}
.brand-qgis:before {
  content: "\eb7d";
  color: #589632;
}
.brand-qiita:before {
  content: "\eb7e";
  color: #55c500;
}
.brand-qualcomm:before {
  content: "\eb7f";
  color: #3253dc;
}
.brand-quantcast:before {
  content: "\eb80";
}
.brand-quantopian:before {
  content: "\eb81";
  color: #c50000;
}
.brand-quarkus:before {
  content: "\eb82";
  color: #4695eb;
}
.brand-quicktime:before {
  content: "\eb83";
  color: #1c69f0;
}
.brand-quip:before {
  content: "\eb84";
  color: #f27557;
}
.brand-quora:before {
  content: "\eb85";
  color: #b92b27;
}
.brand-qwiklabs:before {
  content: "\eb86";
  color: #f5cd0e;
}
.brand-qzone:before {
  content: "\eb87";
  color: #fece00;
}
.brand-r:before {
  content: "\eb88";
  color: #276dc3;
}
.brand-rabbitmq:before {
  content: "\eb89";
  color: #f60;
}
.brand-radiopublic:before {
  content: "\eb8a";
  color: #ce262f;
}
.brand-rails:before {
  content: "\eb8b";
  color: #c00;
}
.brand-raspberrypi:before {
  content: "\eb8c";
  color: #c51a4a;
}
.brand-react:before {
  content: "\eb8d";
  color: #61dafb;
}
.brand-reactos:before {
  content: "\eb8e";
  color: #08c;
}
.brand-reactrouter:before {
  content: "\eb8f";
  color: #ca4245;
}
.brand-readthedocs:before {
  content: "\eb90";
  color: #8ca1af;
}
.brand-realm:before {
  content: "\eb91";
  color: #39477f;
}
.brand-reason:before {
  content: "\eb92";
  color: #dd4b39;
}
.brand-reasonstudios:before {
  content: "\eb93";
  color: #fff;
}
.brand-redbubble:before {
  content: "\eb94";
  color: #e41321;
}
.brand-reddit:before {
  content: "\eb95";
  color: #ff4500;
}
.brand-redhat:before {
  content: "\eb96";
  color: #e00;
}
.brand-redis:before {
  content: "\eb97";
  color: #d82c20;
}
.brand-redux:before {
  content: "\eb98";
  color: #764abc;
}
.brand-renren:before {
  content: "\eb99";
  color: #217dc6;
}
.brand-repl-dot-it:before {
  content: "\eb9a";
  color: #667881;
}
.brand-researchgate:before {
  content: "\eb9b";
  color: #0cb;
}
.brand-reverbnation:before {
  content: "\eb9c";
  color: #e43526;
}
.brand-riot:before {
  content: "\eb9d";
  color: #368bd6;
}
.brand-ripple:before {
  content: "\eb9e";
  color: #0085c0;
}
.brand-riseup:before {
  content: "\eb9f";
  color: #5e9ee3;
}
.brand-rollup-dot-js:before {
  content: "\eba0";
  color: #ec4a3f;
}
.brand-roots:before {
  content: "\eba1";
  color: #525ddc;
}
.brand-roundcube:before {
  content: "\eba2";
  color: #37beff;
}
.brand-rss:before {
  content: "\eba3";
  color: #ffa500;
}
.brand-rstudio:before {
  content: "\eba4";
  color: #75aadb;
}
.brand-ruby:before {
  content: "\eba5";
  color: #cc342d;
}
.brand-rubygems:before {
  content: "\eba6";
  color: #e9573f;
}
.brand-runkeeper:before {
  content: "\eba7";
  color: #2dc9d7;
}
.brand-rust:before {
  content: "\eba8";
}
.brand-safari:before {
  content: "\eba9";
}
.brand-sahibinden:before {
  content: "\ebaa";
  color: #ffe800;
}
.brand-salesforce:before {
  content: "\ebab";
  color: #00a1e0;
}
.brand-saltstack:before {
  content: "\ebac";
  color: #00eace;
}
.brand-samsung:before {
  content: "\ebad";
  color: #1428a0;
}
.brand-samsungpay:before {
  content: "\ebae";
  color: #1428a0;
}
.brand-sap:before {
  content: "\ebaf";
  color: #008fd3;
}
.brand-sass:before {
  content: "\ebb0";
  color: #c69;
}
.brand-saucelabs:before {
  content: "\ebb1";
  color: #e2231a;
}
.brand-scala:before {
  content: "\ebb2";
  color: #dc322f;
}
.brand-scaleway:before {
  content: "\ebb3";
  color: #4f0599;
}
.brand-scribd:before {
  content: "\ebb4";
  color: #1a7bba;
}
.brand-scrutinizerci:before {
  content: "\ebb5";
  color: #8a9296;
}
.brand-seagate:before {
  content: "\ebb6";
  color: #72be4f;
}
.brand-sega:before {
  content: "\ebb7";
  color: #0089cf;
}
.brand-sellfy:before {
  content: "\ebb8";
  color: #21b352;
}
.brand-semaphoreci:before {
  content: "\ebb9";
  color: #19a974;
}
.brand-sensu:before {
  content: "\ebba";
  color: #89c967;
}
.brand-sentry:before {
  content: "\ebbb";
  color: #fb4226;
}
.brand-serverfault:before {
  content: "\ebbc";
  color: #e7282d;
}
.brand-shazam:before {
  content: "\ebbd";
  color: #08f;
}
.brand-shell:before {
  content: "\ebbe";
  color: #ffd500;
}
.brand-shopify:before {
  content: "\ebbf";
  color: #7ab55c;
}
.brand-showpad:before {
  content: "\ebc0";
  color: #2d2e83;
}
.brand-siemens:before {
  content: "\ebc1";
  color: #099;
}
.brand-signal:before {
  content: "\ebc2";
  color: #2592e9;
}
.brand-simpleicons:before {
  content: "\ebc3";
}
.brand-sinaweibo:before {
  content: "\ebc4";
  color: #e6162d;
}
.brand-sitepoint:before {
  content: "\ebc5";
  color: #258aaf;
}
.brand-sketch:before {
  content: "\ebc6";
  color: #f7b500;
}
.brand-skillshare:before {
  content: "\ebc7";
  color: #17c5cb;
}
.brand-skyliner:before {
  content: "\ebc8";
  color: #2fcea0;
}
.brand-skype:before {
  content: "\ebc9";
  color: #00aff0;
}
.brand-slack:before {
  content: "\ebca";
  color: #4a154b;
}
.brand-slashdot:before {
  content: "\ebcb";
  color: #026664;
}
.brand-slickpic:before {
  content: "\ebcc";
  color: #ff880f;
}
.brand-slides:before {
  content: "\ebcd";
  color: #e4637c;
}
.brand-smashingmagazine:before {
  content: "\ebce";
  color: #e85c33;
}
.brand-smugmug:before {
  content: "\ebcf";
  color: #6db944;
}
.brand-snapchat:before {
  content: "\ebd0";
  color: #fffc00;
}
.brand-snapcraft:before {
  content: "\ebd1";
  color: #82bea0;
}
.brand-snyk:before {
  content: "\ebd2";
  color: #4c4a73;
}
.brand-society6:before {
  content: "\ebd3";
}
.brand-socket-dot-io:before {
  content: "\ebd4";
}
.brand-sogou:before {
  content: "\ebd5";
  color: #fb6022;
}
.brand-solus:before {
  content: "\ebd6";
  color: #5294e2;
}
.brand-sonarcloud:before {
  content: "\ebd7";
  color: #f3702a;
}
.brand-sonarlint:before {
  content: "\ebd8";
  color: #cc2026;
}
.brand-sonarqube:before {
  content: "\ebd9";
  color: #4e9bcd;
}
.brand-sonarsource:before {
  content: "\ebda";
  color: #cb3032;
}
.brand-songkick:before {
  content: "\ebdb";
  color: #f80046;
}
.brand-sonicwall:before {
  content: "\ebdc";
  color: #f60;
}
.brand-sonos:before {
  content: "\ebdd";
}
.brand-soundcloud:before {
  content: "\ebde";
  color: #f30;
}
.brand-sourceengine:before {
  content: "\ebdf";
  color: #f79a10;
}
.brand-sourceforge:before {
  content: "\ebe0";
  color: #535353;
}
.brand-sourcegraph:before {
  content: "\ebe1";
  color: #00b4f2;
}
.brand-spacemacs:before {
  content: "\ebe2";
  color: #9266cc;
}
.brand-spacex:before {
  content: "\ebe3";
  color: #005288;
}
.brand-sparkfun:before {
  content: "\ebe4";
  color: #e53525;
}
.brand-sparkpost:before {
  content: "\ebe5";
  color: #fa6423;
}
.brand-spdx:before {
  content: "\ebe6";
  color: #4398cc;
}
.brand-speakerdeck:before {
  content: "\ebe7";
  color: #396;
}
.brand-spectrum:before {
  content: "\ebe8";
  color: #7b16ff;
}
.brand-spotify:before {
  content: "\ebe9";
  color: #1ed760;
}
.brand-spotlight:before {
  content: "\ebea";
  color: #352a71;
}
.brand-spreaker:before {
  content: "\ebeb";
  color: #f5c300;
}
.brand-spring:before {
  content: "\ebec";
  color: #6db33f;
}
.brand-sprint:before {
  content: "\ebed";
  color: #ffce0a;
}
.brand-square:before {
  content: "\ebee";
}
.brand-squarespace:before {
  content: "\ebef";
}
.brand-stackbit:before {
  content: "\ebf0";
  color: #3eb0fd;
}
.brand-stackexchange:before {
  content: "\ebf1";
  color: #1e5397;
}
.brand-stackoverflow:before {
  content: "\ebf2";
  color: #fe7a16;
}
.brand-stackpath:before {
  content: "\ebf3";
}
.brand-stackshare:before {
  content: "\ebf4";
  color: #0690fa;
}
.brand-stadia:before {
  content: "\ebf5";
  color: #cd2640;
}
.brand-statamic:before {
  content: "\ebf6";
}
.brand-staticman:before {
  content: "\ebf7";
}
.brand-statuspage:before {
  content: "\ebf8";
}
.brand-steam:before {
  content: "\ebf9";
}
.brand-steamworks:before {
  content: "\ebfa";
}
.brand-steem:before {
  content: "\ebfb";
  color: #4ba2f2;
}
.brand-steemit:before {
  content: "\ebfc";
  color: #06d6a9;
}
.brand-steinberg:before {
  content: "\ebfd";
  color: #c90827;
}
.brand-stencyl:before {
  content: "\ebfe";
  color: #8e1c04;
}
.brand-stitcher:before {
  content: "\ebff";
}
.brand-storify:before {
  content: "\ec00";
  color: #3a98d9;
}
.brand-storybook:before {
  content: "\ec01";
  color: #ff4785;
}
.brand-strapi:before {
  content: "\ec02";
  color: #2e7eea;
}
.brand-strava:before {
  content: "\ec03";
  color: #fc4c02;
}
.brand-stripe:before {
  content: "\ec04";
  color: #008cdd;
}
.brand-strongswan:before {
  content: "\ec05";
  color: #e00033;
}
.brand-stubhub:before {
  content: "\ec06";
  color: #003168;
}
.brand-styled-components:before {
  content: "\ec07";
  color: #db7093;
}
.brand-styleshare:before {
  content: "\ec08";
}
.brand-stylus:before {
  content: "\ec09";
}
.brand-sublimetext:before {
  content: "\ec0a";
  color: #ff9800;
}
.brand-subversion:before {
  content: "\ec0b";
  color: #809cc9;
}
.brand-superuser:before {
  content: "\ec0c";
  color: #2eace3;
}
.brand-svelte:before {
  content: "\ec0d";
  color: #ff3e00;
}
.brand-svg:before {
  content: "\ec0e";
  color: #ffb13b;
}
.brand-svgo:before {
  content: "\ec0f";
  color: #14b9ff;
}
.brand-swagger:before {
  content: "\ec10";
  color: #85ea2d;
}
.brand-swarm:before {
  content: "\ec11";
  color: #ffa633;
}
.brand-swift:before {
  content: "\ec12";
  color: #fa7343;
}
.brand-symantec:before {
  content: "\ec13";
  color: #fdb511;
}
.brand-symfony:before {
  content: "\ec14";
}
.brand-synology:before {
  content: "\ec15";
  color: #b6b5b6;
}
.brand-t-mobile:before {
  content: "\ec16";
  color: #e20074;
}
.brand-tableau:before {
  content: "\ec17";
  color: #e97627;
}
.brand-tails:before {
  content: "\ec18";
  color: #56347c;
}
.brand-tailwindcss:before {
  content: "\ec19";
  color: #38b2ac;
}
.brand-tapas:before {
  content: "\ec1a";
  color: #ffce00;
}
.brand-teamviewer:before {
  content: "\ec1b";
  color: #0e8ee9;
}
.brand-ted:before {
  content: "\ec1c";
  color: #e62b1e;
}
.brand-teespring:before {
  content: "\ec1d";
  color: #39ace6;
}
.brand-telegram:before {
  content: "\ec1e";
  color: #2ca5e0;
}
.brand-tencentqq:before {
  content: "\ec1f";
  color: #eb1923;
}
.brand-tencentweibo:before {
  content: "\ec20";
  color: #20b8e5;
}
.brand-tensorflow:before {
  content: "\ec21";
  color: #ff6f00;
}
.brand-teradata:before {
  content: "\ec22";
  color: #f37440;
}
.brand-terraform:before {
  content: "\ec23";
  color: #623ce4;
}
.brand-tesla:before {
  content: "\ec24";
  color: #c00;
}
.brand-themighty:before {
  content: "\ec25";
  color: #d0072a;
}
.brand-themoviedatabase:before {
  content: "\ec26";
  color: #01d277;
}
.brand-tidal:before {
  content: "\ec27";
}
.brand-tiktok:before {
  content: "\ec28";
}
.brand-timescale:before {
  content: "\ec29";
  color: #fdb515;
}
.brand-tinder:before {
  content: "\ec2a";
  color: #ff6b6b;
}
.brand-todoist:before {
  content: "\ec2b";
  color: #e44332;
}
.brand-toggl:before {
  content: "\ec2c";
  color: #e01b22;
}
.brand-topcoder:before {
  content: "\ec2d";
  color: #29a8e0;
}
.brand-toptal:before {
  content: "\ec2e";
  color: #3863a0;
}
.brand-tor:before {
  content: "\ec2f";
  color: #7e4798;
}
.brand-toshiba:before {
  content: "\ec30";
  color: #f00;
}
.brand-trainerroad:before {
  content: "\ec31";
  color: #e12726;
}
.brand-trakt:before {
  content: "\ec32";
  color: #ed1c24;
}
.brand-travisci:before {
  content: "\ec33";
  color: #3eaaaf;
}
.brand-treehouse:before {
  content: "\ec34";
  color: #5fcf80;
}
.brand-trello:before {
  content: "\ec35";
  color: #0079bf;
}
.brand-trendmicro:before {
  content: "\ec36";
  color: #d71921;
}
.brand-tripadvisor:before {
  content: "\ec37";
  color: #00af87;
}
.brand-trulia:before {
  content: "\ec38";
  color: #53b50a;
}
.brand-trustpilot:before {
  content: "\ec39";
  color: #00b67a;
}
.brand-tumblr:before {
  content: "\ec3a";
  color: #36465d;
}
.brand-turkishairlines:before {
  content: "\ec3b";
  color: #c70a0c;
}
.brand-twilio:before {
  content: "\ec3c";
  color: #f22f46;
}
.brand-twitch:before {
  content: "\ec3d";
  color: #6441a4;
}
.brand-twitter:before {
  content: "\ec3e";
  color: #1da1f2;
}
.brand-twoo:before {
  content: "\ec3f";
  color: #ff7102;
}
.brand-typescript:before {
  content: "\ec40";
  color: #007acc;
}
.brand-typo3:before {
  content: "\ec41";
  color: #ff8700;
}
.brand-uber:before {
  content: "\ec42";
}
.brand-ubereats:before {
  content: "\ec43";
  color: #5fb709;
}
.brand-ubisoft:before {
  content: "\ec44";
}
.brand-ublockorigin:before {
  content: "\ec45";
  color: #800000;
}
.brand-ubuntu:before {
  content: "\ec46";
  color: #e95420;
}
.brand-udacity:before {
  content: "\ec47";
  color: #01b3e3;
}
.brand-udemy:before {
  content: "\ec48";
  color: #ec5252;
}
.brand-uikit:before {
  content: "\ec49";
  color: #2396f3;
}
.brand-umbraco:before {
  content: "\ec4a";
  color: #00bec1;
}
.brand-unity:before {
  content: "\ec4b";
}
.brand-unrealengine:before {
  content: "\ec4c";
}
.brand-unsplash:before {
  content: "\ec4d";
}
.brand-untappd:before {
  content: "\ec4e";
  color: #ffc000;
}
.brand-upwork:before {
  content: "\ec4f";
  color: #6fda44;
}
.brand-v:before {
  content: "\ec50";
  color: #5d87bf;
}
.brand-v8:before {
  content: "\ec51";
  color: #4b8bf5;
}
.brand-vagrant:before {
  content: "\ec52";
  color: #1563ff;
}
.brand-valve:before {
  content: "\ec53";
  color: #f74843;
}
.brand-veeam:before {
  content: "\ec54";
  color: #00b336;
}
.brand-venmo:before {
  content: "\ec55";
  color: #3d95ce;
}
.brand-verizon:before {
  content: "\ec56";
  color: #cd040b;
}
.brand-viadeo:before {
  content: "\ec57";
  color: #f88d2d;
}
.brand-viber:before {
  content: "\ec58";
  color: #665cac;
}
.brand-vim:before {
  content: "\ec59";
  color: #019733;
}
.brand-vimeo:before {
  content: "\ec5a";
  color: #1ab7ea;
}
.brand-vine:before {
  content: "\ec5b";
  color: #11b48a;
}
.brand-virb:before {
  content: "\ec5c";
  color: #0093da;
}
.brand-visa:before {
  content: "\ec5d";
  color: #142787;
}
.brand-visualstudio:before {
  content: "\ec5e";
  color: #5c2d91;
}
.brand-visualstudiocode:before {
  content: "\ec5f";
  color: #007acc;
}
.brand-vk:before {
  content: "\ec60";
  color: #4680c2;
}
.brand-vlcmediaplayer:before {
  content: "\ec61";
  color: #f80;
}
.brand-vodafone:before {
  content: "\ec62";
  color: #e60000;
}
.brand-volkswagen:before {
  content: "\ec63";
  color: #151f5d;
}
.brand-vsco:before {
  content: "\ec64";
}
.brand-vue-dot-js:before {
  content: "\ec65";
  color: #4fc08d;
}
.brand-w3c:before {
  content: "\ec66";
  color: #005a9c;
}
.brand-wattpad:before {
  content: "\ec67";
  color: #f68d12;
}
.brand-waze:before {
  content: "\ec68";
  color: #333665;
}
.brand-weasyl:before {
  content: "\ec69";
  color: #900;
}
.brand-webauthn:before {
  content: "\ec6a";
  color: #3423a6;
}
.brand-webcomponents-dot-org:before {
  content: "\ec6b";
  color: #29abe2;
}
.brand-webmin:before {
  content: "\ec6c";
  color: #7da0d0;
}
.brand-webpack:before {
  content: "\ec6d";
  color: #8dd6f9;
}
.brand-webstorm:before {
  content: "\ec6e";
}
.brand-wechat:before {
  content: "\ec6f";
  color: #7bb32e;
}
.brand-whatsapp:before {
  content: "\ec70";
  color: #25d366;
}
.brand-wheniwork:before {
  content: "\ec71";
  color: #51a33d;
}
.brand-whitesource:before {
  content: "\ec72";
  color: #161d4e;
}
.brand-wii:before {
  content: "\ec73";
  color: #8b8b8b;
}
.brand-wiiu:before {
  content: "\ec74";
  color: #8b8b8b;
}
.brand-wikipedia:before {
  content: "\ec75";
}
.brand-windows:before {
  content: "\ec76";
  color: #0078d6;
}
.brand-wire:before {
  content: "\ec77";
}
.brand-wireguard:before {
  content: "\ec78";
  color: #88171a;
}
.brand-wish:before {
  content: "\ec79";
  color: #2fb7ec;
}
.brand-wix:before {
  content: "\ec7a";
  color: #faad4d;
}
.brand-wolfram:before {
  content: "\ec7b";
  color: #d10;
}
.brand-wolframlanguage:before {
  content: "\ec7c";
  color: #d10;
}
.brand-wolframmathematica:before {
  content: "\ec7d";
  color: #d10;
}
.brand-wordpress:before {
  content: "\ec7e";
  color: #21759b;
}
.brand-workplace:before {
  content: "\ec7f";
}
.brand-wpengine:before {
  content: "\ec80";
  color: #40bac8;
}
.brand-write-dot-as:before {
  content: "\ec81";
  color: #5bc4ee;
}
.brand-x-dot-org:before {
  content: "\ec82";
  color: #f28834;
}
.brand-x-pack:before {
  content: "\ec83";
  color: #005571;
}
.brand-xamarin:before {
  content: "\ec84";
  color: #4393d4;
}
.brand-xbox:before {
  content: "\ec85";
  color: #107c10;
}
.brand-xcode:before {
  content: "\ec86";
  color: #1575f9;
}
.brand-xdadevelopers:before {
  content: "\ec87";
  color: #f59812;
}
.brand-xero:before {
  content: "\ec88";
  color: #13b5ea;
}
.brand-xfce:before {
  content: "\ec89";
  color: #2284f2;
}
.brand-xiaomi:before {
  content: "\ec8a";
  color: #fa6709;
}
.brand-xing:before {
  content: "\ec8b";
  color: #006567;
}
.brand-xmpp:before {
  content: "\ec8c";
  color: #002b5c;
}
.brand-xrp:before {
  content: "\ec8d";
  color: #25a768;
}
.brand-xsplit:before {
  content: "\ec8e";
  color: #0095de;
}
.brand-yahoo:before {
  content: "\ec8f";
  color: #6001d2;
}
.brand-yamahacorporation:before {
  content: "\ec90";
  color: #4b1e78;
}
.brand-yamahamotorcorporation:before {
  content: "\ec91";
  color: #e60012;
}
.brand-yammer:before {
  content: "\ec92";
  color: #0072c6;
}
.brand-yandex:before {
  content: "\ec93";
  color: #f00;
}
.brand-yarn:before {
  content: "\ec94";
  color: #2c8ebb;
}
.brand-ycombinator:before {
  content: "\ec95";
  color: #f0652f;
}
.brand-yelp:before {
  content: "\ec96";
  color: #d32323;
}
.brand-youtube:before {
  content: "\ec97";
  color: #f00;
}
.brand-zalando:before {
  content: "\ec98";
  color: #ff6900;
}
.brand-zapier:before {
  content: "\ec99";
  color: #ff4a00;
}
.brand-zeit:before {
  content: "\ec9a";
}
.brand-zend:before {
  content: "\ec9b";
  color: #0679ea;
}
.brand-zendesk:before {
  content: "\ec9c";
}
.brand-zendframework:before {
  content: "\ec9d";
  color: #68b604;
}
.brand-zeromq:before {
  content: "\ec9e";
  color: #df0000;
}
.brand-zerply:before {
  content: "\ec9f";
  color: #9dbc7a;
}
.brand-zhihu:before {
  content: "\eca0";
  color: #0084ff;
}
.brand-zillow:before {
  content: "\eca1";
  color: #0074e4;
}
.brand-zingat:before {
  content: "\eca2";
  color: #009cfb;
}
.brand-zoom:before {
  content: "\eca3";
  color: #2d8cff;
}
.brand-zorin:before {
  content: "\eca4";
  color: #0cc1f3;
}
.brand-zulip:before {
  content: "\eca5";
  color: #52c2af;
}
