/**
 * Horizontal Limited CSS Drop-Down Menu Component
 *
 * @file		dropdown.limited.css
 * @package		Dropdown
 * @version		0.1.1
 * @type		Transitional
 * @requires	dropdown.css
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2006-2008 Live Web Institute. All Rights Reserved.
 *
 */

ul.dropdown {
	list-style: none;
	margin: 0;
	padding: 0;
 	position: relative;
 	z-index: 597;
 	float: left;
 	font-weight: bold;
 	font-size:9pt;
 	font-family: Arial, Helvetica, sans-serif;
	}

ul.dropdown li {
	list-style: none;
 	margin: 0;
 	padding: 0;
	padding: 2px 6px;
	float: left;
	line-height: 1.2em;
	vertical-align: middle;
	}

ul.dropdown li.hover,
ul.dropdown li:hover {
 	position: relative;
 	z-index: 599;
 	cursor: default;
	}

ul.dropdown ul {
	list-style:none;
	margin: 0;
	padding: 0 0 5px 0;
 	visibility: hidden;
 	position: absolute;
 	top: 100%;
 	left:0;
 	z-index: 598;
 	width: 190px;
 	background:#FFF;
 	border:1px solid #CCC;
 	border-left:1px solid #CCC;
 	border-bottom:1px solid #CCC;
 	box-shadow: 0px 1px 3px #818181;
    -webkit-box-shadow: 0px 1px 3px #818181;
	-khtml-box-shadow: 0px 1px 3px #818181;
	-webkit-border-bottom-right-radius: 7px;
	-khtml-border-radius-bottomright: 7px;
	border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-khtml-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;
	}
ul.dropdown.rightside ul{
	right:0;
	left:auto;

}
ul.dropdown ul ul {
 	top: 1px;
 	left: 99%;
	}
ul.dropdown.rightside ul ul{
	top: 1px;
	left:auto;
 	right: 99%;

}
ul.dropdown li:hover > ul {
 	visibility: visible;
	}

ul.dropdown ul li {
	float: none;
	padding: 4px 15px 4px;
	font-size:9pt;
	font-weight: normal;
	}

ul.dropdown a {display:block;}
ul.dropdown a:link, 
ul.dropdown a:visited {
	text-decoration: none;
	}


ul.dropdown *.dir {
	padding-right: 20px;
	background-image: url(/wfiles/menu_down.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
	}

ul.dropdown-horizontal ul *.dir {
 	padding-right: 15px;
 	background-image: url(/wfiles/menu_right.png);
 	background-position: 98% 50%;
 	background-repeat: no-repeat;
	}

* html ul.dropdown li {
 	height: 1px;
	}

ul.dropdown ul li,
ul.dropdown-vertical {
 	margin-left: -16px;
 	mar\gin-left: 0;
	}

ul.dropdown ul,
ul.dropdown li:hover ul ul,
ul.dropdown li:hover ul ul ul,
ul.dropdown li:hover ul ul ul ul,
ul.dropdown li:hover ul ul ul ul ul {
 	visibility: hidden;
	}

ul.dropdown li:hover ul,
ul.dropdown ul li:hover ul,
ul.dropdown ul ul li:hover ul,
ul.dropdown ul ul ul li:hover ul,
ul.dropdown ul ul ul ul li:hover ul {
 	visibility: visible;
	}

ul.dropdown ul ul ul ul ul ul {
 	visibility: hidden !important;
	}
/* -- Color Components to override -- */

ul.dropdown li {
	color: #940000;
	}
/* when the top menu items are hovered over */
ul.dropdown li.hover,
ul.dropdown li:hover {
 	background-color: #e7e7e7;
	color: #940000;
	}
/* the color of the menu horizontal menu items under the top menu items */
ul.dropdown ul li {
	background-color: #FFFFFF;
	color: #940000;
	}
ul.dropdown a:link,
ul.dropdown a:visited {
	color: #940000;
	}
ul.dropdown a:hover { color: #940000; }
ul.dropdown a:active { color: #ffa500; }