/* CSS - Treeviewer --  http://localhost/wfiles/css/extras/treeview.html  */
.w_treeview ul, .w_treeview li{
	padding: 0;
	margin: 0;
	list-style: none;
}
.w_treeview input[type="checkbox"]{
	position: absolute;
	opacity: 0;
}
.w_treeview{
	font: normal 11px "Segoe UI", Arial, Sans-serif;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	display:table-cell;
}
.w_treeview a, .w_treeview span{
	text-decoration: none;
	padding-left:5px !important;
	padding-right:5px !important;
}
.w_treeview input[type="checkbox"] + label + ul{
	margin: 0 0 0 22px;
}
.w_treeview input[type="checkbox"] ~ ul{
	display: none;
}
.w_treeview label, .w_treeview label::before{
	cursor: pointer;
}
.w_treeview input[type="checkbox"]:disabled + label{
	cursor: default;
	opacity: .6;
}
.w_treeview a.active, .w_treeview span.active {
	background-color:#ffffc6;
	color:#000;
	[safari|chrome]-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.w_treeview a.active:hover {
	background-color:#428bca;
	color:#FFFFFF;
}
.w_treeview input[type="checkbox"]:checked:not(:disabled) ~ ul{
	display: block;
	border-left:1px solid #CCC;

}
.w_treeview label, .w_treeview label::before, .w_treeview a, .w_treeview a::before{
	background: url("/wfiles/css/extras/treeview.png") no-repeat;
}
.w_treeview label, .w_treeview a, .w_treeview label::before{
	display: inline-block;
	font-size: 11px;
	height: 18px;
	line-height: 18px;
	vertical-align: middle;
}
.w_treeview a{
	background-position: 0 -50px;
	padding: 0 0 0 5px;
}
.w_treeview label{
	background-position: 18px 0;
}
.w_treeview label::before{
	content: "";
	width: 16px;
	margin: 0 22px 0 0;
	vertical-align: middle;
	background-position: 0 -32px;
}
.w_treeview input[type="checkbox"]:checked + label::before{
	background-position: 0 -16px;
}
/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0){
	.w_treeview{
		-webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
	}
	@-webkit-keyframes webkit-adjacent-element-selector-bugfix {
		from {
			padding: 0;
		}
		to {
			padding: 0;
		}
	}
}