body{
  padding:0;
  margin:0;
  height:100%;
}
/* ---------------------- align ------------------------- */
.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.align-justify {text-align: justify;}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

/* ---------------------- colors ------------------------- */
.blue {color: #0086fd;}
.gray {color: #6c757d;}
.green {color: #28a745;}
.red {color: #dc3545;}
.yellow {color: #ffc107;}
.orange {color:#ff9800;}
.teal {color: #17a2b8;}
.white {color: #f8f9fa;}
.black {color: #343a40;}

.bg-blue {background: #0086fd;color: #fff;}
.bg-gray {background: #6c757d;color: #fff;}
.bg-green {background: #28a745;color: #fff;}
.bg-red {background: #dc3545;color: #fff;}
.bg-yellow {background: #ffc107;color: #212529;}
.bg-orange {background:#ff9800;color: #212529;}
.bg-teal {background: #17a2b8;color: #fff;}
.bg-white {background: #f8f9fa;color: #212529;}
.bg-black {background: #343a40;color: #fff;}

/* ---------------------- card ------------------------- */
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-title {
    margin-bottom: 0.75rem;
}
.card .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
/* ---------------------- dropdown ------------------------- */
.dropdown{
  position:relative;
}

.dropdown [data-toggle="dropdown"]{
  padding-right:0px;
  border: 1px solid #ccc;
}
.dropdown [data-toggle="dropdown"]:after{
  content:' \23F7';
  display:inline;
  vertical-align: middle;
  padding: .375rem .75rem 0 0;
  font-size: 1rem;
  height: 34px;
  line-height: 1.42857143;
}
.dropdown.open [data-toggle="dropdown"]:after{
  content:' \23F6';
}
.dropdown .dropdown-menu{
  max-height:0px;
  position:absolute;
  overflow:hidden;
  -webkit-transition: max-height .15s; /* Safari */
  transition: max-height .15s;
}
.dropdown.open .dropdown-menu{
  max-height:200px;
  overflow:auto;
  border:1px solid #ccc;
  background:#fff;
  padding-right:20px;
  padding-left:5px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius: 4px;
  z-index:8000;
}
.dropdown.open .dropdown-item {
    display: block;
    width: 100%;
    padding: .35rem .5rem 0 0;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown.open .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}
/* ---------------------- nav ------------------------- */
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul.nav.nav-list{
  padding:0px;
}
ul.nav.nav-list > li {
  display: block;
  width:100%;
}
ul.nav.nav-list > li >a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration:none;
}
ul.nav.nav-list > li >a:hover, ul.nav.nav-list > li >a.active, ul.nav.nav-list > li.active >a {
  background-color: #ccc;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav li {
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-align: left; 
}
.nav.topmenu > ul{
  width:100%;
}
.nav > ul,
.nav > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav > ul li {position: relative;}
.nav > ul a {
  padding: 4px 8px;
  line-height: 32px;
  font-size:16px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
.nav.condensed > ul > li a {
  padding: 4px 8px;
  line-height: 28px;
  font-size:15px;
}
.nav.condensed > ul > li > ul a {
  padding: 3px 7px;
  line-height: 23px;
  font-size:13px;
}
.nav > ul a:hover,
.nav .active {
  opacity: 1.0; 
}
/* dropdown - arrows showing direction */
.nav > ul a.dropdown:after{
  content:' \23F7';
}
.nav > ul > li > ul a.dropdown:after{
  content:' \23F5';
}

/* Level 1 */
.nav > ul > li {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
}
.nav > ul > li:first-child {
  margin-left: 0;
}
.nav > ul > li.right {
  float:right;
}
.nav > ul > li > a {}
.nav > ul > li > a:hover {}

/* Level 2 */
.nav > ul > li > ul {
  text-align: left;
  width: auto;  /* Change auto value with 200px if you want a bigger menu */
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding-bottom: 5px;
  min-width: 150px;
  z-index: 9999999;
}
.nav > ul > li:hover > ul {
  display: block;
}
.nav > ul ul li a {}
.nav > ul ul li a:hover {}

/* Level 3 */
.nav > ul > li > ul > li > ul {
  text-align: left;
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  padding-bottom: 5px;
  min-width: 150px;
  z-index: 9999999;
}
.nav > ul > li > ul > li:hover > ul {
  display: block;
}
.nav > ul ul ul li {}
.nav > ul ul ul li a {}
.nav > ul ul ul li a:hover {}

/* Level 4 */
.nav > ul > li > ul > li > ul > li > ul {
  text-align: left;
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  padding-bottom: 5px;
  min-width: 250px;
  z-index: 9999999;
}
.nav > ul > li > ul > li > ul > li:hover > ul {
  display: block;
}
.nav > ul ul ul ul li {}
.nav > ul ul ul ul li a {}
.nav > ul ul ul ul li a:hover {}
/* Vertically align images and links */
.nav > ul a, .nav > ul img{
  vertical-align: middle;
}

/* location variations: topmenu,leftmenu,rightmenu - defaults to topmenu when not specified */
/* leftmenu */
.nav.leftmenu {
  position: fixed;
  height: 100%;
}
.nav.leftmenu  ul  li {
  display: block;
}
.nav.leftmenu > ul > li > ul {
  top:0px;
  left:100%;
}
.nav.leftmenu > ul a.dropdown:after{
  content:' \23F5';
}
.nav.leftmenu > ul > li.right {
  float:none;
}
/* rightmenu */
.nav.rightmenu {
  text-align: left;
  position: fixed;
  height: 100%;
  right:0px;
}
.nav.rightmenu  ul  li {
  display: block;
  padding-left:0px;
}
.nav.rightmenu > ul > li {
  margin-left:0px;
}
.nav.rightmenu > ul > li ul {
  top:0px !important;
  right:100%;
  left:auto !important;
}
.nav.rightmenu > ul a.dropdown:after{
  content:'';
}
.nav.rightmenu > ul a.dropdown:before{
  content:'\23F4 ';
}
.nav.rightmenu > ul > li.right {
  float:none;
}
/* color variations: blue,gray,green,red,yellow,teal,white,black - defaults to white */
/* default color (white) if not specified */
.nav,
.nav > ul > li > ul,
.nav > ul > li > ul > li > ul,
.nav > ul > li > ul > li > ul > li > ul{background: #f8f9fa;}
.nav > ul a {color: #212529;}
.nav > ul a:hover,
.nav .active {background: #e2e6ea;}
.nav.topmenu {
  border-bottom:1px #e2e6ea solid;
  -webkit-box-shadow: inset 0 1px 1px #f8f9fa, 0 0 8px #e2e6ea;
  box-shadow: inset 0 1px 1px #f8f9fa, 0 0 8px #e2e6ea;
}
/* blue (primary in bootstrap) */
.nav.blue,
.nav.blue > ul > li > ul,
.nav.blue > ul > li > ul > li > ul,
.nav.blue > ul > li > ul > li > ul > li > ul{background: #0086fd;}
.nav.blue > ul a {color: #fff;}
.nav.blue > ul a:hover,
.nav.blue .active {background: #105fa6;}
.nav.topmenu.blue {
  border-bottom:1px solid #105fa6;
  -webkit-box-shadow: inset 0 1px 1px #0086fd, 0 0 8px #105fa6;
  box-shadow: inset 0 1px 1px #0086fd, 0 0 8px #105fa6;
}
/* grey (secondary in bootstrap) */
.nav.gray,
.nav.gray > ul > li > ul,
.nav.gray > ul > li > ul > li > ul,
.nav.gray > ul > li > ul > li > ul > li > ul{background: #6c757d;}
.nav.gray > ul a {color: #fff;}
.nav.gray > ul a:hover,
.nav.gray .active {background: #5a6268;}
.nav.topmenu.gray {
  border-bottom:1px solid #5a6268;
  -webkit-box-shadow: inset 0 1px 1px #6c757d, 0 0 8px #5a6268;
  box-shadow: inset 0 1px 1px #6c757d, 0 0 8px #5a6268;
}
/* green (success in bootstrap) */
.nav.green,
.nav.green > ul > li > ul,
.nav.green > ul > li > ul > li > ul,
.nav.green > ul > li > ul > li > ul > li > ul{background: #28a745;}
.nav.green > ul a {color: #fff;}
.nav.green > ul a:hover,
.nav.green .active {background: #218838;}
.nav.topmenu.green {
  border-bottom:1px solid #218838;
  -webkit-box-shadow: inset 0 1px 1px #28a745, 0 0 8px #218838;
  box-shadow: inset 0 1px 1px #28a745, 0 0 8px #218838;
}
/* red (danger in bootstrap) */
.nav.red,
.nav.red > ul > li > ul,
.nav.red > ul > li > ul > li > ul,
.nav.red > ul > li > ul > li > ul > li > ul{background: #dc3545;}
.nav.red > ul a {color: #fff;}
.nav.red > ul a:hover,
.nav.red .active {background: #c82333;}
.nav.topmenu.red {
  border-bottom:1px solid #c82333;
  -webkit-box-shadow: inset 0 1px 1px #dc3545, 0 0 8px #c82333;
  box-shadow: inset 0 1px 1px #dc3545, 0 0 8px #c82333;
}
/* yellow (warning in bootstrap)  */
.nav.yellow,
.nav.yellow > ul > li > ul,
.nav.yellow > ul > li > ul > li > ul,
.nav.yellow > ul > li > ul > li > ul > li > ul{background: #ffc107;}
.nav.yellow > ul a {color: #212529;}
.nav.yellow > ul a:hover,
.nav.yellow .active {background: #e0a800;}
.nav.topmenu.yellow {
  border-bottom:1px solid #e0a800;
  -webkit-box-shadow: inset 0 1px 1px #ffc107, 0 0 8px #e0a800;
  box-shadow: inset 0 1px 1px #ffc107, 0 0 8px #e0a800;
}
/* orange   */
.nav.orange,
.nav.orange > ul > li > ul,
.nav.orange > ul > li > ul > li > ul,
.nav.orange > ul > li > ul > li > ul > li > ul{background: #ff9800;}
.nav.orange > ul a {color: #212529;}
.nav.orange > ul a:hover,
.nav.orange .active {background: #e68a00;}
.nav.topmenu.orange {
  border-bottom:1px solid #e68a00;
  -webkit-box-shadow: inset 0 1px 1px #ff9800, 0 0 8px #e68a00;
  box-shadow: inset 0 1px 1px #ff9800, 0 0 8px #e68a00;
}
/* teal (info in bootstrap) */
.nav.teal,
.nav.teal > ul > li > ul,
.nav.teal > ul > li > ul > li > ul,
.nav.teal > ul > li > ul > li > ul > li > ul{background: #17a2b8;}
.nav.teal > ul a {color: #fff;}
.nav.teal > ul a:hover,
.nav.teal .active {background: #138496;}
.nav.topmenu.teal {
  border-bottom:1px solid #138496;
  -webkit-box-shadow: inset 0 1px 1px #17a2b8, 0 0 8px #138496;
  box-shadow: inset 0 1px 1px #17a2b8, 0 0 8px #138496;
}
/* white (light in bootstrap) */
.nav.white,
.nav.white > ul > li > ul,
.nav.white > ul > li > ul > li > ul,
.nav.white > ul > li > ul > li > ul > li > ul{background: #f8f9fa;}
.nav.white > ul a {color: #212529;}
.nav.white > ul a:hover,
.nav.white .active {background: #e2e6ea;}
.nav.topmenu.white {
  border-bottom:1px solid #e2e6ea;
  -webkit-box-shadow: inset 0 1px 1px #f8f9fa, 0 0 8px #e2e6ea;
  box-shadow: inset 0 1px 1px #f8f9fa, 0 0 8px #e2e6ea;
}
/* black (dark in bootstrap) */
.nav.black,
.nav.black > ul > li > ul,
.nav.black > ul > li > ul > li > ul,
.nav.black > ul > li > ul > li > ul > li > ul{background: #343a40;}
.nav.black > ul a {color: #fff;}
.nav.black > ul a:hover,
.nav.black .active {background: #23272b;}
.nav.topmenu.black {
  border-bottom:1px solid #23272b;
  -webkit-box-shadow: inset 0 1px 1px #343a40, 0 0 8px #23272b;
  box-shadow: inset 0 1px 1px #343a40, 0 0 8px #23272b;
}
/* tabs */
.nav.tabs{background:none;-webkit-box-shadow:none;box-shadow: none;}
.nav.tabs > ul a{
  border-top:1px solid #e2e6ea;
  border-left:1px solid #e2e6ea;
  border-right:1px solid #e2e6ea;
  border-top-right-radius:6px;
  border-top-left-radius: 6px;
}
.nav.tabs > ul a:hover,
.nav.tabs .active {
  border-top-right-radius:6px;
  border-top-left-radius: 6px;
}
/* ---------------------- modal ------------------------- */
.modal_overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9000;
  text-align: center; /* Center horizontally */
}
.modal_overlay:before { /* Center vertically, part 1 */
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.modal{
  display: inline-block;
  vertical-align: middle; /* Center vertically, part 2 */
  max-height: calc(100% - 100px);
  max-width: 90%;
  min-width:300px;
  min-height:50px;
  overflow:auto;
  z-index: 9010;
  background: #fff;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -ms-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);  
}
.modal .modal_title{
  margin:0 0 0 0;
  max-height:40px;
  overflow:hidden;
  font-size:1.3rem;
  font-weight:400;
  padding: 8px 10px;
  z-index: 9050;
  border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  position:sticky;
  top:0px;
}
.modal .modal_title .modal_close{
  position:absolute;
  top:6px;
  right:6px;
  z-index: 9051;
  font-size:16px;
  cursor:pointer;
  font-weight: 100;
  padding:0 0 10px 10px;
}
/* default color to black */
.modal_overlay{background-color: rgba(35, 39, 43, 0.4);}
.modal .modal_title{color:#fff;background-color:#343a40;border-bottom:1px solid #343a40;}
.modal .modal_title .modal_close{color:#fff;}
.modal .modal_title .modal_close:hover{color:#fff;}
.modal .modal_content {color:#212529;}
/* blue */
.modal_overlay.blue{background-color: rgba(0, 105, 217, 0.2);}
.modal .modal_title.blue{color:#fff;background-color:#007bff;border-bottom:1px solid #007bff;}
.modal .modal_title.blue .modal_close{color:#fff;}
.modal .modal_title.blue .modal_close:hover{color:#fff;}
/* secondary */
.modal_overlay.gray{background-color: rgba(90, 98, 104, 0.25);}
.modal .modal_title.gray{color:#fff;background-color:#6c757d;border-bottom:1px solid #6c757d;}
.modal .modal_title.gray .modal_close{color:#fff;}
.modal .modal_title.gray .modal_close:hover{color:#fff;}
/* success */
.modal_overlay.green{background-color: rgba(33, 136, 56, 0.2);}
.modal .modal_title.green{color:#fff;background-color:#28a745;border-bottom:1px solid #28a745;}
.modal .modal_title.green .modal_close{color:#fff;}
.modal .modal_title.green .modal_close:hover{color:#fff;}
/* danger */
.modal_overlay.red{background-color: rgba(200, 35, 51, 0.15);}
.modal .modal_title.red{color:#fff;background-color:#dc3545;border-bottom:1px solid #dc3545;}
.modal .modal_title.red .modal_close{color:#fff;}
.modal .modal_title.red .modal_close:hover{color:#fff;}
/* warning */
.modal_overlay.yellow{background-color: rgba(224, 168, 0, 0.15);}
.modal .modal_title.yellow{color:#212529;background-color:#ffc107;border-bottom:1px solid #ffc107;}
.modal .modal_title.yellow .modal_close{color:#212529;}
.modal .modal_title.yellow .modal_close:hover{color:#212529;}
/* orange */
.modal_overlay.orange{background-color: rgba(255, 152, 0, 0.15);}
.modal .modal_title.orange{color:#212529;background-color:#ff9800;border-bottom:1px solid #e68a00;}
.modal .modal_title.orange .modal_close{color:#212529;}
.modal .modal_title.orange .modal_close:hover{color:#212529;}
/* info */
.modal_overlay.teal{background-color: rgba(19, 132, 150, 0.15);}
.modal .modal_title.teal{color:#fff;background-color:#17a2b8;border-bottom:1px solid #17a2b8;}
.modal .modal_title.teal .modal_close{color:#fff;}
.modal .modal_title.teal .modal_close:hover{color:#fff;}
/* white */
.modal_overlay.white{background-color: rgba(226, 230, 234, 0.3);}
.modal .modal_title.white{color:#212529;background-color:#f8f9fa;border-bottom:1px solid rgba(0,0,0,0.19);}
.modal .modal_title.white .modal_close{color:#212529;}
.modal .modal_title.white .modal_close:hover{color:#212529;}
/* black */
.modal_overlay.black{background-color: rgba(35, 39, 43, 0.4);}
.modal .modal_title.black{color:#fff;background-color:#343a40;border-bottom:1px solid #343a40;}
.modal .modal_title.black .modal_close{color:#fff;}
.modal .modal_title.black .modal_close:hover{color:#fff;}
/* content */
.modal .modal_content{
  position:relative;
  padding: .45rem .65rem;
  z-index: 9040;
  text-align: left;
}

/* ---------------------- Button controls ------------------------- */
.btn,button.w_form-control {
    display: inline-block;
    cursor:pointer;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    padding: .375rem .75rem;
    font-size: 1rem;
    height: 34px;
    line-height: 1.42857143;
    border-radius: .25rem;
    text-transform: none;
    margin:0;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
label.btn, a.btn {height:auto;}
a.btn{text-decoration: none;}
.btn + .btn {
  margin-left:5px;
}
.btn:hover, button.w_form-control:hover{
  /*[horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]*/
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.15);
}
/* default color to white */
.btn{color: #6c757d;background-color: #ffffff;border-color: #6c757d;}
.btn:hover{background-color: #d6d6d6;}
/* primary */
.btn.blue{color: #fff;background-color: #007bff;border-color: #007bff;}
.btn.blue:hover{background-color: #0069d9;border-color: #0062cc;}
/* secondary */
.btn.gray{color: #fff;background-color: #6c757d;border-color: #6c757d;}
.btn.gray:hover{background-color: #5a6268;border-color: #545b62;}
/* success */
.btn.green{color: #fff;background-color: #28a745;border-color: #28a745;}
.btn.green:hover{background-color: #218838;border-color: #1e7e34;}
/* danger */
.btn.red{color: #fff;background-color: #dc3545;border-color: #dc3545;}
.btn.red:hover{background-color: #c82333;border-color: #bd2130;}
/* warning */
.btn.yellow{color: #212529;background-color: #ffc107;border-color: #ffc107;}
.btn.yellow:hover{background-color: #e0a800;border-color: #d39e00;}
/* orange */
.btn.orange{color: #212529;background-color: #ff9800;border-color: #e68a00;}
.btn.orange:hover{background-color: #e68a00;border-color: #ce7b00;}
/* info */
.btn.teal{color: #fff;background-color: #17a2b8;border-color: #17a2b8;}
.btn.teal:hover{background-color: #138496;border-color: #117a8b;}
/* white */
.btn.white{color: #212529;background-color: #f8f9fa;border-color: #dae0e5;}
.btn.white:hover{background-color: #e2e6ea;}
/* black */
.btn.black{color: #fff;background-color: #343a40;border-color: #343a40;}
.btn.black:hover{background-color: #23272b;border-color: #1d2124;}
/* -------------------- Form Controls compatible with bootstrap and materialize ------------*/
.input-field{
  position:relative;
  margin-top:22px;
  padding-left:0px !important;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
.btn-group > .btn + .btn {
  margin-left:0px;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) {
    margin-left: -1px;
}
.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    height:32px;
    line-height: 1.5;
    border-radius: 0.2rem;
}
form.w_form input, form.w_form select, form.w_form textarea, .form-control,.browser-default,.w_form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px; 
  border-radius:4px;
  box-sizing: border-box; 
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  border: 0; 
  padding: 5px 12px;  
  position: relative; 
  background-color: #FFF;
  color: #333;
  border: 1px solid #ccc;
}
form.w_form input, form.w_form select,input.browser-default, select.browser-default,
input.form-control, select.form-control,input.w_form-control, select.w_form-control {
  height: 34px;
  line-height: 1.42857143;
}
form.w_form input:focus, form.w_form select:focus, form.w_form textarea:focus, .form-control:focus, .browser-default:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
form label.control-label{
  display:block;
}
.form-control ~ label, .browser-default ~ label{
  position: absolute; 
  left: 14px; 
  width: 100%; 
  top: 10px; 
  color: #aaa; 
  transition: 0.3s; 
  z-index: -1; 
  letter-spacing: 0.5px;
}

/* right align placeholders since labels will be on the left */
input.form-control::-webkit-input-placeholder,
input.form-control:-moz-placeholder,
input.form-control::-moz-placeholder,
input.form-control:-ms-input-placeholder,
input.form-control::placeholder,
input.browser-default::-webkit-input-placeholder,
input.browser-default:-moz-placeholder,
input.browser-default::-moz-placeholder,
input.browser-default:-ms-input-placeholder,
input.browser-default::placeholder {
  text-align: right;
}

.form-control:focus ~ label, 
input.form-control:not(:placeholder-shown) ~ label,
textarea.form-control:not(:placeholder-shown) ~ label,
select.form-control ~ label,
.browser-default:focus ~ label, 
input.browser-default:not(:placeholder-shown) ~ label,
textarea.browser-default:not(:placeholder-shown) ~ label,
select.browser-default ~ label {
  top: -14px; 
  left: 0; 
  font-size: 12px;  
  transition: 0.3s;
  color: #333;
}
.form-control[required] ~ label:before, .browser-default[required] ~ label:before{
  content:"*";
  color:#dc3545;
  font-size:0.7em;
  vertical-align: top;
}
/* color variations */
.form-control.blue,.browser-default.blue{border: 1px solid rgba(0, 105, 217, 0.3);}
.form-control.gray,.browser-default.gray{border: 1px solid rgba(90, 98, 104, 0.3);}
.form-control.green,.browser-default.green{border: 1px solid rgba(33, 136, 56, 0.35);}
.form-control.red,.browser-default.red{border: 1px solid rgba(200, 35, 51, 0.3);}
.form-control.yellow,.browser-default.yellow{border: 1px solid rgba(224, 168, 0, 0.4);}
.form-control.orange,.browser-default.orange{border: 1px solid rgba(255, 152, 0, 0.4);}
.form-control.teal,.browser-default.teal{border: 1px solid rgba(19, 132, 150, 0.3);}
.form-control.white,.browser-default.white{border: 1px solid rgba(226, 230, 234, 0.9);}
.form-control.black,.browser-default.black{border: 1px solid rgba(35, 39, 43, 0.3);}

/*--------------------- table styles  -------------------------------------------*/
table.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}
table.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
table.table-bordered td, table.table-bordered th {
    border: 1px solid #dee2e6;
}
table.table td, table.table th {
    padding: .5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
table.table a{
  display:block;
  text-decoration: none;
  color:inherit;
  line-height: inherit;
}
table.table a:hover{
  text-shadow: 0 5px 11px rgba(0, 0, 0, 0.18);
}

/* -------------------- Grid System compatible with bootstrap ------------------ */
.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto
}

.container-fluid {
    padding-right: 2rem;
    padding-left: 2rem
}

.row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem
}

.row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.col.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.col-xs,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem
}

.col-xs {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%
}

.col-xs-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%
}

.col-xs-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%
}

.col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
}

.col-xs-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.col-xs-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%
}

.col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
}

.col-xs-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%
}

.col-xs-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
}

.col-xs-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%
}

.col-xs-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%
}

.col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
}

.col-xs-offset-0 {
    margin-left: 0
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}
/* small screen */
@media only screen and (min-width : 768px){
    .container {
        width: 49rem
    }

    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-offset-0,
    .col-sm-offset-1,
    .col-sm-offset-10,
    .col-sm-offset-11,
    .col-sm-offset-12,
    .col-sm-offset-2,
    .col-sm-offset-3,
    .col-sm-offset-4,
    .col-sm-offset-5,
    .col-sm-offset-6,
    .col-sm-offset-7,
    .col-sm-offset-8,
    .col-sm-offset-9 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }

    .col-sm {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }

    .col-sm-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .col-sm-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .col-sm-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .col-sm-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .col-sm-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .col-sm-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .col-sm-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .col-sm-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }
}

@media only screen and (min-width : 992px){
    .container {
        width: 65rem
    }

    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-offset-0,
    .col-md-offset-1,
    .col-md-offset-10,
    .col-md-offset-11,
    .col-md-offset-12,
    .col-md-offset-2,
    .col-md-offset-3,
    .col-md-offset-4,
    .col-md-offset-5,
    .col-md-offset-6,
    .col-md-offset-7,
    .col-md-offset-8,
    .col-md-offset-9 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }

    .col-md {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }

    .col-md-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .col-md-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .col-md-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .col-md-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .col-md-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .col-md-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .col-md-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .col-md-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .col-md-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .col-md-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .col-md-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .col-md-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .col-md-offset-0 {
        margin-left: 0
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }
}

@media only screen and (min-width : 1200px){
    .container {
        width: 76rem
    }

    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-offset-0,
    .col-lg-offset-1,
    .col-lg-offset-10,
    .col-lg-offset-11,
    .col-lg-offset-12,
    .col-lg-offset-2,
    .col-lg-offset-3,
    .col-lg-offset-4,
    .col-lg-offset-5,
    .col-lg-offset-6,
    .col-lg-offset-7,
    .col-lg-offset-8,
    .col-lg-offset-9 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }

    .col-lg {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }

    .col-lg-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .col-lg-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .col-lg-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .col-lg-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .col-lg-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .col-lg-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .col-lg-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .col-lg-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .col-lg-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .col-lg-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .col-lg-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .col-lg-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }
}
/* -------------------- hidding elements based on screen size ------------------ */
/* Breakpoint XS */
@media (max-width: 575px){
    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, 
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl{
        display: none !important;
    }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px){
    .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, 
    .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl{
        display: none !important;
    } 
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px){
    .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, 
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl{
        display: none !important;
    } 
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px){
    .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, 
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl{
        display: none !important;
    } 
}

/* Breakpoint XL */
@media (min-width: 1200px){
    .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up, 
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg{
        display: none !important;
    } 
}
/* -------------------- Badges ---------------- */
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
}
/* color variations - defaults to red */
.badge.blue {background-color: #0086fd;color: #fff;}
.badge.gray {background-color: #6c757d;color: #fff;}
.badge.green {background-color: #28a745;color: #fff;}
.badge,.badge.red {background-color: #dc3545;color: #fff;}
.badge.yellow {background-color: #ffc107;color: #212529;}
.badge.orange {background-color:#ff9800;color: #212529;}
.badge.teal {background-color: #17a2b8;color: #fff;}
.badge.white {background-color: #f8f9fa;color: #212529;}
.badge.black {background-color: #343a40;color: #fff;}
/* -------------------- Misc ------------------ */
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
summary {
    display: list-item;
    cursor: pointer;
}
pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
}
pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}
img.responsive,
img.img-responsive,
img.img-fluid {
  max-width: 100%;
  max-height: 100%;
}
hr[size="1"]{
  padding:0px;
  margin:5px 0px;
}
h5, .h5 {
    font-size: 1.25rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}