
body {
	font-family: serif;
}
.background-div{
	min-height:50%;
	max-height:50%;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	text-align:center;
	background: #c5deea; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #c5deea 0%, #8abbd7 31%, #4c88a6 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#c5deea), color-stop(31%,#8abbd7), color-stop(100%,#4c88a6)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #c5deea 0%,#8abbd7 31%,#4c88a6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #c5deea 0%,#8abbd7 31%,#4c88a6 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #c5deea 0%,#8abbd7 31%,#4c88a6 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #c5deea 0%,#8abbd7 31%,#4c88a6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#4c88a6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	@extend %w_preserve-3d
}

.navbar {
    border-radius: 0px;
}
.mybox {
    border: 2px solid #FFF;
    background: none repeat scroll 0% 0% #ededed;
    text-align: left;
    min-height: 160px;
    padding: 20px;
    color:#428bca;
}
.round{
	border-radius: 7px;
	[safari|chrome]-webkit-border-radius: 7px;
	-khtml-border-radius: 7px
}
.roundtops{
	[safari|chrome]-webkit-border-top-left-radius: 5px;
	-khtml-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	[safari|chrome]-webkit-border-top-right-radius: 5px;
	-khtml-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}
.roundbottoms{
	[safari|chrome]-webkit-border-bottom-left-radius: 5px;
	-khtml-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	[safari|chrome]-webkit-border-bottom-right-radius: 5px;
	-khtml-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}
.container{
	margin-top:20px;
}
a {
	color:#428bca;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.whiteback{background-color:#ffffff !important;}
.blackback{background-color:#102932 !important;}
.white{color:#ffffff !important;}
.black{color:#102932 !important;}
.reverse{direction: rtl;}
.centurygothic{
	font-family:Century Gothic;
}
.blackline{
	border:2px solid #102932;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
}

.pad15{padding:15px;}
.padtop{padding-top:15px;}
.italic{font-style:italic;}
.uppercase{text-transform: uppercase;}

#cart_wrapper{
	position:relative;
	bottom:0px;
	right:15px;
	height:20px;
}
#cart_wrapper a{
	color:#58c7fe;
}
.cart_summary{
	margin-top:6px;
	background:#102932;
	font-family: serif;
	color:#FFF;
	padding:0 15px 15px 15px;
	border-top:none;
	z-index:999;
	[safari|chrome]-webkit-border-bottom-left-radius: 7px;
	-khtml-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;
	[safari|chrome]-webkit-border-bottom-right-radius: 7px;
	-khtml-border-radius-bottomright: 7px;
	border-bottom-right-radius: 7px;
}
h1, h2, h3, h4, h5 {
	margin-top:0px;
	margin-bottom:3px;
}
.list-inline li{
	position:relative;
	z-index:99999;
}
.menu{
	font-size:40px;
	line-height:50px;
	font-weight:bold;
	color:#58c7fe;
	display:block;
	text-transform: uppercase;
	padding:0 10px 0 10px;
}
.menu:hover, .menu.active{
	text-decoration:none;
	color:#FFFFFF;
}
.menu:hover  + .menu_arrow_wrap .menu_arrow, .menu.active  + .menu_arrow_wrap .menu_arrow {
	display:block;
}
.menu_arrow_wrap{
	position: absolute;
	left: 50%;
}
.menu_arrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #102932;
    position:relative;
    bottom:-5px;
    left:-50%;
    margin:0 auto;
    display: none;
}
#slideshow{
	height:215px;
}
#slideshow img{
	display:none;
}


/* footer menu */
.footer{
	margin-bottom:20px;

}
.footer li a{
	color:#FFF;
	text-decoration:none;
}

.footer li a:hover, .footer li a.active {
	text-decoration:underline;
}


#container {
	width: 900px;
	margin: 0 auto;
}
.formtable{
	width:100%;
}

.formtable tr td{
	padding:3px;
}
.formtable tr td:nth-child(1){
	white-space: nowrap;
}
.formtable tr td:nth-child(2){
	width:100%;
}

.box {
	border:2px solid #ccc;
	border-radius:8px;
	padding:10px;
	margin-bottom:20px;
	position:relative;
	-webkit-box-shadow: 10px 10px 9px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 9px -5px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 9px -5px rgba(0,0,0,0.75);
}

.clearer {
	clear:both;
}

#footer {
	text-align:center;
	padding:20px 0;
	color:#af6f09;
}
#footer a {
	color:#af6f09;
}
