* {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background: #ffffff;
	color: #7b3f00;
}
a {
	font-size:12px;
	color:#000000;
	text-decoration:underline;
}
a:hover {
	font-size:12px;
	color:#000000;
	text-decoration:none;
}
.mainMenu {
	height:37px;
	margin:0 0 0 0;
	border-radius:8px;
	background: rgba(222,31,12,1);
	background: -moz-linear-gradient(top, rgba(222,31,12,1) 0%, rgba(165,3,1,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,31,12,1)), color-stop(100%, rgba(165,3,1,1)));
	background: -webkit-linear-gradient(top, rgba(222,31,12,1) 0%, rgba(165,3,1,1) 100%);
	background: -o-linear-gradient(top, rgba(222,31,12,1) 0%, rgba(165,3,1,1) 100%);
	background: -ms-linear-gradient(top, rgba(222,31,12,1) 0%, rgba(165,3,1,1) 100%);
	background: linear-gradient(to bottom, rgba(222,31,12,1) 0%, rgba(165,3,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de1f0c', endColorstr='#a50301', GradientType=0 );

}
.mainMenu ul {
	padding:6px 0 0 0;
}
.mainMenu li {
	list-style:none;
	display:inline;
	margin:0 10px;
}
.mainMenu li a {
	font-size:18px;
	color:#FFD12A;
	text-decoration:none;
	padding:0 10px;
}
.mainMenu li a:hover {
	font-size:18px;
	color:#ffffff;
	text-decoration:underline;
	padding:0 10px;
}
.mainMenu #active a{
	font-size:18px;
	color:#ffffff;
	text-decoration:none;
	padding:0 10px;
}
/* footer menu */
.footerMenu {
	margin-top:20px;
	margin:0 0 0 0;
}
.footerMenu ul {
	padding:6px 0 0 0;
}
.footerMenu li {
	list-style:none;
	display:inline;
	margin:0 10px;
}
.footerMenu li a {
	color:#af6f09;
	text-decoration:none;
	padding:0 10px;
}
.footerMenu li a:hover {
	color:#af6f09;
	text-decoration:underline;
	padding:0 10px;
}
.footerMenu #active a{
	color:#af6f09;
	text-decoration:underline;
	padding:0 10px;
}


.slogan1 {
	font-size:60px;
	font-style:italic;
	color:#96b95a;
	padding:30px 0 0 30px;
}
.slogan2 {
	font-size:60px;
	font-style:italic;
	color:#7b3f00;
	padding:0 0 0 30px;
}
.slogan3 {
	font-size:60px;
	font-style:italic;
	color:#FC5A8D;
	padding:0 0 0 30px;
}
#container {
	width: 800px;  
	margin: 0 auto; 
}
#header {
}
#mainContent {
}
.p1Top {
	height:20px;
	background:url(/images/p1Top.jpg) no-repeat left top;
}
.p1Bottom {
	height:20px;
	background:url(/images/p1Bottom.jpg) no-repeat left top;
}
.p1Body {
	background:url(/images/p1Body.jpg) repeat-y left top;
}
.box {
	border:2px solid #ccc;
	border-radius:8px;
	padding:10px;
	margin-bottom:20px;
	position:relative;
	-webkit-box-shadow: 10px 10px 9px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 9px -5px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 9px -5px rgba(0,0,0,0.75);
}

.clearer {
	clear:both;
}
.p2Top {
	height:20px;
	background:url(/images/p2Top.jpg) no-repeat left top;
}
.p2Bottom {
	height:20px;
	background:url(/images/p2Bottom.jpg) no-repeat left top;
}
.p2Body {
	background:url(/images/p2Body.jpg) repeat-y left top;
	padding:20px 40px;
}
.p3Body {
	background:url(/images/pFooter.jpg) repeat-y left top;
}
#footer {
	text-align:center;
	padding:20px 0;
	color:#af6f09;
}
#footer a {
	color:#af6f09;
}
