html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* -------------------- */
/* -- General Styles -- */
/* -------------------- */
#wrap { width: 960px; margin: 0 auto;  }
body { font-family: arial, sans-serif; background-color: #fff; color: #555; line-height: 24px; font-size: 14px; }
h1 { font-size: 38px; margin: 0 0 30px 0; }
h2 { font-size: 28px; margin: 40px 0 30px 0; }
h3 { font-size: 24px; margin: 40px 0 20px 0; }
h4 { font-size: 18px; margin: 30px 0 15px 0;}
h5 { font-size: 18px; margin: 30px 0 5px 0;}
p { margin: 0 0 15px 0; }
a { text-decoration: none; color: #2684cd; }
a:hover { color: #555; cursor: pointer; }
.home { background: url(/wfiles/images/home-bg.png) repeat-x; }
.page { background: url(/wfiles/images/page-bg.png) repeat-x; }
.hide { display: none; }
.title { margin-top: 0; }
.post-line { clear: both; border-bottom: 1px #ddd dotted; margin: 40px 0 45px 0; }
.cache-images { display: none }

/* ------------ */
/* -- Header -- */
/* ------------ */
#header { height: 150px; padding: 45px 0 0 0; }
#header img, #header h1 { float: left; }
#header h1 { font-size: 50px; margin: 32px 0 0 5px; }

/* --------- */
/* -- Nav -- */
/* --------- */
#nav { float: right; margin: 25px -15px 0 0;  }
.menu {	padding: 7px 6px 0 0; }
.menu li { margin: 0 5px; padding: 0 0 8px;	float: left; position: relative; }
.menu a { display: block; padding:  8px 15px; margin: 0; color: #555; text-decoration: none; font-size: 20px; }
.menu .current a, .menu li:hover > a { color: #2684cd; }
.menu ul li:hover a, .menu li:hover li a { color: #555; }
.menu ul a:hover { background: #2684cd !important; color: #fff !important; }
.menu ul { background: #eee; display: none; margin: 0; padding: 0; width: 250px; position: absolute; top: 35px; left: 20px; border: solid 1px #ddd; }
.menu li:hover > ul { display: block; }
.menu ul li { float: none; margin: 0; padding: 0; }
.menu ul a { font-size: 16px; }
.menu ul ul { left: 250px; top: -3px; }
.menu li.current_page_item a { color: #2684cd; }
.menu .sub-menu li.current_page_item a { color: #2684cd; }

/* ---------------------- */
/* -- Featured Section -- */
/* ---------------------- */
#featured-section { float: left; margin: 10px 0 0 0; }
#featured-section h2 { background: url(/wfiles/images/featured-title.png) no-repeat; width: 953px; height: 56px; text-indent: -9999px; margin-top: 0; }
#circles { float: left; margin: 10px 0 0 0; }
#circles img { float: left; border: none !important; margin: 0 0 0 36px; width: 213px; height: 205px; }
#featured-section .circle-red { background: url(/wfiles/images/circle-red.png) no-repeat; }
#featured-section .circle-pink { background: url(/wfiles/images/circle-pink.png) no-repeat; }
#featured-section .circle-orange { background: url(/wfiles/images/circle-orange.png) no-repeat; }
#featured-section .circle-yellow { background: url(/wfiles/images/circle-yellow.png) no-repeat; }
#featured-section .first { margin-left: 0; }

/* ------------------ */
/* -- Image Slider -- */
/* ------------------ */
#featured-section #image-slider { float: left; background: url(/wfiles/images/img-slider-bg.png) repeat-x; width: 960px; height: 250px; margin: 50px 0 0 0; border: 1px #ddd solid; background-color: #fff; }
.jcarousel-container-horizontal { float: left; margin: 15px 0 0 30px !important; }
#image-slider #mycarousel li { float: left; background: url(/wfiles/images/featured-img-bg.png) no-repeat; width: 264px; height: 260px; margin: 0 0 0 0px; }
#image-slider #mycarousel li.first { margin-left: 0; }
#image-slider #mycarousel img { margin: 9px 0 0 9px; padding: 5px; border: 1px #ddd solid; width: 240px; height: 165px; }
.jcarousel-prev-horizontal { margin: 90px 0 0 -18px; }
.jcarousel-next-horizontal { margin: 90px 50px 0 0; }

/* ---------------- */
/* -- Front Page -- */
/* ---------------- */
#frontpage-main { float: left; margin: 5px 0 50px 0; background-color: #fff; }
#frontpage-main h3 { margin-top: 0; }
#frontpage-content { float: left; width: 379px; padding: 0 100px 0 0; border-right: 1px #ddd dotted; }
#frontpage-content p { font-size: 16px; line-height: 24px; }
#frontpage-sidebar { float: right; width: 380px; padding: 0 0 0 100px; }
#frontpage-sidebar .meta, #frontpage-sidebar .meta a  { color: #aaa; font-size: 18px; }
#frontpage-sidebar .blog-title { font-size: 18px; }
#frontpage-sidebar .read-more { display: block; background: url(/wfiles/images/blue-button-bg.png) no-repeat; width: 141px; height: 34px; color: #fff; text-align: center; padding: 5px 0; }
#frontpage-sidebar .read-more:hover { background: url(/wfiles/images/red-button-bg.png) no-repeat; }
.blue-bullets { float: left; margin: 10px 0 0 0; }
.blue-bullets li { background: url(/wfiles/images/blue-bullet.png) no-repeat; height: 21px; position: relative; padding: 0px 0 18px 35px; }

/* ------------- */
/* -- Content -- */
/* ------------- */
#main { float: left; margin: 90px 0 50px 0; width: 100%; }
#content { float: left; width: 480px; padding: 0 165px 0 0; }

/* ---------- */
/* -- Page -- */
/* ---------- */
.page-headline { font-size: 36px; margin: -5px 0 0 0;}

/* --------------- */
/* -- Portfolio -- */
/* --------------- */
#porfolio-content { margin: 30px 0 0 0; }
.portfolio-item { float: left; margin: 0 0 57px 57px; }
.first { margin-left: 0; }
.portfolio-item img { border: 1px #ddd solid; }

/* ------------- */
/* -- Project -- */
/* ------------- */
#project-content { float: left; width: 480px; }
#project-header { margin: 0 0 25px 0; }
#project-content h3 { margin: 0 0 10px 0; }
#project-content h3 span { color: #888; }
#project-image-large img { float: right; border: 1px #ddd solid; }
#project-content .read-more { display: block; background: url(/wfiles/images/blue-button-bg.png) no-repeat; width: 141px; height: 34px; color: #fff; text-align: center; padding: 5px 0; margin: 25px 0 0 0; }
#project-content .read-more:hover { background: url(/wfiles/images/red-button-bg.png) no-repeat; }

/* ----------- */
/* -- Posts -- */
/* ----------- */
.post-title { margin: 0; }
.post-title a { font-size: 24px; color: #555; }
.post-title a:hover { font-size: 24px; color: #2684cd; }
.post-meta, .post-meta a { margin: 5px 0 20px 0; font-size: 18px; color: #888; }
.more-link { display: block; background: url(/wfiles/images/blue-button-bg.png) no-repeat; width: 141px; height: 34px; color: #fff; text-align: center; padding: 5px 0; margin: 25px 0 0 0; }
.more-link:hover { background: url(/wfiles/images/red-button-bg.png) no-repeat; color: #fff; }

/* ------------- */
/* -- Sidebar -- */
/* ------------- */
#sidebar { float: left; width: 315px; margin: 0; }
#sidebar .sidebar-title { margin-top: 0; }
#sidebar .sidebar-button { clear: both; display: block; background: url(/wfiles/images/orange-button-bg.png) no-repeat; width: 141px; height: 34px; color: #fff; text-align: center; padding: 5px 0; }
#sidebar .sidebar-button:hover { background: url(/wfiles/images/black-button-bg.png) no-repeat; }
.recent-projects { clear: both; }
#sidebar .portfolio-item { clear: both; margin: 0 0 20px 0; }

/* ------------------ */
/* -- Contact Form -- */
/* ------------------ */
#contact-details { float: left; width: 300px; padding: 0 120px 0 0; }
#contact-details .title { margin-top: 0; }
#contact-details h4 { margin: 0 0 5px 0; }
#contact-details span { color: #888; }
#contact-form-container { float: left; width: 450px;  }
#contact-form input {
	background: url(/wfiles/images/textinput-bg.png) repeat-x;
	border: 1px #ddd solid;
	padding: 15px;
	width: 250px;
	margin: 0 0 15px 0;
	font-size: 12px;
	color: #555;
	font-family: arial, sans-serif;
	[safari|chrome]-webkit-border-radius: 7px;
	border-radius: 7px;
}
#contact-form textarea {
	background: url(/wfiles/images/textarea-bg.png) repeat-x;
	border: 1px #ddd solid;
	padding: 15px;
	width: 350px;
	margin: 0 0 15px 0;
	font-size: 12px;
	color: #555;
	line-height: 18px;
	height: 150px;
	font-family: arial, sans-serif;
	[safari|chrome]-webkit-border-radius: 7px;
	border-radius: 7px;
}
#contact-form input[type="submit"] {
	display: block;
	background: url(/wfiles/images/blue-button-bg.png) no-repeat;
	width: 141px;
	height: 34px;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	margin: 25px 0 0 0;
	border: none;
	cursor: pointer;
	font-size: 12px;
	margin: 0 0 0 0;
}
#contact-form input[type="submit"]:hover {
	background: url(/wfiles/images/red-button-bg.png) no-repeat;
	color: #fff;
}
#response { background-color: #eee; border: 1px #ddd solid; padding: 10px; color: #ff0000; }

/* ------------ */
/* -- Footer -- */
/* ------------ */
#footer { float: left; border-top: 1px #ddd dotted; margin: 20px 0 0 0; padding: 15px 0 50px 0; width: 100%; }
